[2018-11-19 07:42] cdietrich commented on #897
@tivervac @lievenlemiengre will move this to Xtext 2.17

[2018-11-19 14:45] cdietrich commented on #625
Fixed in Xtext 2.16

[2018-11-19 14:45] #625 closed

[2018-11-20 08:11] ArneDeutsch commented on #953
Fixed,

[2018-11-20 08:11] #953 closed

[2018-11-20 09:17] cdietrich commented on #884
works as intended

[2018-11-20 09:17] #884 closed

[2018-11-21 09:44] cdietrich opened #967 "[Generator] Add option to set GenModel.rootExtendsClass from EMFGeneratorFragment2"

[2018-11-21 13:52] mark-christiaens opened #970 "Faulty EMF model analysis in the presence of rule fragments"
Consider this toy grammar:
[code]
combined with this Xcore model:
[code]
Xtext complains that _Cannot add supertype 'B' to sealed type 'A'._ for rule `ARule`.  Xtext does not complain about the equivalent `ARuleBis`.

I believe that there is something wrong with how rule fragments are checked.
![image](https://user-images.githubusercontent.com/813926/48845443-cf18f300-ed9c-11e8-905d-3d65fcb24bf9.p

[2018-11-21 14:55] cdietrich commented on #967
Fixed in 2.16

[2018-11-21 14:55] #967 closed

[2018-11-21 18:38] szarnekow commented on #970
Thank you for the report. You can workaround that problem by marking the fragment as a wildcard fragment: `fragment Bfragment *: a?='a';`

[2018-11-26 12:42] cdietrich opened #971 "Make Junit5 Support API"
Currently our JUnit 5 Support is still beta. we should finalize and publish it as API

[2018-11-30 10:39] cdietrich commented on #893
Fixed

[2018-11-30 10:39] #893 closed

[2018-12-06 12:49] cdietrich commented on #971
@kthoms @szarnekow what do you think?

[2018-12-07 14:01] cdietrich opened #975 "Adapt to Potential LSP4J snapshots builder server move"
https://github.com/eclipse/lsp4j/issues/290

[2018-12-12 11:42] JanKoehnlein opened #978 "[Bug 542705] [generator/wizard] version in generated files is still 2.15"
I am creating a new language with Xtext 2.16. (Installed as 2018/12 DSL distro).

All generated files refer to the last version "Generated with 2.15" in their header comment. The gradle file also sets the Xtext version to 2.15.

![screen shot 2018-12-12 at 12 42 24](https://user-images.githubusercontent.com/377752/49867652-6658ef80-fe0b-11e8-979c-d384e6b520a9.png)

[2018-12-12 11:45] cdietrich commented on #978
@jan any reason not using github?
did you double check the distro contains 2.16?

cannot reproduce this when installing Xtext 2.16 into a plain eclipse

[2018-12-12 11:47] cdietrich commented on #978
@jan can you check the manifest for the "maven-version" attribute in xtext.util

[2018-12-12 11:50] cdietrich commented on #978
cant reproduce it with eclipse-dsl-2018-12-RC1-linux-gtk-x86_64.tar.gz neither

[2018-12-12 11:52] jan commented on #978
@cdietrich sorry can't help you with that. ;-) Hope @JanKoehnlein can.

[2018-12-12 12:07] JanKoehnlein commented on #978
The root of this error is the wrong version in the gradle file. This pulls 2.15 which causes all other versions to be 2.15.

[2018-12-12 12:58] cdietrich commented on #978
what do you exactly select in the wizard?

[2018-12-12 13:05] JanKoehnlein commented on #978
<img width="543" alt="screen shot 2018-12-12 at 14 04 31" src="https://user-images.githubusercontent.com/377752/49871600-f7819380-fe16-11e8-959b-f8cbbe9f3f91.png">

[2018-12-12 13:08] JanKoehnlein commented on #978
That sucks. I even deleted the workspace. Any further idea how we can track this down?

[2018-12-12 13:11] cdietrich commented on #978
as i said: unzip the xtext.util jar

[2018-12-12 13:11] cdietrich commented on #978
(the one of eclipse)

[2018-12-12 13:19] JanKoehnlein commented on #978
org.eclipse.xtext.util_2.16.0.v20181203-0514.jar

[code]

[2018-12-12 13:19] cdietrich commented on #978
Maven-Version: 2.16.0

are you sure this is used?

[2018-12-12 13:20] cdietrich commented on #978
=> you can remote debug into the XtextVersion class

[2018-12-12 13:58] kthoms commented on #978
<img width="1108" alt="screenshot 79" src="https://user-images.githubusercontent.com/265597/49874254-50a0f580-fe1e-11e8-96a2-d5cfeed89cdf.png">

Can't confirm with a fresh installation

[2018-12-13 10:34] MarkusAmshove opened #979 "Generated ui.tests plugin can't be run with tycho"
Hi,

I've created a new Xtext project with Xtext 2.16.0 and chose to create an Eclipse plugin and use Maven as my build system.

When invoking `mvn verify` in the parent project, I get the following Exceptions when the ui tests are run, which will fail the build:

[code]

[2018-12-13 10:38] cdietrich commented on #979
@MarkusAmshove which tycho version did you use?

[2018-12-13 11:21] MarkusAmshove commented on #979
I had to use `1.2` because I can't get their snapshot or staging repository through our proxy.

But thanks for the hint, I'll wait for `1.3` then :-)

[2018-12-13 15:46] cdietrich commented on #937
Will need Tycho 1.4

[2018-12-15 17:42] MarkusAmshove commented on #979
Thanks, I'll test it on monday and report back

[2018-12-17 06:54] MarkusAmshove commented on #979
I can confirm that it works now :+1:

[2018-12-17 06:54] #979 closed

[2018-12-17 10:27] JanKoehnlein opened #981 "[build] provide an easy to execute "create project" CLI tool"
It's nice that we can create new Xtext projects from the command line, but setting up everything in order to run the respective Java class is still a bit tedious.

We should create at least some distro zip during the build with the required libs and scripts to assemble the classpath, locate the JRE, and launch the app.

[2018-12-17 10:40] JanKoehnlein commented on #981
Why is `args4j` an optional dependency of `org.eclipse.xtext.xtext.wizard`?

[2018-12-17 10:45] cdietrich commented on #981
Cause you don’t have the command line class but you can

[2018-12-17 10:47] JanKoehnlein commented on #981
The non-CLI usecase is Eclipse, isn't it? Does it really matter to add another jar of 159k then?

[2018-12-17 10:51] cdietrich commented on #981
There is no availability in orbit maybe. Or on default platform so that we would have to repackage it to our update site
But why is it a problem?

[2018-12-17 11:55] JanKoehnlein commented on #981
Maybe we should refactor it to use something like apache.cli.

[2018-12-17 12:01] cdietrich commented on #981
am not sure if apache cli is even more heavyweight. so the problem is that you cannot tell the gradle application plugin to include optional dependencies. @oehme do you know a way to do so?

[2018-12-17 12:03] kthoms commented on #981
Same there, the dependency (commons-cli then) should be optional.

[2018-12-17 12:18] JanKoehnlein commented on #981
...or, the CLI class is just placed into the wrong project.

I still don't quite get the weight argument. As far as Orbit is concerned, does that really make a difference when a dependency is optional? And do you really search for executables at Maven? How would that make consumption easier?

This was just a quick shot at making an pretty incomplete feature a bit more usable. Likely, still not com

[2018-12-17 12:19] cdietrich commented on #981
well i think it was ment to be used from outside where you can provide the dependencies you need.

[2018-12-17 12:24] cdietrich commented on #373
am not sure if the current IncrementalBuilder is too "stupid" to handle such a case.
if we could tell in build request if a generation should happen.
then we can do the generation in initial build and on save (which we currently ignore in lsp)
and do not generator during document changes
(am not sure what about side usecases like file gets green during change on other file)

[2018-12-17 12:33] kthoms commented on #981
The publishing to Maven Central is done by [your publishing plugin](https://github.com/TypeFox/publishing.git). Please ask @spoenemann or @dhuebner what needs to be done to package the application to a zip and deploy it with an additional classifier coordinate (`cli` could be an appropriate classifier) to artifact coordinate [`org.eclipse.xtext:org.eclipse.xtext.xtext.wizard`](https://search.maven

[2018-12-17 13:26] kthoms opened #983 "DiagnosticConverterImpl: Make message customizable"
In a special use case we want to customize the message for produced issues that differ from the diagnostic's message (to be specific: the diagnostic's data carries an exception and the message should contain the exception type and even stack trace).

The creation of diagnostics from exceptions therefore should be customizable.

[2018-12-17 13:42] kthoms commented on #983
CC @fabtagon

[2018-12-17 16:11] svenefftinge commented on #373
As said before, we could only generate if all files are in sync with the file system, because a just saved file could reference a dirty document that affects the code generation.
I imagine that it will be surprising or at least non-intuitive for users if we only generate once all editors are saved.
Depending on the actual language and code generator this might not be an issue. I just would like to

[2018-12-18 06:55] kthoms opened #985 "AbstractDeclarativeValidator: Make swallowing of NPEs configurable"
In AbstractDeclarativeValidator.MethodWrapper#handleInvocationTargetException NPEs are swallowed as convenience feature. This should be configurable.

Background: A customer did not recognize programming issues when running validations in a headless generator. The validation methods threw NPEs which were caught silently, leaving them in the wrong assumption that all validation rules were executed

[2018-12-20 05:58] cdietrich commented on #393
https://github.com/eclipse/xtext-core/issues/393

[2019-01-08 16:45] cdietrich commented on #937
adapt domainmodel and https://github.com/xtext/maven-xtext-example too

[2019-01-14 13:28] soerendomroes opened #989 "Register multiple language server extensions independent of language registration"
Hi, I want to register multiple language server extensions and languages in the same language server.
Currently I register my languages and the extensions same as seen in [yang-lsp](https://github.com/theia-ide/yang-lsp/blob/master/yang-lsp/io.typefox.yang.diagram/src/main/java/io/typefox/yang/diagram/YangServerLauncher.xtend). However binding multiple IdeLanguageServerExtensions or ILanguageServe

[2019-01-14 14:30] cdietrich commented on #989
hi i am not sure if i understand your problem. xtext service loader will load all languages anncounced via ISetup
can you please explain?

[2019-01-16 11:20] cdietrich opened #991 "[Wizard] Gradle: Remove Deployment to Local Repo"
We remove the convenice generation of maven deployment into gradle.
if users want to they can configure the gradle maven or gradle publishing plugins themselves

[2019-01-16 11:23] kthoms commented on #991
The wizard creates a `maven-deployment.gradle` file. This makes use of the deprecated `maven` Gradle plugin. We decided to drop this feature and make the wizard to not generate and use this file.

[2019-01-16 12:32] Mehmetcanss opened #993 "Grammar loaded twice when another Xtext grammar depends on it"
When the "**house.xtext**" grammar is dependent on another grammar "**person.xtext**" the person grammar is loaded twice

1) Once from the Xtext bin files (org.eclipse.xtext.ISetup File)
2) A second load via the PersonStandaloneSetup.doSetup() call inside the HouseStandaloneSetupGenerated.createInjectorAndDoEMFRegistration() Method

A consequence of this is that the Content Assist for the Person G

[2019-01-16 14:04] cdietrich commented on #981
dependency is now non optional

[2019-01-16 16:08] soerendomroes commented on #989
I want to register additional LSP messages that are implemented by extending `ILanguageServerExtension` independent of the languages I register. How can I do that?

[2019-01-16 16:10] cdietrich commented on #989
cc @svenefftinge

[2019-01-17 12:30] soerendomroes commented on #989
I found a solution to register one extension (I will test it with multiple) independent of the language:
[code]
`regExtension` is a `ILanguageServerExtension` and languageServer the `LanguageServerImpl`.
Doing this `val launcher = Launcher.createIoLauncher(#[languageServer, regExtension], LanguageClient, in, out, threadPool, [it], configureGson)` does not work.

[2019-01-18 11:02] cdietrich commented on #993
i think we need a special standalone setup that can handle this and creates injectors only once / does only metamodel registrations for parent grammar and not injector creation as well

[2019-01-18 11:02] cdietrich commented on #993
cc @kittaakos @svenefftinge

[2019-01-18 11:02] cdietrich commented on #991
@kthoms is this fixed?

[2019-01-18 11:16] kthoms commented on #991
Fixed in 2.17

[2019-01-18 11:16] #991 closed

[2019-01-18 13:55] #989 closed

[2019-01-18 14:18] soerendomroes opened #997 "Initialize method of ILanguageServerExtension only called if registered together with language"
The `initialize` method of a `ILanguageServerExtension` is only called, if the implementing class is registered together with a language (meaning such as in the following example):
[code]
In this example `MyModule` extends on `IdeDiagramModule` and binds a `IdeLanguageServerExtension` (similar to [`YangDiagramModule`](https://github.com/theia-ide/yang-lsp/blob/master/yang-lsp/io.typefox.yang.diagr

[2019-01-18 15:07] cdietrich commented on #971
Fixed in 2.17

[2019-01-18 15:07] #971 closed

[2019-01-20 10:07] cdietrich commented on #997
i assume this is cause the place is not under control from the xtext LanguageServerImpl.

[2019-01-20 10:16] #705 closed

[2019-01-21 06:52] svenefftinge commented on #997
I am not sure I understand this bit. Do you mean a different injector than the one that is created through `createInjector` from the code above?

[2019-01-21 09:13] soerendomroes commented on #997
Yes, I figure that is one of the problems I have here. I want to register multiple languages like this:
[code]
My `ILanguageServerExtensions` are not language dependent and I cannot register them all together with a language (see the example above). I plan to register them at the `Launcher` like this:
[code]
One of them however is a [DiagramLanguageServerExtension](https://github.com/theia-ide/spr

[2019-01-23 12:16] soerendomroes commented on #997
I think initializing other localServices is not possible in the `LanguageServerImpl`.

[2019-01-23 12:16] #997 closed

[2019-01-23 15:23] soerendomroes opened #1001 "[Language Server] Notifications about supported languages (and syntax highlighting)"
I know syntax highlighting is a client thing #283, but it would be nice to have a language server that can notify connecting clients about the languages (and maybe keywords or other information about the languages).
I use a language server that supports multiple DSLs that may change over time and Theia as a client.

Is this something you plan to add, is it out of question (as mentioned in #283), o

[2019-01-23 15:24] cdietrich commented on #1001
cc @kittaakos can you help out here?

[2019-01-23 15:44] kittaakos commented on #1001
@soerendomroes, although the [semantic highlighting extension](https://github.com/Microsoft/vscode-languageserver-node/pull/367) is not yet part of the LSP, LSP4J has the API for it with `@Beta`. See [here](https://github.com/eclipse/lsp4j/blob/1a5507d96601199ef20b7129068ae5a5f295482d/org.eclipse.lsp4j/src/main/java/org/eclipse/lsp4j/services/LanguageClient.java#L136).

[Here](https://github.com/t

[2019-01-23 15:53] soerendomroes commented on #1001
Ok, I already looked into that, but it does not seem useful for my context, since keywords of the language are still hard coded in the TextMate grammar. Currently I use an LS-extension that responses with the keywords for the languages and dynamically adds syntax highlighting.
Back to my question: Is it planed to add a notification to inform the client which languages the LS supports? This seems t

[2019-01-23 15:56] cdietrich commented on #1001
i still dont see what problem that solves:
- the packaging of ls is client specific so it already knows the languages anyway cause you have to define what languages exist in all clients
- the keywords for client side highlighting and the one from server side highlighting dont need to relate. so the server will send the highlighting regions for the keywords as well. so an empty list or some dummy k

[2019-01-23 15:59] soerendomroes commented on #1001
Ok, I did not know that the keywords where not relevant, thank you :)

[2019-01-23 15:59] #1001 closed

[2019-01-27 09:27] cdietrich opened #1003 "generateTestLanguages does not work in combination with clean build"
am not sure if. e.g. extras is affected too
`./gradlew clean build -PuseJenkinsSnapshots=true generateTestLanguages --gradle-user-home=.g`

[code]

[2019-01-28 12:46] cdietrich commented on #1003
i wonder if this ever worked.

[2019-01-28 14:04] cdietrich commented on #1003
problem is here: test.finalizedBy(cleanupEcoreFiles)
but this means that generateTestLanguages runs after test and not before

[2019-01-28 14:23] cdietrich commented on #1003
@oehme do you have a hint.
how can i sort generateTestLanguages before testCompileJava?
but access the resources on classpath?

[2019-01-28 14:24] cdietrich commented on #1003
maybe something like

[code]

[2019-01-28 15:21] oehme commented on #1003
You need to specify the inputs, e.g.

[code]

[2019-01-28 15:37] cdietrich commented on #1003
@oehme doent that for a generateTestLanguages

[2019-01-28 16:14] oehme commented on #1003
Not sure what you mean by "force"?

[2019-01-28 16:19] cdietrich commented on #1003
wont that lead the generateTestLanguages task needs to be executed for compile.
what i want is: if generateTestLanguages is executed (manually) that then if "build" is excuted as well. that then the generateTestLanguages happens before test

[2019-01-28 18:40] oehme commented on #1003
Sorry, I meant to put `test` in the snippet above, not `compileJava`

[2019-01-28 18:42] oehme commented on #1003
Of course, they are an input to compilation after all.

Nothing in a build should require manual intervention. If I say `test`, everything needed for the tests should be built.

[2019-01-28 19:02] cdietrich commented on #1003
We have checked in stuff and generation is optional. Generation takes too long and should not happen on a every build basis

[2019-01-28 19:04] oehme commented on #1003
That's what up-to-date checking is for :)

[2019-01-28 19:15] cdietrich commented on #1003
Yes but that’s a different topic. We are too far away from using such features and don’t have the manpower to work on it

[2019-01-29 07:53] cdietrich opened #1005 "[Wizard] Investigate if Mwe.launch can be managed by bom only"
[Wizard] Investigate if Mwe.launch can be managed by bom only
currently the wizard created an explizit version to pom and gradle file as well

[2019-01-29 08:58] cdietrich commented on #1003
Extras has the same issue.

[2019-01-29 09:02] kthoms commented on #1005
Wizard creates currently
[code]
for Gradle projects to build.gradle

and
[code]
in Maven projects in the runtime module.

Since MWE artifacts are managed by the BOM, the declaration of a version becomes obsolete.

The wizard should not create versions for mwe2.launch to to build descriptors.

[2019-01-29 09:32] oehme commented on #1003
What do you mean by "too far away"? You need to specify the inputs and outputs of that task. The inputs are the DSL sources and mwe dependencies and the outputs are the generated classes/resources. You already do this for the example builds, so why not here?

[2019-01-29 09:35] cdietrich commented on #1003
jenkins creates machines and thus daemons randomly. => there is no stable situation when local caching is actualy used => we would have to use shared cache

[2019-01-29 09:39] oehme commented on #1003
So not even CI runs the test language generation? How do you know it's not broken at any time?

[2019-01-29 09:40] cdietrich commented on #1003
exactly

[2019-01-29 09:41] oehme commented on #1003
Installing the [cache node](https://hub.docker.com/r/gradle/build-cache-node/) is just a docker container away btw.

[2019-01-29 09:42] cdietrich commented on #1003
on eclipse infrastructure ....

[2019-01-29 09:44] oehme commented on #1003
Why? It doesn't have to be on their infrastructure, itemis can host it or you can put it on AWS in a datacenter near the Eclipse servers.

[2019-01-29 09:46] cdietrich commented on #1003
will talk to the team about that

[2019-01-29 13:02] soerendomroes commented on #993
I had the same problem and solved it by making the injector returned by the `doSetup()` method Singleton and registering the parent grammar before the child grammar.

[2019-02-04 09:36] cdietrich commented on #897
@tivervac @lievenlemiengre any updates on this?

[2019-02-04 10:07] cdietrich commented on #622
@szarnekow could you have a look

[2019-02-04 13:14] tivervac commented on #897
@cdietrich Will come back to this next week when Lieven is available again.

[2019-02-04 13:39] mark-christiaens commented on #797
I was wondering if the following is a manifestation of the same issue or is maybe a different issue?:

- Xtext 2.16
- I open `org.eclipse.xtext.ide.server.concurrent.RequestManager` (CTRL-SHIFT-T).  I don't have the actual project, `org.eclipse.xtext.ide` open in my workspace so Eclipse opens the associated source from the Jar-file.
- On line 45, there is a reference to `ReadRequest`.
- When I try

[2019-02-04 13:42] cdietrich commented on #797
this looks like the same issue if there is more than one ReadRequest

[2019-02-04 13:43] cdietrich commented on #797
@mark-christiaens is your project a gradle or maven or pure eclipse project?

[2019-02-04 13:45] cdietrich commented on #797
ander thing might be that cause its in the same file it might do nothing or dont do a select/reveal

[2019-02-04 13:53] mark-christiaens commented on #797
I installed a complete new workspace using the Eclipse installer to make sure it has nothing to do with my own setup.  So this is a new workspace that contains the Xtext project itself and nothing else.

![image](https://user-images.githubusercontent.com/813926/52212303-71b91c00-288c-11e9-9d44-e33d509b9594.png)

After the install, I (with the `org.eclipse.xtext.ide` project opened) can navigate to

[2019-02-04 13:58] mark-christiaens commented on #797
I doubt that it has anything to do with select/reveal since the navigation works as expected when I open the actual `org.eclipse.xtext.ide` project and work straight on the original sources.

[2019-02-04 13:59] cdietrich commented on #797
org.eclipse.xtext.ui.editor.LanguageSpecificURIEditorOpener.open(URI, EReference, int, boolean) is a noop in this case. => different issue

[2019-02-04 14:04] cdietrich commented on #797
@szarnekow does the code expect to find the .xtend files in the jar?

[2019-02-04 16:34] szarnekow commented on #797
Looks like the thing is not even linked correctly, e.g. I don't get any hover info.

[2019-02-05 09:06] kthoms commented on #985
AbstractDeclarativeValidator has a new method `handleExceptionDuringValidation(Throwable)` which handles exceptions and can be overridden.

[2019-02-05 09:06] #985 closed

[2019-02-05 09:30] mark-christiaens commented on #797
Indeed, I too see that "mark occurrences" works as intended.  So what's the conclusion?  Should I file a separate issue?

[2019-02-05 09:55] szarnekow commented on #797
Nope, this issue here says it all. Initially I thought that no links are resolved at all, but that does not seem to be the case.

[2019-02-05 10:31] cdietrich commented on #983
@kthoms anything left

[2019-02-05 10:36] kthoms commented on #983
DiagnosticConverterImpl contains now `getMessage()` methods, which can be overridden by a customized class.

[2019-02-05 10:36] #983 closed

[2019-02-05 13:42] szarnekow opened #1018 "MergableManifest produces surprising results"
Renerating Xtends yields this diff:
[code]

[2019-02-05 20:43] cdietrich commented on #935
maven-surefire-plugin 3.0 Final is not yet out

[2019-02-06 09:18] ArneDeutsch commented on #1018
Hmmm ... functionally wise it should not make any difference. Internally a newline followed by blank will merge the two lines into one anyway. But I see that a diff is not nice. I will have a look if I can generate differently. Do you consider this an urgend or more as a minor issue?

[2019-02-06 09:21] szarnekow commented on #1018
It's a minor issue. Just caught my attention after I regenerated all the things (tm). If we want to keep it as is, we should regenerate the test langs to avoid diffs later on, that are unrelated.

[2019-02-06 09:32] soerendomroes opened #1019 "[Language Server] Performance issue: publishDiagnostic on startup for whole workspace"
I am not sure if this is a problem of my client or of the langauge server:
When I open a new workspace and a new initialize request is sent my language server sends diagnostics for all files in the workspace. This causes severe performance issues. Is this something I can turn of or does the initilize message somehow provoke this?
This is the initialize message:
```{"jsonrpc":"2.0","id":0,"method":

[2019-02-06 10:07] soerendomroes commented on #1019
Here some more information: I am using Theia as a client and use xtext 2.16 to build a language server. After I open the first file the language server is started and seems to parse all files in my workspace. I waited 20min and no reply to the initialize request was send and the LS was still busy doing something. If I use a smaller workspace this problem does not occur. The Client does not explici

[2019-02-06 10:56] cdietrich commented on #1019
Did you increase memory for the server ?

[2019-02-06 10:57] cdietrich commented on #1019
See https://github.com/eclipse/xtext-core/issues/516 as well

[2019-02-06 10:58] cdietrich commented on #1019
I assume you can customize the behavior by not validating on initialize

[2019-02-06 11:03] soerendomroes commented on #1019
I did not increase memory but I will try whether this helps.

[2019-02-06 11:04] soerendomroes commented on #1019
I have only ~7k files. Maybe I will try a medium sized workspace with only several hundreds.

[2019-02-06 11:43] soerendomroes commented on #1019
More memory for a smaller, but still big, workspace seems to work, but it still needs several minutes to complete, where can this feature be turned of? I think it would be enough to parse files that are explicitly opened.
Why is this only a problem for the language server? I think a normal eclipse product should runin the same issues or is this handled differently?

[2019-02-06 11:53] cdietrich commented on #1019
Is the problem the validation or the publish?

As i said you need how you can Change org.eclipse.xtext.ide.server.WorkspaceManager.initialize(URI, (URI, Iterable<Issue>)=>void, CancelIndicator)
or
org.eclipse.xtext.ide.server.LanguageServerImpl.publishDiagnostics(URI, Iterable<? extends Issue>)
(which is private unfortunately

[2019-02-06 11:54] cdietrich commented on #1019
can you provide a profiling yourkit preferred, maybe jvisualvm?

[2019-02-06 11:55] soerendomroes commented on #1019
The initialize is the problem, the publishDiagnostics notification is not sent.

[2019-02-06 11:56] cdietrich commented on #1019
=> you need to profile

[2019-02-06 12:02] soerendomroes commented on #1019
Ok, I attached YourKit to my language server, what exactly do you need? Memory consumption?

[2019-02-06 12:05] cdietrich commented on #1019
CPU profiling, and memory snapshot if you have both

[2019-02-06 12:10] soerendomroes commented on #1019
Is this sufficient?
[Chart--CPU-time.txt](https://github.com/eclipse/xtext-core/files/2836252/Chart--CPU-time.txt)

[Chart--Heap-memory.txt](https://github.com/eclipse/xtext-core/files/2836256/Chart--Heap-memory.txt)

[2019-02-06 12:13] cdietrich commented on #1019
dont know these files formats
actually having a snapshot file is what i preferr

[2019-02-06 12:14] soerendomroes commented on #1019
Snapshot file is too big...

[2019-02-06 12:19] cdietrich commented on #1019
can you share it with google drive / ms drive etc?

[2019-02-06 12:19] cdietrich commented on #1019
cpu snapshot only would help and should not be too big.

[2019-02-06 12:21] soerendomroes commented on #1019
Right, just change the file-extension
[kieler.exe-2019-02-06(1).snapshot.txt](https://github.com/eclipse/xtext-core/files/2836285/kieler.exe-2019-02-06.1.snapshot.txt)

[2019-02-06 12:22] soerendomroes commented on #1019
I can send you the memory snaphsot via wetransfer if that is okay for you.

[2019-02-06 12:25] cdietrich commented on #1019
you need to do actually do a cpu profilig for me to get suffient data.
but why i can see is that memory is at limit
=> can you try e.g. 2gb istead of 1GB

[2019-02-06 12:33] soerendomroes commented on #1019
[kieler.exe-cpu-2019-02-06.snapshot.txt](https://github.com/eclipse/xtext-core/files/2836318/kieler.exe-cpu-2019-02-06.snapshot.txt)

[2019-02-06 12:35] cdietrich commented on #1019
there are no obvious bottlenecks => please try with 2gb

[2019-02-06 12:39] soerendomroes commented on #1019
[kieler.exe-cpu-2019-02-06(GB2).snapshot.txt](https://github.com/eclipse/xtext-core/files/2836344/kieler.exe-cpu-2019-02-06.2.snapshot.txt)

[2019-02-06 12:46] cdietrich commented on #1019
please set Xms to 2GB too. i dont see where it actually makes use of the two gb.
and again start with cpu profing
will find time to look into maybe next week

[2019-02-06 12:50] soerendomroes commented on #1019
Memory snapshot from a new minute in:
https://drive.google.com/open?id=13Z4fZkw-1oHNQeJN_Lk4Wjd3wiixzMP-

[2019-02-06 12:53] cdietrich commented on #1019
did you try with Xms 2GB?

[2019-02-06 12:53] soerendomroes commented on #1019
[kieler.exe-2019-02-06(cpuXms2GB).snapshot.txt](https://github.com/eclipse/xtext-core/files/2836381/kieler.exe-2019-02-06.Xms2GB.snapshot.txt)

[2019-02-06 12:54] soerendomroes commented on #1019
No, but you will get that too. Is it relevant to you how long the LS runs before I take a snapshot?

[2019-02-06 12:56] soerendomroes commented on #1019
Memory Xms2GB:
https://drive.google.com/open?id=1HLzpqhVNJGRwl2iZaMP23ECxJLGuWxIf

[2019-02-06 12:57] cdietrich commented on #1019
and cpu with that?

[2019-02-06 12:58] soerendomroes commented on #1019
the cpu snapshot I send before should be from the same run

[2019-02-06 13:02] soerendomroes commented on #1019
I can send you another one after on hour of running (if the language server needs this long to connect)

[2019-02-06 13:02] cdietrich commented on #1019
looks like your scoping is quite cpu intense.
are you sure the very same doesnt take as long ran from eclipse?

[2019-02-06 13:05] cdietrich commented on #1019
i would test this locally with e.g. vscode (or even a unit test)

[2019-02-06 13:08] soerendomroes commented on #1019
Yes, if I start the eclipse product it is no problem to open this workspace. Running the eclipse product as a langauge server however causes this problem.

[2019-02-06 13:10] cdietrich commented on #1019
and you did not do any performance optimizations specific for eclipse and restrict eclipse memory the same way as you do it lsp and you have one project only

[2019-02-06 13:12] soerendomroes commented on #1019
I have one project only and applied the same memory restrictions. The eclipse application is ready in several seconds. The LS in 30+. I am not sure about performance optimizations for eclipse but I will look into that.

[2019-02-06 13:13] cdietrich commented on #1019
=> please do intense cpu prodiling and see whats the difference

[2019-02-06 13:16] cdietrich commented on #1019
it may be that the lsp impl does bad usage of the Xtext index
which does not happen in eclipse.
but on the first glance i dont see that.
i would expect the same in eclipse if you do a clean build on the project

[2019-02-06 13:17] soerendomroes commented on #1019
Our serializer in the eclipse product is somehow optimized.

[2019-02-06 13:18] cdietrich commented on #1019
no i see only QualifiedNameProvider / Scoping

[2019-02-06 13:24] soerendomroes commented on #1019
We also do scoping, but not to boost performance. Tomorrow I can give a more detailed answer about that.

[2019-02-06 14:23] soerendomroes commented on #1019
This is the profiling data for the ecplise product:
https://drive.google.com/open?id=1qwYJA1xaK00fNx5I7myHSPLS-kVRsOpF
https://drive.google.com/open?id=11c9UAy0He457a-EXKvR2DyUSTvbKkYny

[2019-02-06 14:26] cdietrich commented on #1019
i dont see a build happening in eclipse

[2019-02-06 14:38] soerendomroes commented on #1019
Oh, I misread your comment, you need a profiling snapshot during the build of the eclipse product and not a profiling snapshot of the eclipse product. Why would that help? I am not sure if I understood correctly what you need. Do you want me to import the big project into the eclipse product and profile what happens?
I cannot profile the creation of this workspace in the eclipse product, since it

[2019-02-06 14:48] cdietrich commented on #1019
(1) start eclipse
(2) start cpu profiling
(3) clean build
(4) stop profiling

also having an additional profiling with call counting in both cases would be nice

[2019-02-06 14:54] soerendomroes commented on #1019
We do not have xtetx nature and xtext builder in our eclipse product, since this caused issues in the past :)

[2019-02-06 14:54] cdietrich commented on #1019
so you dont actually build in eclipse? how can your dsl then work?

[2019-02-06 15:02] soerendomroes commented on #1019
Ok, know I think I know how we handle that:
We have our own `ResourceSet` and compiler for our dsls. So I think what we need is a way to configure the language server to use that instead.

[2019-02-07 08:36] cdietrich opened #1020 "EObjectAtOffsetHelper throws NPE with Fragments and AST rewrite"
we have the following grammar

[code]

the following unit test show the bad behavior of `EObjectAtOffsetHelper`

[code]

[code]

[2019-02-07 08:41] cdietrich commented on #1020
maybe https://dev.eclipse.org/recommenders/committers/aeri/v2/#!/problems/597f0008e4b05728f8e8990a

[2019-02-07 09:33] soerendomroes commented on #1019
More information:
We have our own resources and manage our own ResourceSet.
My question is:
Who makes the workspace opened by the LS a Xtext project and how can we disable that?
Is the problem that we use a LS eclipse product and eclipse does this automatically or does the `LanguageServerImpl` do that?

[2019-02-07 09:34] cdietrich commented on #1019
your client (in that case theia) does that

[2019-02-07 09:34] cdietrich commented on #1019
i dont know what happes if you do nothing on initialize call with a folder

[2019-02-07 09:41] soerendomroes commented on #1019
Ok, is the problem the rootUri/Path or the workspaceFolders which results in the creation of a Xtext project?

[2019-02-07 10:04] cdietrich commented on #1019
yes. its not a xtext project as in eclipse but "a folder where xtext searches for files and tries to build them"

[2019-02-07 12:47] soerendomroes commented on #1019
My current solution is to set the workspaceManager in the `LanguageServerImpl` to a subclass of the `WorkspaceManager` that overrides the `initialize` method to not set the `baseDir` and the `issueAcceptor`

[2019-02-07 12:51] soerendomroes commented on #1019
Is the `baseDir` only used to create this folder where xtext searches for stuff or tries to build it or are there other uses that I might disable by not setting it?

[2019-02-07 13:28] cdietrich commented on #1019
i dont know. you have to try.

[2019-02-07 13:56] #1019 closed

[2019-02-07 15:21] dhuebner opened #1021 "Potential memory leak caused by threadlocal"
In `org.eclipse.xtext.validation.AbstractDeclarativeValidator.state` we are using thread local to hold the state. The problem I currently see, is that in eclipse runtime, where long running Worker threads are used, this could cause a memory leak.

In my case two worker threads (waiting state) still holds the whole Xtext model. The language is a bit "complex" so it cause overall (NodeModel etc.) ~3

[2019-02-07 15:42] szarnekow commented on #1021
Looks like it should be reset in `org.eclipse.xtext.validation.AbstractDeclarativeValidator.MethodWrapper.invoke(State)`

[2019-02-07 15:45] dhuebner commented on #1021
@szarnekow Thanks for the hint! Will look into it tomorrow

[2019-02-07 17:31] cdietrich commented on #1021
@szarnekow wont that break org.eclipse.xtext.validation.AbstractDeclarativeValidator.getContext()

[2019-02-07 20:59] szarnekow commented on #1021
Sorry, I'm confused. The method in the validator does already reset the context. Maybe I'm missing something but the validator itself should already clear the threadlocal. I wouldn't expect a change to be necessary.

[2019-02-07 21:10] cdietrich commented on #1021
@szarnekow i dont see the reset place. which one do you mean:
the entry one:
org.eclipse.xtext.validation.AbstractDeclarativeValidator.internalValidate(EClass, EObject, DiagnosticChain, Map<Object, Object>)

[2019-02-07 21:19] szarnekow commented on #1021
From my understanding it all happens in `org.eclipse.xtext.validation.AbstractDeclarativeValidator.MethodWrapper.invoke(State)`

[2019-02-07 21:21] cdietrich commented on #1021
that is what i see as well. thus i wonder whats different in @dhuebner usecase

[2019-02-07 21:38] kthoms commented on #1021
@dhuebner could you have your colleagues have a closer look at your case?

[2019-02-08 09:33] dhuebner commented on #1021
It's really difficult to debug/profile the method is called very often and is final. I still can't say how it's possible, but that what I see in YourKit (state.currentObject holds the model):

<img width="1269" alt="bildschirmfoto 2019-02-08 um 10 18 16" src="https://user-images.githubusercontent.com/454322/52469309-60715780-2b8b-11e9-8b08-443f2be78d42.png">

[2019-02-08 09:38] dhuebner commented on #1021
What I found in web, people say one should call remove and `set(null)` seem not be enough.

[2019-02-08 09:38] dhuebner commented on #1021
@szarnekow What do you think?

[2019-02-08 09:38] cdietrich commented on #1021
is this the builder threads? or for the editor? or for some jobs you start

[2019-02-08 09:43] szarnekow commented on #1021
It should be refactored to remove for sure. Still I wonder why it captures the state given that set(null) effectively discards its value from the map, too.

[2019-02-08 09:44] szarnekow commented on #1021
Do you use this guy somewhere in yr code?
`org.eclipse.xtext.validation.AbstractDeclarativeValidator.StateAccess`

[2019-02-08 09:46] dhuebner commented on #1021
@cdietrich Builder i think. I also tried to set the break point in AbstractDeclValidator at line 315 with condition:

`this.state.get() != null`

It never breaks.... So the wrapper seem to work fine. The only GC root it the treadlocal map, so I can't explain how it can happen :(

[2019-02-08 09:48] dhuebner commented on #1021
yes... No idea why the colleague used, need to investigate

[2019-02-08 10:44] dhuebner commented on #1021
@szarnekow StateAccess, that was it :-/

After `delegate.validate(model)` the `state.currentObject` was still there. The `delegate` validator itself was a subclass of ADV, having an own validate method. So the MethodWrapper was never called to clean up the threadlocal.

Thanks for all  your help guys. I will close the issue, but we probably should point the user (javadoc?) that manually accessing

[2019-02-08 10:44] #1021 closed

[2019-02-11 09:39] lievenlemiengre commented on #897
@cdietrich Currently I have no time to do this, it's on our roadmap to migrate to the new API but currently it doesn't have a high priority.

[2019-02-11 10:17] cdietrich commented on #937
I Can confirm that tycho 1.4.0 will solve the problem. there is no release date yet

[2019-02-11 10:52] szarnekow opened #1029 "Prefer ThreadLocal.remove over ThreadLocal.set(null) in AbstractDeclarativeValidator"
The latter will keep an entry in the thread map thus keeping a strong reference to the validation thread.

We should also try to reduce the number of calls to `state.get()`. Occasionally it is possible to keep the result in a local variable and reuse it later on.

See `AbstractDeclarativeValidator.MethodWrapper.invoke`
See #1021

[2019-02-12 08:55] cdietrich commented on #1018
@ArneDeutsch
is this fixed now?

[2019-02-12 08:58] ArneDeutsch commented on #1018
Fixed.

[2019-02-12 08:58] #1018 closed

[2019-02-13 12:05] cdietrich opened #1032 "Wired Calculation of ContentAssistContext.CurrentModel"
given the grammar
[code]

and the test model

[code]

the content assist context for lookupCrossReference (the one from Ref inside the Model
is not Model but IfStatement

[2019-02-13 12:05] cdietrich commented on #1032
cc @szarnekow

[2019-02-14 09:10] szarnekow opened #1034 "Missing validation: Entry rule cannot be a fragment"
The Grammar workflow breaks if the first rule is a fragment. There is a missing validation for that. Should be a warning by default.

[2019-02-14 09:21] cdietrich commented on #1034
@szarnekow for non parser rules it is already an error?
so should it be here the same?

[2019-02-14 12:40] tkutz opened #1035 "Child grammar rules of inactive rules become active"
Consider the following grammar:
[code]

Although the rule `Inactive` and `InactiveToo` are not used, writing `hi hello !` gives an error message:
![bildschirmfoto 2019-02-14 um 12 17 44](https://user-images.githubusercontent.com/2589669/52787235-7c7a6a80-305d-11e9-8446-2c9650fc4a67.png)

In case there is no indirection, the rule stays inactive as expected. This means, with this grammar:
[code]
I c

[2019-02-14 12:45] tkutz commented on #1035
Further observation:

In the first case, InternalMyDsl.g contains a rule for `InactiveToo`, while in the second case it does not contain any rule for `Inactive`. Looks like an issue in the generator from Xtext to Antlr.

[2019-02-14 16:48] szarnekow commented on #1034
I’m not sure. Error by default is sane, but I’m not certain whether it should be configurable.

[2019-02-14 20:39] cdietrich commented on #1035
problem can be circumvented using

[code]

[2019-02-14 20:42] cdietrich commented on #1034
we have this rule but terminals does not stick to it :)

[2019-02-15 08:56] szarnekow commented on #1034
Challenge is, that it’s mostly the mwe2 config, that dictates what is valid or not

[2019-02-15 08:58] szarnekow commented on #1035
We wont change the default behavior that’s present since 0.7

[2019-02-15 08:58] #1035 closed

[2019-02-15 12:19] cdietrich opened #1038 "Mergable Manifest Problem"
(1) run `xtext-core/org.eclipse.xtext.testlanguages/src/org/eclipse/xtext/testlanguages/GenerateTestLanguages.mwe2` (e.g. via gradlew generateTestLanguages
(2) `xtext-eclipse/org.eclipse.xtext.testlanguages.ui/META-INF/MANIFEST.MF`is broken now

[code]

org.eclipse.xtext.xtext.generator.junit.JUnitFragment.generate()
adds "" as xbase testing package. i assume we have to be more resilient against s

[2019-02-15 12:25] cdietrich commented on #1038
@ArneDeutsch @szarnekow problem seems to be caused by the recent change about preserving whitespace

[2019-02-15 12:30] cdietrich commented on #1038
possible solution

[code]

[2019-02-18 07:41] ArneDeutsch commented on #1038
Will handle this.

[2019-02-18 10:06] jodokae opened #1039 "EMF Generation with GrammarMixins"
When generating the artifacts for the following grammars, the EMF interfaces are not generated as they should.

[code]

[code]

generates

[code]

In consequence, it is not possible to access the attribute `thirdImpl` of the ComplexAbstracts.AbstractProd class, because Model always refers to the SimpleAbstracts implementation.

What should be generated is

[code]

[2019-02-18 10:19] szarnekow commented on #1039
This would be invalid java code:
[code]

The return types are no longer co-variant.

[2019-02-18 11:30] jodokae commented on #1039
You're right, you need to generate this way:

[code]

[code]

[2019-02-18 12:20] szarnekow commented on #1039
No, this wouldn't work either since you could not use that API anymore. EMF relies on getList().add(..) call chains. I'll mark this as won't fix. Please refer to the EMF documentation for details on the underlying concepts.

[2019-02-18 12:20] #1039 closed

[2019-02-18 12:25] jodokae commented on #1039
How would you then implement the given grammar?

[2019-02-18 12:27] szarnekow commented on #1039
Judging from the snippets that you provided, I would be ok with the fact that I had to cast to complexAbsrtact.AbstractProd if I wanted to access the newly introduced feature.

[2019-02-18 12:32] jodokae commented on #1039
From my point of view not the most elegant version, but fair enough. Thank you for your assistance

[2019-02-18 12:59] ArneDeutsch commented on #1038
Done.

[2019-02-18 12:59] #1038 closed

[2019-02-18 23:33] loradd commented on #1034
Hi everybody, I would like to start contributing. Can I work on this issue?

[2019-02-19 06:29] kthoms commented on #1034
@loradd That‘ll be awesome! Please ask when you need assistance.

[2019-02-19 06:40] szarnekow commented on #1034
Sorry but @epoell is already on it

[2019-02-19 07:07] miklossy commented on #1034
@loradd How about working on a similar issue, such as [#410479](https://bugs.eclipse.org/bugs/show_bug.cgi?id=410479) ?

[2019-02-19 09:35] kthoms commented on #975
lsp4j JIPP location: https://ci.eclipse.org/lsp4j/job/lsp4j-snapshots/lastSuccessfulBuild/artifact/build-result/p2.repository/

[2019-02-19 09:53] kthoms commented on #975
The above location does not contain the latest build yet.

[2019-02-19 11:27] loradd commented on #1034
@miklossy I can work on [#410479](https://bugs.eclipse.org/bugs/show_bug.cgi?id=410479). Thank you!

[2019-02-20 09:40] szarnekow commented on #1034
Fix was merged into master. Thank you @epoell

[2019-02-20 09:40] #1034 closed

[2019-02-20 09:59] szarnekow commented on #1029
Thank you, @epoell

[2019-02-20 12:30] dhuebner opened #1043 "[ide] Bogus serialization when reassign container"
See org.eclipse.xtext.ide.tests.serializer.ChangeSerializerTest.testMoveElement()

[code]
Adding `jumper` as sibling of `child1` doesn't work.

[2019-02-20 12:36] dhuebner commented on #1043
We should also check  eclipse/xtext#2565

[2019-02-20 12:42] szarnekow commented on #1043
I'm not sure about the impact of your changes, but please bear in mind that we are already close to 2019-3 - so maybe this should be postponed to 2.18 to allow for more involving testing?

[2019-02-20 12:49] dhuebner commented on #1043
I know, therefore I didn't assigned a milestone.
I don't think we can use the 2.17 in our project anyway.
Would be nice to have a bugfix release for an older version aka LTS

[2019-02-20 12:54] szarnekow commented on #1043
Makes sense. I don't that anybody would object having a maintenance release.

[2019-02-21 12:25] #1029 closed

[2019-02-22 11:10] kittaakos opened #1047 "[LS] Support `textDocument/prepareRename`"
The [`textDocument/prepareRename`](https://microsoft.github.io/language-server-protocol/specification#textDocument_prepareRename) language feature can be used to check whether the [`textDocument/rename`](https://microsoft.github.io/language-server-protocol/specification#textDocument_rename) can be executed or not.

The problem:
 - Let's have `this.is.a.fqn.MyTypeDeclaration`.
 - Let's have a selec

[2019-02-24 12:49] cdietrich opened #1048 "Fix WorkspaceSymbolTest"
Fix WorkspaceSymbolTest

https://ci.eclipse.org/xtext/view/Xtext-release/job/xtext-core/job/master/278/testReport/junit/org.eclipse.xtext.ide.tests.server/WorkspaceSymbolTest/testSymbol_01/

![wst](https://user-images.githubusercontent.com/238736/53299469-fcad8680-383a-11e9-9b14-5b9e16bb7e26.png)

cc @tivervac

[2019-02-24 12:55] cdietrich commented on #1048
After restart locally the test was green again. same on server it staid red. on typefox js it is grren

[2019-02-24 15:03] cdietrich commented on #1048
to reproduce locally

(1) run all tests
(2) run the failing test only

=> seems order dependent

[2019-02-25 08:21] cdietrich commented on #1048
@kthoms @tivervac can it be that there are other tests that dont cleanup too?

[2019-02-25 08:35] cdietrich commented on #1048
WorkspaceManagerTest does not
=> (1) WorkspaceManagerTest
=> (2) WorkspaceSymbolTest fails

[2019-02-25 08:42] kthoms commented on #1048
Decided with @szarnekow to disable the test for M3 and investigate after that.

[2019-02-25 08:44] cdietrich commented on #1048
@kthoms i have a pr on the way with the fix

[2019-02-25 08:45] kthoms commented on #1048
OK, even better :) You don't exactly know what "vacation" is about?

[2019-02-25 09:05] kthoms commented on #1048
PR fixes the issue.

[2019-02-25 09:05] #1048 closed

[2019-02-25 09:06] tivervac commented on #1048
Definitely

[2019-02-25 10:35] cdietrich opened #1050 "Proper Cleanup LS Tests"
there are other lsp test that dont proper cleanup
e.g.
MultiProjectTest

=> go through all LSP test and make them behave properly

[2019-02-26 10:15] ujhelyiz commented on #393
I was hit by the same issue yesterday, and I have found that there is a workaround while remaining with Guice 3.0: instead of relying on the normal jar, the [no-aop jar should work as expected](https://github.com/google/guice/issues/757#issuecomment-48226666) (basically, it does not contain the old ASM version that is incompatible with. Orbit contains this jar, so Eclipse plug-ins should not be in

[2019-02-27 13:17] cdietrich opened #1053 "Wizard: Bump Xtext-Gradle-Plugin to latest (2.0.4)"
dont forget to bump affected reference projects too

[2019-02-27 18:13] cdietrich opened #1054 "[Wizard] Fix Target Platform"
https://travis-ci.org/itemis/xtext-reference-projects/jobs/499378158

[ERROR] Failed to resolve target definition /home/travis/build/itemis/xtext-reference-projects/greetings-tycho/2.17.0-J11/org.xtext.example.mydsl.target/org.xtext.example.mydsl.target.target: Could not find "org.junit.jupiter.api/5.3.1.v20181005-1442" in the repositories of the current location -> [Help 1]

[2019-02-27 19:08] cdietrich commented on #1054
Fixed in 2.17

[2019-02-27 19:08] #1054 closed

[2019-03-03 14:51] cdietrich commented on #1053
Fixed in 2.17

[2019-03-03 14:51] #1053 closed

[2019-03-04 07:27] cdietrich commented on #489
Moved to 2.18

[2019-03-04 10:17] cdietrich opened #1059 "Update to LSP4j 0.7.0"

[2019-03-06 15:26] cdietrich commented on #1059
Fixed in 2.18

[2019-03-06 15:26] #1059 closed

[2019-03-11 08:28] ArneDeutsch opened #1066 "Evaluate build dependency to xtext-extras"
One MWE2 file has a build time dependency to a class from a project out of `xtext-extras`. Evaluate if this dependency is really needed and if we can git rid of it somehow.

Plugin: `org.eclipse.xtext.tests`, package `org.eclipse.xtext`, file `GenerateAllTestLanguages.mwe2`, line `47`: `bean = org.eclipse.xtext.ecore.EcoreSupport {}`

The class `EcoreSupport` is form `xtext-extras` in project `org

[2019-03-11 14:36] kittaakos opened #1067 "[LS] As an LS extension developer, I would like to access the Xtext index"
As an LS extension developer (`ILanguageServerExtension`), I can load any Xtext resource given by its URI via the `ILanguageServerAccess`. I would like to access the Xtext index, and read its content, in such a convenient way. The index can be retrieved from the `WorkspaceManager` but injecting it into my LS extension is not an option, I would get different instances.

I propose extending the `ILa

[2019-03-11 15:42] moayman opened #1069 "[Formatter] newLine + spaces can't be achieved"
I am trying to indent a list based on its header and I can't achieve this using the current formatter.

Further explanation:

Grammar:
`grammar org.xtext.example.mydsl.MyDsl with org.eclipse.xtext.common.Terminals

generate myDsl "http://www.xtext.org/example/mydsl/MyDsl"

DSL returns XTDSL:
	models+=Model*
;

Model returns XTModel:
	{XTModel} 'startList' '(' greetings+=Greeting*')'';';

Greeting

[2019-03-11 15:49] tivervac commented on #1069
We've added this feature in our product but it's not an easy fix and there are tons of edge cases.
The bulk of changes to require this to work are in `org.eclipse.xtext.formatting2.internal.WhitespaceReplacer` and `org.eclipse.xtext.formatting2.internal.HiddenRegionReplacer`

[2019-03-11 15:52] moayman commented on #1069
@tivervac I am sorry, but what product are you talking about?

[2019-03-11 15:55] tivervac commented on #1069
@moayman That would be [Sigasi Studio](https://www.sigasi.com/). However, our product isn't open source so I'm afraid I can't help you with that, if you'd like to customize your own product to support this feature you can always drop me a mail or you can pm me on the Xtext gitter

[2019-03-11 15:58] moayman opened #1070 "[Formatter] ITextSegment replaceWith doesn't work"
Using the domainmodel example the following code does absolutely nothing:
[code]
If I want to achieve uppercasing the pacakge keywords I have to do the following which seems a bit twisted:
[code]

[2019-03-11 16:03] tivervac commented on #1070
For this we also have a solution. The solution is generically applicable to any language and it's been on my todo list for quite some time to upstream these changes. I'll try to get make a PR for these (and some other changes) but as it's quite the substantial change, and time is a valuable resource, it'll take some time before we see those merged in.

[2019-03-11 16:26] meysholdt commented on #1070
`replaceWith()` is not supposed to modify the underlaying document. In fact, the TextRegionsAccess is read-only. It's supposed to return return an object describing the text-replacement. You'll need to use the API of the `IFormattableDocument`.

[2019-03-11 16:39] moayman commented on #1070
The API of the `IFormattableDocument` you are talking about is `addReplacer`?

What's the use of `replaceWith` return value then? I thought I would do this `document.addReplacer(h.replaceWith(h.text.toUpperCase))` but `addReplacer` takes `ITextReplacer` not `ITextReplacement`

[2019-03-11 16:41] moayman commented on #1069
@tivervac Thanks a lot. I will be contacting you later about it.

[2019-03-12 18:21] cdietrich commented on #1066
@ArneDeutsch do you know why `org.eclipse.xtext.testlanguages.ecore.EcoreSupport` is not used

[2019-03-12 18:23] cdietrich commented on #1066
https://github.com/eclipse/xtext-core/issues/834

[2019-03-12 18:33] cdietrich commented on #1066
i assume this has the same cause as https://github.com/eclipse/xtext-core/issues/1003

[2019-03-13 08:46] cdietrich commented on #1066
Fixed in 2.18

[2019-03-13 08:46] #1066 closed

[2019-03-13 09:09] ArneDeutsch commented on #1069
Your effect can be achieved without customizing other classes. Basically you would do the following:

1. Create a method `formatForIndention` that you call for each of your `Greeting` elements (probably you will add `index `and `count` as parameters to handle first and last element in special way).
2. Inside the method you calculate the needed indentation based on the parent element of your `Greet

[2019-03-13 09:17] JanKoehnlein opened #1072 "[LSP] support versioned documents in WS edits returned by rename"
The rename service currently returns a workspace edit that doesn't take document versions into account. It is therefore prone to race errors when the document changes between the calculation of the edit and its application.

We should use `TextDocumentEdit`s with `VerisonedTextDocumentIdentifier`when the client supports this (`WorkspaceClientCapabilities#workspaceEdit#documentChanges`).

[2019-03-13 10:50] kittaakos opened #1074 "[LS][enhancement] Provide a convenient way to test against custom language clients"
This would be an enhancement. When I would like to test my customized language client, I have to copy over the following code:

[code]

Having a protected method for the endpoint proxy class would be great. Here is the code I was referring to:
https://github.com/eclipse/xtext-core/blob/f987acc0cff6c569e714cf8d953b1d8eefbf8d36/org.eclipse.xtext.testing/src/org/eclipse/xtext/testing/AbstractLanguage

[2019-03-13 11:06] tivervac commented on #1069
@moayman I just remembered I have a PR open where I quickly created a basic language that allows spaces to be added together with newlines. Note that this solution is not exactly what we're using in our product. That solution is a lot more complex, mostly to be able to deal with all kinds of comments mixed in to the code.

Anyway, here's the PR: https://github.com/eclipse/xtext-core/pull/199/files

[2019-03-13 20:46] cdietrich opened #1076 "[Wizard] Duplicating Managed Version"
The Wizard creates for the maven lsp usecase the following into the pom of the ide project

[code]

which gives

[code]

=> we shall investigate what we can remove

[2019-03-13 20:50] cdietrich opened #1077 "Follow up GSON update in LSP4J"
Follow up GSON update in LSP4J

https://github.com/eclipse/lsp4j/issues/309

[2019-03-13 20:51] cdietrich commented on #1077
TODO: org.eclipse.xtend.caliper.tests seems to embedded old gson. investigate if we can do something about too

[2019-03-13 20:52] cdietrich commented on #1077
also org.eclipse.xtext.web.servlet should be investigated for a newer version / bom managed one

[2019-03-14 20:28] cdietrich commented on #1077
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19276

[2019-03-14 20:44] cdietrich commented on #1077
@szarnekow can you share some insights how caliper and gson interact with each other?

[2019-03-14 20:49] szarnekow commented on #1077
Caliper allows to serialize the performance test results as json and upload it to some server. We should drop the caliper tests and (if necessary) replace them by jmh tests.

[2019-03-15 07:05] #917 closed

[2019-03-15 07:05] #916 closed

[2019-03-15 07:05] #1072 closed

[2019-03-15 07:16] #1074 closed

[2019-03-17 13:21] cdietrich commented on #164
see https://bugs.eclipse.org/bugs/show_bug.cgi?id=518369 too

[2019-03-18 07:31] cdietrich opened #1082 "Update to LSP4J 0.8.0 Final"
This time we should try to be in sync with the release train and update to LSP4J 0.8.0 Final before the release

cc @spoenemann @kittaakos

[2019-03-18 10:53] #1077 closed

[2019-03-18 11:40] kittaakos opened #1083 "[LS] Runtime exceptions thrown inside the request manager read/write are swallowed"
We swallow all NPEs, ISEs and other runtime exceptions inside the `RequestManager`'s `runRead` and `runWrite` methods. We do not even log the stack trace to the console.

I think this is a bug.

[2019-03-18 14:39] cdietrich commented on #1043
@dhuebner is this fixed now?

[2019-03-18 15:43] dhuebner commented on #1043
@cdietrich Yes

[2019-03-18 15:57] #1043 closed

[2019-03-18 21:51] cdietrich commented on #1083
having a look at `org.eclipse.xtext.ide.server.concurrent.ReadRequest.run()` this looks intentionally.
the exception is stored in result.

can you give more details in which service you observed that?

[2019-03-19 07:53] kittaakos commented on #1083
Fair point; I need to investigate it further and add some tests. By the way, I experienced this in the `afterBuild`.

[2019-03-20 22:03] moayman commented on #1069
@ArneDeutsch Well, I believe you meant
[code]
didn't you?
If so, it seems more like a workaround.

[2019-03-20 22:04] cdietrich commented on #1069
that is more or less what i proposed as workaround here: https://www.eclipse.org/forums/index.php?t=msg&th=1097735&goto=1803170&#msg_1803170

[2019-03-20 22:08] moayman commented on #1069
@tivervac I have to take my time looking at the PR. But umm, I am having serious issues with comments. The formatter is pretty weak when it comes to comments. so sad.

For example:

1. Comments doesn't follow indentation if they're at the beginning of an indented region.
2. A single line comment counts as a new line, for example lets say I do this `append[newLines(3,3,3)]` between two lines and th

[2019-03-20 22:10] moayman commented on #1069
@cdietrich Yes exactly, this workaround certainly does the job. But I believe that the formatter could use some enhancements.

[2019-03-21 09:51] tivervac commented on #1069
Nice workaround, never thought of that actually.

@moayman I feel your pain regarding comments. I've definitely fixed that issues but I'll need to have a good look around our code to check which patch fixes this exact issue. As you can imagine, I've fixed tens of similar issues

[2019-03-21 09:54] tivervac commented on #1069
@moayman Got it, reported it before over [here](https://github.com/eclipse/xtext-xtend/issues/77)

[2019-03-22 13:48] LorenzoBettini opened #1087 "Incorrect handling of tycho.testArgLine in the generated POMs"
I think the way tycho.testArgLine is used in the generated POMs is not completely correct.

In the parent POM the property is set to empty

[code]

and used in the general configuration of tycho-surefire in the pluginManagement section

[code]

I seem to understand that the property is then set in the TestProjectDescriptor in case at least Java 9 is used:

https://github.com/eclipse/xtext-core/blo

[2019-03-22 13:52] cdietrich commented on #1087
@kthoms any idea?

[2019-03-22 14:02] kthoms commented on #1087
`--add-modules=ALL-SYSTEM` seems indeed unnecessarely speficied twice. It should not be necessary to hard-coded enter that into the parent POM, but automatically at runtime by the `jdk9-or-newer` profile. So it is wrong to declare that to the parent POM.

The name of the property `tycho.testArgLine` does not really matter. Important is just that there _is_ some empty default property that is used

[2019-03-22 14:06] LorenzoBettini commented on #1087
OK, I'll work on that ASAP!

[2019-03-22 14:48] LorenzoBettini commented on #1087
I'd like to start working on that... but my current workspace setup was pretty old... I've fetched all the new git masters and run the update with Oomph but I still get tons of errors in main projects...

[2019-03-22 14:51] cdietrich commented on #1087
in which projects. oomph is not 4.12 ready so i dont know if it is fine. you should also do a gradle refresh gradle projects in eclipse e.g. on the composite in root projects working set.
and you may have to run a `mvn -f releng/org.eclipse.xtext.dev-bom/ install`  in lib and a `./gradlew clean build install -PuseJenkinsSnapshots=true -x test` in xtend

[2019-03-22 14:53] LorenzoBettini commented on #1087
what's the composite in root projects?

[2019-03-22 14:54] cdietrich commented on #1087
![Bildschirmfoto vom 2019-03-22 15-54-18](https://user-images.githubusercontent.com/238736/54831540-ce488d00-4cba-11e9-8417-b5b021baec5b.png)

[2019-03-22 15:03] LorenzoBettini commented on #1087
OK! thanks!
Errors in main projects seem to have disappeared.
Of course, lots of changed files according to git but I guess I mist ignore them

[2019-03-22 15:04] cdietrich commented on #1087
you should not see any. which xtext/xtend version is in your host.
can you give some examples?

[2019-03-22 15:07] LorenzoBettini commented on #1087
sorry, just .classpath in xtext.xbase.lib...

this part has been added

[code]

[2019-03-22 15:13] cdietrich commented on #1087
Need to check if I have this too.

[2019-03-22 15:47] cdietrich commented on #1087
@LorenzoBettini i have this already locally with no diff

[2019-03-22 15:49] LorenzoBettini commented on #1087
OK, but I don't think it's a big issue.
I created the PR, but Jenkins is overloaded I guess :)
We're using Eclipse CI, aren't we?

[2019-03-22 15:51] cdietrich commented on #1087
yes cbi is still worked on

[2019-03-24 08:37] cdietrich commented on #937
will be done as part of https://github.com/eclipse/xtext/issues/1422

[2019-03-25 07:39] JanKoehnlein commented on #923
Since #1084 the ILanguageServerAccess now exposes a method to create a new resource set that is configured in the right way to calculate text edits using the change serializer API. We should got he same way as for rename refactoring and add a new interface using the ILanguageServerAccess.

[2019-03-25 07:42] cdietrich commented on #923
yes that would be nice

[2019-03-25 08:06] #1087 closed

[2019-03-25 14:17] mark-christiaens opened #1090 "[LanguageServer] Unexpected occurrence highlighting"
The [DefaultDocumentHighlightService](https://github.com/eclipse/xtext-core/blob/master/org.eclipse.xtext.ide/src/org/eclipse/xtext/ide/server/occurrences/DefaultDocumentHighlightService.java#L184) behaves unexpectedly.

In particular, the `if (selectedElement == containedElement) { ... }` block doesn't make much sense to me. For example, I have a rule in our grammar:

[code]

The following source

[2019-03-25 14:33] cdietrich commented on #1090
@kittaakos can you answer this?

[2019-03-25 15:30] cdietrich commented on #1090
@mark-christiaens did you have a look at the tests in org.eclipse.xtext.ide.tests.server.DocumentHighlightTest

[2019-03-25 15:36] mark-christiaens commented on #1090
@cdietrich No, I didn't.  I guess you are asking, "if you remove the if-block, do the tests still work"?

[2019-03-25 15:38] cdietrich commented on #1090
correct. maybe the tests reveal the answer

[2019-03-25 16:32] mark-christiaens commented on #1090
When I remove the if-block then a few tests fail.  I guess that the implementations both with and without the if-block are incorrect.

[2019-03-26 09:39] kittaakos commented on #1090
@mark-christiaens, it easily possible. Do you happen to have time to look into this malfunction? Freely speaking, it's been a while I have contributed that code so I do not know the answer off the top of my head and I won't have time to investigate it until the beginning of April thoroughly.

[2019-03-26 11:00] pjeanjean opened #1093 "Missing keywords when serializing a `.xtext` resource"
Hello,

I am working on a project in which I need to programmatically edit `.xtext` files.
In doing so, I noticed a bug in the serialization of Xtext resources: some keywords are skipped.

Let's take this simple grammar for instance:
[code]

I then use the following code to copy and save the Xtext resource corresponding to this grammar:
[code]

The resulting grammar then looks like this:
[code]

A

[2019-03-26 11:11] kthoms commented on #1093
Looks indeed like a bug. Thanks for reporting it.

First thing would be to put this into a test language and create a unit test for that. We put them into project `org.eclipse.xtext.tests`. I'd expect one for this issue in package `org.eclipse.xtext.serializer`.

Could you try to provide such an example language and unit test?

[2019-03-26 11:12] szarnekow commented on #1093
I don't think we do need a test language since the bug can be reproduced with Xtext.xtext

[2019-03-26 12:08] cdietrich opened #1094 "Compile Error in LanguageServerImpl"
am getting

[code]
in eclipse

[2019-03-26 12:12] #1094 closed

[2019-03-26 13:07] pjeanjean commented on #1093
The bug about the missing `returns` can indeed be reproduced with Xtext.xtext, but not the one about the missing `>` when using rule parameters (even though I suspect they may be related).

I will try to provide a unit test for this, do you expect a merge request or everything in an archive?

[2019-03-26 13:27] szarnekow commented on #1093
A pull request with a test case is greatly appreciated.

[2019-03-26 16:03] #923 closed

[2019-03-26 22:15] cdietrich commented on #1093
test (ignored) provided with https://github.com/eclipse/xtext-core/pull/1096

[2019-03-27 09:44] mvmn opened #1098 "Broken download of antlr-generator-3.2.0-patch.jar in AntlrToolFacade"
Hi

AntlrToolFacade has this pretty ugly code with hardcoded URLs for downloading antlr-generator-3.2.0-patch.jar from http://download.itemis.com/antlr-generator-3.2.0-patch.jar. But - the download doesn't seem to follow redirects. And just today http://download.itemis.com/antlr-generator-3.2.0-patch.jar returns HTTP/1.1 301 Moved Permanently with Location: https://download.itemis.com/antlr-genera

[2019-03-27 10:39] cdietrich commented on #1098
@mvmn should work again

[2019-03-27 11:12] #1098 closed

[2019-03-27 11:22] cdietrich opened #1099 "Make AntlrToolFacade more robust"
- ability to deal with http redirects
- ability to give the download url from outside

[2019-04-01 12:11] mark-christiaens commented on #1090
I think this fixes the issue (it does so in the Sigasi code).  However, I couldn't whip up a specific test for this.  The reason being that `DocumentHighlightTest` is based on the Xtext test language that does not have grammar rules that trigger this issue.  If you know of an elegant way to test this, let me know.

[2019-04-01 20:12] kittaakos commented on #1090
Awesome 👍

It should be possible to define `YourNewGrammar` under `org.eclipse.xtext.testlanguages.yourNewGrammar` package, [add it to the workflow](https://github.com/eclipse/xtext-core/blob/dcc92fc7e0fbff8afb45d61802a2eb1ba382d190/org.eclipse.xtext.testlanguages/src/org/eclipse/xtext/testlanguages/GenerateTestLanguages.mwe2#L43) and create a new test class for your tests:
[code]

I have to admit

[2019-04-02 05:44] cdietrich commented on #1090
👍 for adding a test

[2019-04-02 12:04] cdietrich commented on #1067
@kittaakos any news on this issue?

[2019-04-02 12:07] cdietrich opened #1108 "LSP4J (and Tests) on windows"
there are testfailures on windows. these need to be investigated if there is stuff missing in the tests (e.g. a `toUnixLineSeparator`)  or in the API (the document class e.g. uses `\n` to split whereas the spec specifies

[2019-04-02 12:08] cdietrich commented on #1108
@kittaakos @svenefftinge what do you think

[2019-04-02 12:11] kittaakos commented on #1067
The [PR is ready](https://github.com/eclipse/xtext-core/pull/1051), but conflicting. Unfortunately, I won't have time to work on this until the next week, apologies. I have a couple of other Xtext-related things on my TODO list as well, can we please come back to this next week?

If it is urgent, please take over the PR, I doubt there is anything you cannot solve without me :)

[2019-04-02 12:15] cdietrich commented on #1067
no, next week is completly fine. release is planned in the first week of june

[2019-04-02 12:54] cdietrich commented on #975
mitigated by not using snapshots

[2019-04-02 13:07] kthoms commented on #1076
This only occurs with wizard configuration
- Eclipse plugin enabled
- Build System Maven
- Language Server enabled

[2019-04-02 20:12] cdietrich commented on #1076
fixed in 2.18

[2019-04-03 13:18] cdietrich commented on #1090
@tivervac @mark-christiaens is there anything left open?

[2019-04-03 14:01] mark-christiaens commented on #1090
@cdietrich No, I think this issue is concluded.  I'll close it.

[2019-04-03 14:01] #1090 closed

[2019-04-04 12:29] kittaakos commented on #1108
Would the Windows build run on Jenkins too or do we want to use other free Windows CIs such as AppVeyor or Azure Pipeline?

[2019-04-04 12:38] cdietrich commented on #1108
@kthoms do you know if there is an option for that at eclipse infrastructure?

[2019-04-04 13:39] kthoms commented on #1108
In principle this seems to be possible. File a bug to Eclipse Community / Jenkins-CI to request a Windows node and instructions to use it.
https://www.eclipse.org/lists/cbi-dev/msg02038.html

[2019-04-05 11:31] cdietrich commented on #937
Fixed in 2.18

[2019-04-05 11:31] #937 closed

[2019-04-05 12:06] #1067 closed

[2019-04-09 10:39] mlewe commented on #424
Hi,
I just ran into the same problem and found this bug report after looking into `org.eclipse.xtext.xtext.ecoreInference.TypeHierarchyHelper`, so I can confirm that the behavior is still present in the current version of Xtext.
If this is not going to be fixed, it might be worth mentioning this in the documentation, which currently states that:

(emphasis mine)

[2019-04-09 18:45] scanyboss opened #1120 "Running mvn package on Xtext parent project with Xtext 2.17.0 produces IllegalArgumentException"
IllegalArgumentException is thrown after running mvn package on the Xtext parent project generated by Xtext 2.17.0 programmatically.

How to reproduce:
1. download https://github.com/scanyboss/hello-world-language project
2. run mvn compile
3. run Main.main() method - Code contains the path to the maven, as the mvn compile is run programmatically - needs to be changed!
4. run mvn package on the Xt

[2019-04-09 19:10] cdietrich commented on #1120
hmmmm in my try the last one does not fail.
can you please checkin the result of (3) too

[2019-04-09 19:20] scanyboss commented on #1120
I'm using Fedora 27.
I have no problem with step 3.
![Screenshot from 2019-04-09 21-14-33](https://user-images.githubusercontent.com/17799565/55828544-f46c8a80-5b0c-11e9-98f5-01fb7c216a00.png)

But when I was running maven action programmatically for the first time I had to add execute permissions to the maven itself because even when the maven action doesnt fail, "permission denied" can be printe

[2019-04-09 19:21] cdietrich commented on #1120
no, i have the problem: all 4 steps run smoothly

[code]
=> to verify your failure at (4) i want to start at the end of (3)

[2019-04-09 19:25] scanyboss commented on #1120
Are you running it directly in Eclipse IDE ?

[2019-04-09 19:27] cdietrich commented on #1120
no on bash

[2019-04-09 20:32] scanyboss commented on #1120
okay I tried it also in terminal and it works there. the problem is that when you look at the width of the line, in the successful case each line contains 2 characters less than the unsuccessful case (which occurs in IDE). Take a look at: https://www.diffchecker.com/AAHDEoqP ... that 2 characters on each line cause that on the some line is the bundle-version broken in the middle - and therefore ma

[2019-04-09 20:36] scanyboss commented on #1120
IDK why there are 2 characters more/less on the particular line ... can be caused by line delimiter maybe. But the problem is that it's a little bit coincidence and it depends on what you write to the mainfest and in what order ... anytime when happen that bundle-version is broken by linebreak it will be written to the manifest once again and then the problem occurs.

[2019-04-10 04:21] cdietrich commented on #1120
I still don’t understand that. Who formats that file.
If you check it in the way it is initially created then the problem should
Happen regardless if you call it from eclipse or from command line
I want to have a project in a state where I can verify the prolem.

If the merge algorithm is buggy I want to see
This file is merged and it breaks

[2019-04-10 04:31] cdietrich commented on #1120
So the problem is before (4) or after (4) and the manifest differs after (4) from eclipse and from command line?

[2019-04-10 05:13] scanyboss commented on #1120
In (3) I'm changing the manifest file (see the Main - line 59). When I change it this way there are no linebreaks anymore. Then in (4) when the merger modifies the manifest and finds that "bundle-version" is split into 2 lines by linebreak another "bundle-version" is added to this particular package. So the problem is that in (4) the merger appends wrong data in case of "bundle-version" is split i

[2019-04-10 05:15] cdietrich commented on #1120
No please share the manifest after your change

[2019-04-10 05:27] scanyboss commented on #1120
`Manifest-Version: 1.0
Bundle-ManifestVersion: 2
Bundle-Name: org.hello.ui
Bundle-Vendor: My Company
Bundle-Version: 1.0.0.qualifier
Bundle-SymbolicName: org.hello.ui; singleton:=true
Bundle-ActivationPolicy: lazy
Require-Bundle: org.hello,org.hello.ide,org.eclipse.xtext.ui,org.eclipse
 .xtext.ui.shared,org.eclipse.xtext.ui.codetemplates.ui,org.eclipse.ui.e
 ditors;bundle-version="3.5.0",org.eclip

[2019-04-10 07:44] kittaakos commented on #1083
Something like this should describe the issue, perhaps I am using the API incorrectly:

[code]

It passes if I add `.get` to the `requestManager.runRead` in the first test case, but if it is "async", I have no chance to see at least the stack trace in the log.

[2019-04-10 13:16] #1047 closed

[2019-04-11 14:51] JanKoehnlein opened #1121 "[lsp] better handle canceled builds"
When I edit files in an auto-saving editor (like Theia), `didChange` notifications are usually followed by `didChangeWatchedFiles` notifications. The latter cancel the build, but only look at their own changes to decide whether a new build should be issued. The changes from the prior `didChange` queued on the `BuildManager` are ignored.

[2019-04-11 15:08] cdietrich commented on #1121
i thought we use didChangeWatchedFiles events only for non open documents.
this i would expected that the didChangeWatchdFiles build is queued

[2019-04-11 15:14] JanKoehnlein commented on #1121
Well, in my case it was apparently triggered for an opened document (which should be safe), thereby there were no dirty/deleted files detected from the change and the cancelled build was not retriggered.

[2019-04-11 15:15] cdietrich commented on #1121
=> why cancel the build at all?

[2019-04-11 16:06] JanKoehnlein commented on #1121
Cancellation happens automatically when another`runWrite()` is issued.

[2019-04-12 07:24] #1121 closed

[2019-04-12 07:46] JanKoehnlein opened #1124 "[lsp] Partial results of canceled builds may never be reported"
In `BuildManager.internalBuild(CancelIndicator)` we iterate over all `ProjectManagers` to do the build. The aggregated `IResourceDescription.Deltas` are returned, and e.g. used to inform post-build listeners.

When a multi-project build is canceled (another `runWrite` comming in from the `RequestManager`), it could be that some projects have already been built. Even though their `ProjectManagers`

[2019-04-12 10:03] kittaakos opened #1127 "[LSP] We run validation twice on `didOpen`"
https://github.com/eclipse/xtext-core/blob/639253d4646a30ffb05e6bd998e4aa09b03f8810/org.eclipse.xtext/src/org/eclipse/xtext/build/IncrementalBuilder.xtend#L120-L121

First, we validate with
https://github.com/eclipse/xtext-core/blob/639253d4646a30ffb05e6bd998e4aa09b03f8810/org.eclipse.xtext/src/org/eclipse/xtext/build/IncrementalBuilder.xtend#L139-L146

Then with the default `IShouldGenerate`
http

[2019-04-12 10:24] JanKoehnlein commented on #1127
Is there a cache we can get the first validation result from?

[2019-04-12 10:31] cdietrich commented on #1127
why was it done this way in the first place?

[2019-04-12 10:45] JanKoehnlein commented on #1127
@cdietrich Looks like when introducing the IShouldGenerate interface in 2015 we overlooked that already.
We should hand the issue list over to (an extended) IShouldGenerate.

[2019-04-12 10:56] kittaakos commented on #1127
I do not follow much the changes outside of `xtext-core`, but it used the be the same for the Eclipse-based builder. I remember applying this trick in various Xtext-based projects. Note, it was long ago.

[2019-04-12 11:17] cdietrich commented on #1127
well the ishouldgenerate was introduce right to allow this

[2019-04-12 11:39] kittaakos commented on #1127
Nice, I was not aware of it.

----

A quick workaround for `xtext-core` can be:

[code]

[code]

which I guess more or less the same as the above-mentioned cachedresourcevalidator.

PS: let me know if my proposed workaround is incomplete :)

[2019-04-12 12:53] #1124 closed

[2019-04-12 17:55] cdietrich commented on #1127
@szarnekow @JanKoehnlein what do you think.
should we go this route. or having a different default IShouldGenerate?

[2019-04-15 08:19] cdietrich commented on #393
see also https://github.com/eclipse/xtext-eclipse/issues/1048

[2019-04-15 08:40] JanKoehnlein commented on #1127
Control flow is more explicit if we change IShouldGenerate, but for the Sprotty scenarios, I need the validation issues a third time, so transparently caching would come handy. Both ideas are fine by me.

[2019-04-15 18:07] msmihai opened #1132 "parsing issue affecting content assist"
Given the following grammar definition

`grammar org.xtext.example.mydsl.MyDsl with org.eclipse.xtext.common.Terminals hidden(SL_COMMENT, WS)

generate myDsl "http://www.xtext.org/example/mydsl/MyDsl"

World:
    {World}
    fooBars+=FooBar*
    ;

FooBar:
    Foo|Bar
;

Foo:
    "Foo" name=ID '{'
      fooDef=FooDef
    '}'
;

FooDef:
    "FooDef" name=ID '{'
    "barRef" '=' barRef=[Bar|ID] ';'

[2019-04-17 12:44] sterpumihai commented on #1132
Hi,

I don't understand, isn't this the same workaround I provided in my initial post?

[2019-04-17 15:00] szarnekow commented on #1132
Yes, it is. Sorry for the noise. The only different is the hint to use a fragment which would be transparent for the produced AST.

[2019-04-29 12:43] soerendomroes opened #1135 "[LSP] Concurrent request handling on LS"
Is it possible for the language server to execute a request when one is already being executed?
My use case for this is a resource consuming process that is executed on the LS via a request, which I want to stop via another request/notification to the LS.

In my current setup, the second request is only handled after the first request has finished. I am sure whether I am doing this wrong or whethe

[2019-05-03 07:28] cdietrich commented on #1120
@ArneDeutsch do you have any idea yet?

[2019-05-03 08:04] cdietrich commented on #759
@kthoms can we consider that as fixed?

[2019-05-03 09:22] kthoms commented on #759
Yes, should be done.

[2019-05-03 12:37] cdietrich opened #1137 "Problems building with Java 11"
[code]
seems there is a very ugly api design in Java 11
https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/CharSequence.html#compare(java.lang.CharSequence,java.lang.CharSequence)

[2019-05-03 12:38] cdietrich commented on #1137
@szarnekow is that maybe a Xtend Bug in Override Helper etc?

[2019-05-03 12:52] cdietrich commented on #1137
minimal reproducing sample

[code]

[2019-05-03 12:55] cdietrich commented on #1137
[code]

[code]

[2019-05-03 12:55] cdietrich commented on #1137
=> looks like an error in the `Delegate` AA

[2019-05-03 15:33] cdietrich commented on #1137
Fixed in 2.18

[2019-05-03 15:33] #1137 closed

[2019-05-06 06:30] cdietrich commented on #1082
@spoenemann @kittaakos  is there already a planned release date for lsp4j 0.8.0?

[2019-05-07 06:52] kthoms commented on #759
Related PR xtext/xtext-p2-orbit#21 was not merged yet

[2019-05-07 06:54] kthoms commented on #759
Now it should be done

[2019-05-07 06:54] #759 closed

[2019-05-07 08:12] cdietrich opened #1141 "invalid usage of tag >"
when compiling with java 11 you will get following javadoc warnings

[code]

[code]

=> looks like the escaping misses > <

[2019-05-07 09:44] OLibutzki opened #1143 "Maven Build: Jvm type reference cannot be resolved if target type is annotated with Lombok annotation"
I have an Xbase based language which references Java types. Unfortujnately these references cannot be resolved by the xtext-maven-plugin whenever the target type is annotated with a Lombok annotation.

Within Eclipse everything works fine, but the xtext-maven-plugin fails.

[code]

[2019-05-07 09:52] cdietrich commented on #1143
can you please provide a minimal example

[2019-05-07 09:58] OLibutzki commented on #1143
You can test it with the herolanguage easily. I created a fork: https://github.com/OLibutzki/maven-xtext-example

Just try to build the example-project with Maven.

[2019-05-07 10:27] OLibutzki commented on #1143
Yes, it does

[2019-05-07 11:36] cdietrich commented on #1143
[code]

[2019-05-07 11:40] cdietrich commented on #1143
=> disabling annotation processing in xtext maven plugin seems to help

[code]

[2019-05-07 11:58] OLibutzki commented on #1143
Thanks! That helps!

The problem that the stuff which is generated by Lombok cannot be referenced (neither in Eclipse nor Maven) cannot be solved, right?

[2019-05-07 12:02] cdietrich commented on #1143
i assume so. am not sure what happens if you enable annotation processing and add the missing class to the dependencies

[2019-05-07 12:10] OLibutzki commented on #1143
Ok, thanks a lot @cdietrich. I close this issue.

[2019-05-07 12:10] #1143 closed

[2019-05-08 09:26] spoenemann commented on #1082
https://github.com/eclipse/lsp4j/issues/316#issuecomment-490415825

[2019-05-08 14:26] cdietrich commented on #1076
@kthoms is it possible this got lost somehow?

[2019-05-08 14:28] cdietrich commented on #1076
was just an old bin folder :(

[2019-05-08 14:28] #1076 closed

[2019-05-08 14:36] cdietrich commented on #1082
=> move the 0.8.0 update to 2.19

[2019-05-09 10:18] cdietrich commented on #1082
0.7.1 is on 2.18 now

[2019-05-13 05:57] cdietrich commented on #1141
https://reflectoring.io/howto-format-code-snippets-in-javadoc/

[2019-05-13 06:18] cdietrich commented on #1141
another place is

[code]

[2019-05-13 06:18] cdietrich commented on #1141
there `@` might be a symbol too

[2019-05-13 07:32] cdietrich commented on #1050
@holgerschill any news on this?

[2019-05-13 07:49] cdietrich commented on #1141
=> no easy/quick solution

[2019-05-16 11:36] cdietrich opened #1149 "There are still scenarios where a combination of InjectorProvider + Smoke Test + Ui Test destroy the registries"
There are still secarios where a combination of InjectorProvider + Smoke Test + Ui Test destroy the registries

[2019-05-16 11:38] cdietrich commented on #1149
Here is the reproducing example
[issue1149.zip](https://github.com/eclipse/xtext-core/files/3186856/issue1149.zip)

The second ui test fails with

[code]

[2019-05-16 11:38] cdietrich commented on #1149
When running  `org.xtext.example.mydsl2.ui.tests.MyUiTest2` alone, it is green

[2019-05-16 11:41] cdietrich commented on #1149
removing the `SmokeTestSuite` helps

[2019-05-20 06:19] cdietrich commented on #1149
@szarnekow anything left?

[2019-05-20 07:09] szarnekow commented on #1149
I am still chewing on ideas how this could be tested.

[2019-05-20 12:29] szarnekow commented on #1149
Closing for now. If something comes to my mind, I'll add the tests.

[2019-05-20 12:29] #1149 closed

[2019-05-20 16:49] woernm opened #1151 "Generating a project with two languages using maven not working"
Hi,

I am having issues to build my project containing two languages with maven.

As a simple reproducer I created the 'MyDsl' example project leaving all parameters at their default except using Maven as preferred build system. I then created a second language MyDsl2.xtext in the same package as MyDsl.xtext. MyDsl2 depends on MyDsl:

[code]

I adapted the GenerateMyDsl.mwe2 to build MyDsl2 as wel

[2019-05-20 19:02] szarnekow commented on #1151
I can reproduce the problem with your example when I call `mvn clean package` the second time.

[2019-05-20 19:31] szarnekow commented on #1151
[code]

You'll need to load the first language manually into the resource set of the second language. The maven lifecycle does not copy the Xtext files to the target/classes folder (apparently) before the workflow is executed. So there is no generically applicable algorithm to guess the location of an Xtext file given only the FQN of the language.

Long story short - adding a referencedResource th

[2019-05-20 19:31] #1151 closed

[2019-05-23 11:36] drewqb opened #1154 "Serializing a large model with references for custom dsl performs poorly"
Adding issue as suggested by – Christian Dietrich

https://stackoverflow.com/questions/56256171/serializing-a-large-model-with-references-for-custom-dsl-performs-poorly

[2019-05-25 13:25] cdietrich commented on #1050
@holgerschill  will move to 2.19

[2019-05-27 10:58] cdietrich commented on #393
we already use guice 4 in xtext gradle plugin for memory leak reasons

[2019-05-27 10:58] cdietrich commented on #393
cc @szarnekow

[2019-05-28 11:27] JanKoehnlein opened #1156 "[lsp] IOOBE in Document.applyEdit"
Steps to reproduce:
- in Theia, delete multiple characters at the end of a line using backspace
- trigger undo
=> an IOOBE is thrown and swallowed in Document.applyEdit

[2019-05-28 11:31] JanKoehnlein commented on #1156
Reason:
Theia sends individual `TextEdits` for undoing the deletion of each character. In `Document.applyEdit` the offset calculation uses the same document content for all of these text edits. As we're at the end of a line, the second character's `TextEdit` is out of bounds.

[2019-05-29 12:34] #1156 closed

[2019-06-03 10:17] cdietrich commented on #489
Moved to 2.19

[2019-06-05 06:53] miklossy opened #1161 "Generated java package name 'org.xtext.example.mydsl.myDsl' does not match java package naming conventions"
When creating a new Xtext MyDsl project via the Xtext new project wizard and executing the `GenerateMyDsl.mwe2` workflow, the EMF classes are generated into the  `org.xtext.example.mydsl.myDsl` java package.

The camel case notation does not match to the java package naming conventions, so that SonarQube recognizes that as an issue.
![screenshot](https://user-images.githubusercontent.com/20393472/

[2019-06-05 06:56] cdietrich commented on #1161
for me this looks like a feature, not a bug

[2019-06-05 06:59] szarnekow commented on #1161
True. We should not automatically mangle the names.
An optional validation could be useful, though.

[2019-06-05 08:17] miklossy commented on #1161
@loradd Would you like to take care of this issue? An optional validation issue and a corresponding quickfix would be awesome...

[2019-06-05 09:20] cdietrich commented on #1161
i think the validation should be added to the wizard too.
am not sure if a quickfix is sufficient since it may require a merge of plugin.xml etc after regeneration

[2019-06-05 13:57] szarnekow opened #1162 "CodeMiningFragment creates insufficient configuration"
The fragment adds an optional import package to xtext.ui.codemining. Tycho does not respect that when it assembles a repository so the created update site does not contain the bundle xtext.ui.codemining. Consequently the created editor did not work when deployed to Eclipse. Adding a plugin-dependency to the dsl.ui bundle helped to create a consistent update site.

[2019-06-05 15:10] cdietrich commented on #1162
i assume we made it optional to be able to deploy to oxygen/older platforms too.
otherwise we wont have to do the stunts in the bindings too.
@kthoms what do you think

[2019-06-05 15:48] szarnekow commented on #1162
Optional bundle deps would prob do the trick, too

[2019-06-05 19:59] cdietrich commented on #1162
also: update domainmodel and maybe reference project integration test

[2019-06-06 06:05] LorenzoBettini commented on #1162
@szarnekow I'm not completely sure, but I remember that in the past optional deps gave me headaches with Tycho, which used to insist in resolving them and to fail if it couldn't find them

[2019-06-06 09:18] mark-christiaens opened #1163 "Conversion from java.net.URI to EMF URI drops encoding"
In `UriExtensions.toEmfUri` I see

[code]

So the `uri` is created using a decoded string.  However, the JavaDoc of `URI.createURI` says:

[code]
Clearly, the URI string is _not_ encoded in `toEmfUri`.

[2019-06-06 12:29] loradd commented on #1161
@miklossy yes, I would like to take of this issue!

Any suggestion about the merging process?

[2019-06-06 12:31] cdietrich commented on #1161
the merging is done manually. thats the problem.
=> user need to know the the followings things need to be done after executing a quickfix
(1) run workflow
(2) merge plugin.xmls
=> quickfix in editor does not make sense to me.

[2019-06-06 12:42] szarnekow commented on #1162
I understand. So that needs to be thoroughly tested.

[2019-06-06 14:36] miklossy commented on #1161
As @szarnekov suggested, a configurable issue (set to ignore as default) would be fine. If I recall it correctly, both plugin.xml files (in the runtime module and in the ui module) have to be merged. @cdietrich Please confirm.

[2019-06-06 14:39] cdietrich commented on #1161
Dont know needs to be checked
Runtime for sure

[2019-06-07 11:37] mark-christiaens opened #1167 "RequestManager modifies ResourceSet in parallel"
The `org.eclipse.xtext.ide.server.concurrent.RequestManager` is executing read and write requests.  AFAICT, the read operations are executed on the `parallel` executor service.  The write requests are executed by the `queue` executor.  So, the net result is that read requests can occur in parallel.  However, as we've seen multiple times in the past, the `Resource`s and `ResourceSet`s are not threa

[2019-06-08 06:21] cdietrich commented on #1167
i assume we need to distinguish which resources are read and what is done.
sequencing the reads has performance impacts,
but how to detect what kind of operation does modify (loading resources, resolving references, installing adapters is impossible imho

[2019-06-08 08:41] miklossy commented on #1161
I suggest to create a configurable issue `Java package naming conventions` (and set is to Ignore as default) under the `Grammar` section on the `Xtext`->`Errors/Warning` preference page:
![screenshot](https://user-images.githubusercontent.com/20393472/59144550-e9818980-89d9-11e9-8a35-6431d5422c21.png)

[2019-06-11 07:34] mark-christiaens commented on #1167
@cdietrich I connected VS code to our LSP server and was editing, navigating, hovering ... The reason why I think that I saw the behavior is that our LSP server is quite slow: I suspect that many of the read and write requests take several seconds a piece.  So the window for "raciness" is large.

[2019-06-11 08:34] cdietrich commented on #1167
see also https://github.com/eclipse/xtext-core/issues/1135

[2019-06-11 08:34] cdietrich commented on #1120
@ArneDeutsch any news on this?

[2019-06-11 10:49] loradd commented on #1161
I added a validation check for this issue. Considering the validator for bidirectional references, it seemed to me that no unit test is provided. Any suggestion on how to define a unit test for ignored checks? Also, integrating the configurable issue in the preferences concerns the xtext-eclipse project, if I am not wrong. Should I open an issue there referencing to this one?

[2019-06-11 13:01] svenefftinge commented on #1167
The underlying assumption is that with our standard hooks the resources are all loaded during indexing or a write operation. @mark-christiaens do you run a language that does some late lazy loading of dependencies?
We could maybe introduce some property per language that tells the LS if parallel read is ok. So if one participating language does on read loading it could veto this.

[2019-06-11 13:03] svenefftinge commented on #1135
By default read requests can run in parallel and write requests run exclusively. So not sure why it doesn't do that in your case.

[2019-06-11 13:34] mark-christiaens commented on #1167
@svenefftinge

- Yes, our language does perform late loading of additional resources that were not relevant during the main build.
- Besides that, IIUIC, one can choose the clustering policy (currently set to `DisabledClusteringPolicy`) so that from time to time part of the resource set is removed.  That might cause load operations during following read or write request that consult the resource s

[2019-06-11 15:15] svenefftinge commented on #1167
No, it would not scale, but it performs nicely if it fits into memory.
Assuming that for most usages the fast (and simple) default strategy works well, I'd like to allow languages to opt-out of the parallel read by configuration. I understand that this is not super safe but IIRC it makes quite a difference to allow parallel read. So'd vote for going with that unsafe compromise (we have it for two

[2019-06-11 15:16] svenefftinge commented on #1167
So what I am proposing is to change the manager to sequential anything if
a) one of the contributing language requires that
b) the clustering policy is used.

[2019-06-12 21:58] DarioDaF opened #1170 "Hidden witespaces rules not followed during model save"
When a witespace hidden rule is removed and introduced the result of `Resource.save` is invalid for the grammar.

Example:
[code]

Simple grammar accepting:
[code]

But not
[code]

With spaced in between dots.

If I create a test that generates a new `BlockName` for a `post` the output is incoherent:

[code]

This code fail because the newly added node is rendered as:
[code]
With extra spaces in a

[2019-06-13 06:01] DarioDaF commented on #1170
I found that a formatter can be used to solve this problem, but I think that the default output being invalid for its own grammar is not correct.

In the formatter I need to put `m.regionFor.keyword('.').surround[noSpace]` for each component needed and call format on childs (`m.allRegionsFor.keyword('.').surround[noSpace]` on the parent does not work and the old formatter is not available as a fra

[2019-06-14 07:09] cdietrich commented on #1082
(needed for full guava compatibility)

[2019-06-14 15:08] mmews-n4 opened #1171 "Missing starting character from text from multi-line comment"
In our language (n4js) we can write:

[code]

When hovering over 'MyClass', we get:
<img width="208" alt="Screenshot 2019-06-14 at 16 41 09" src="https://user-images.githubusercontent.com/20560257/59518592-35469e00-8ec6-11e9-82dd-13edeaa3dfc6.png">

The starting character 't' from the multi-line comment is missing. This is happening in `AbstractMultiLineCommentProvider#getTextFromMultilineComment(

[2019-06-14 15:50] miklossy commented on #1171
Thanks for the bug report! Is the problem reproducible on the Domain-Model example shipped with Xtext? If yes, could you provide a PR with a test case similar to https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.ui.tests/src/org/eclipse/xtext/example/domainmodel/ui/tests/HoverTest.xtend

[2019-06-14 15:57] cdietrich commented on #1171
i cannot reproduce this in Xtend

[code]

nor in mydsl

nor in dmodel

[code]

=> how does startTagRegex look like for you @mmews-n4

[2019-06-14 16:01] cdietrich commented on #1171
@mmews-n4 i found this one:
https://github.com/eclipse/n4js/blob/0fa04126396368c16d21298a992c69f50a14dd8b/plugins/org.eclipse.n4js/src/org/eclipse/n4js/N4JSRuntimeModule.java#L300
=> seems intended

[2019-06-14 16:04] mmews-n4 commented on #1171
@cdietrich Thanks for your help! I wasn't aware of this re-bind.

[2019-06-14 16:04] #1171 closed

[2019-06-20 16:28] miklossy commented on #1161
@loradd  You can add the necessary changes to the `xtext-eclipse` repo and reference the issue in the `xtext-core` repository, no need to create a new issue. In order to be able to test the ignore checks, you can modify the severity of the issue in the test case to warning or error and then you should be able to test it. For further information see the [StricterIssueCodesInTests](https://github.co

[2019-06-21 05:51] cdietrich opened #1178 "[CBI] Build takes very long and tests timeout"
The Gradle Build on CBI takes forever (40 mins) some tests fail due timeouts
https://ci-staging.eclipse.org/xtext/job/xtext-core/job/master/
this is much slower as the CI which is already relatively slow
(compared to a 5 year old thinkpad)

am not sure if the memory is insufficient with ` -Dorg.gradle.daemon=false`
and we need to specify `-Xmx` too.
or the CPU is to few

or CBI is so crappy in gen

[2019-06-21 05:51] cdietrich commented on #1178
cc @Hejado

[2019-06-21 05:52] cdietrich commented on #1178
https://ci-staging.eclipse.org/xtext/job/xtext-lib/job/master/ is much slower as well

[2019-06-21 06:09] cdietrich commented on #1178
we also dont specfiy memory for gradle anywhere e.g. via

[code]

[2019-06-21 06:11] cdietrich commented on #1178
cc @fredg02 this is one example of problems we have with CBI

[2019-06-21 07:34] cdietrich commented on #1178
maybe 1 cpu is too less: https://ci-staging.eclipse.org/xtext/job/xtext-core/job/cd_noGradleCrapOnStaging/

[2019-06-21 07:43] Hejado commented on #1178
@cdietrich You might not even have 1 cpu, as the default is set 0.25, if I remember correctly. I'd be interested in a comparison of build times with the following scenarios:

* no cpu settings
* cpu setting to 0.25
* cpu setting to 1
* cpu setting to 2

Unfortunately, I cannot yet test this myself :-(

[2019-06-21 10:09] cdietrich commented on #1178
- with no settings: 40 mins (test is failing / see above)
- with 0.25: 49 mins (test is failing - no idea why this is even worse than with default)
- with 0.5: 31 mins (test is still failing)
- with 1: 31 mins
- with 2: 9 mins (test is green)
=> maybe the default is even worse than 0.25 or there are other factors i dont see.
=> will restart 0.25 and 1 and see if these times are stable

[2019-06-21 10:29] cdietrich commented on #1178
@Hejado
how do the jenkinsfiles get picked up.
why is https://ci-staging.eclipse.org/xtext/job/xtext-core/job/cd_noGradleCrapOnStaging025/2/console now 11 mins?

[2019-06-21 10:31] cdietrich commented on #1178
the log says

[code]

but the code says
https://github.com/eclipse/xtext-core/compare/cd_noGradleCrapOnStaging025

[2019-06-21 11:22] cdietrich commented on #1178
=>another example is here https://ci-staging.eclipse.org/xtext/job/xtext-core/job/cd_noGradleCrapOnStaging05/4/console

[2019-06-21 12:24] Hejado commented on #1178
@cdietrich You must not use git force push if you change the Jenkinsfile. Jenkins will get confused and use a cached version, because it cannot detect changes, see here: https://ci-staging.eclipse.org/xtext/job/xtext-core/job/cd_noGradleCrapOnStaging05/changes

[2019-06-21 12:25] cdietrich commented on #1178
will it ever recover do i need to create new branches?

[2019-06-21 12:27] Hejado commented on #1178
Change something (add a comment) in Jenkinsfile and do a normal non-ammending commit & push. Should fix it

[2019-06-21 12:31] cdietrich commented on #1178
pushed new branches cd_issue1178*
lets see what happens

[2019-06-21 12:48] fredg02 commented on #1178
Default CPU request is 200m => 0.2

[2019-06-21 13:40] cdietrich commented on #1178
@Hejado still dont get it. here there is no config at all https://ci-staging.eclipse.org/xtext/job/xtext-core/job/cd_issue1178_05/1/console but why.
https://github.com/eclipse/xtext-core/compare/cd_issue1178_05

[2019-06-21 16:06] cdietrich commented on #1178
new data:
0.25: 30 min
0.5: 15:15 min
1: 8 min
2: 6:15 min

[2019-06-22 19:59] kthoms commented on #1178
So looks as if we should go with "1". Requesting more only slightly changes performance, while it may block jobs from being scheduled. IIRC there are only 2 CPUs for all jobs.

[2019-06-24 05:59] cdietrich commented on #1178
@Hejado can you please prepare PRs for this?

[2019-06-24 06:19] Hejado commented on #1178
Sure. Will start very soon

[2019-06-24 09:47] Hejado commented on #1178
Only added cpu, not memory (if not present), to not mess with [eclipse/xtext#1431]

[2019-06-24 11:03] cdietrich commented on #1178
we set the  cpu, but it seems that the pod config that is picked is random. see https://github.com/eclipse/xtext/issues/1495

[2019-06-25 06:51] ArneDeutsch opened #1183 "Backporting windows test fixes"
During the work to get the build running on tycho only a couple of tests where fixed that fail on windows only. We should backport these fixes to master.

[2019-06-25 06:53] cdietrich commented on #1183
@ArneDeutsch can you check how much overlay this has with https://github.com/eclipse/xtext-core/issues/1108

am not sure if we should fix the tests only or the impl too

[2019-06-25 06:58] ArneDeutsch commented on #1183
I will have an eye on that during the backport. But as I remember, quite often it is more a test issue (e.g. creating the output of an operation with system line seperator but then using `/n` in the test).

[2019-06-25 13:03] kittaakos opened #1186 "[doc] error: unable to create file – Filename too long when cloning on Windows"
Originally from https://gitter.im/eclipse/xtext?at=5d12129718e3256238394794

Git clone can fail on Windows due to long file paths.

[code]

This happened when I did a `git clone` under `C:\Users\kittaakos\dev`. Switching to `C:\` fixed the issue.

I am not sure if we can do anything with this, one line of documentation could be useful.

[2019-06-25 13:05] cdietrich commented on #1186
cc @ArneDeutsch this is the same problem you already saw.

possible workaround

- use shorter project names, to at leas handle such common checkouts to somehere on users
- while we are at we should drop the java 9 and 10 tests
- add java 11 tests
- add junit 5 tests

[2019-06-25 13:59] miklossy commented on #1161
Thanks for the fix @loradd I merged you PRs into the master branch.

Resolving this issue as fixed in 2.19.

[2019-06-25 13:59] #1161 closed

[2019-06-27 06:45] cdietrich opened #1189 "Find replacement for XtextAntlrGeneratorComparisonFragment"
Find replacement for XtextAntlrGeneratorComparisonFragment which is a FragmentAdapter
or deprecate it and remove usages

[2019-06-27 06:49] cdietrich commented on #1178
Memory looks good now

[2019-06-27 06:49] #1178 closed

[2019-06-27 07:13] szarnekow commented on #1189
I don't think we need this anymore since it was only used as a safety net when migrating to the new generator.

[2019-06-27 10:09] cdietrich commented on #1189
ok, i will deprecate it and remove it from generatexbase

[2019-06-27 12:03] cdietrich commented on #1189
fixed in 2.19

[2019-06-27 12:03] #1189 closed

[2019-06-27 14:41] cdietrich opened #1190 "Formatter destroys Config while formatting"
given the grammar

[code]

and formatter (old)

[code]

the following test will show that for formatter formats differently the first and second time

[code]

this is caused by `org.eclipse.xtext.formatting.impl.FormattingConfigBasedStream.collectLocatorsForComments(Collection<ElementLocator>, EObject, EObject)`
which removes stuff from the list `leadingElementLocators = cfg.getLocatorsForCommentT

[2019-06-27 14:41] cdietrich commented on #1190
@meysholdt  do you know why this is done this way.
and should the list be copied in the AbstractFormattingConfig or in collectLocatorsForComments

[2019-06-27 14:42] cdietrich commented on #1190
here is the workflow to easily reproduce

[code]

[2019-06-28 07:54] cdietrich commented on #1082
Planned release date is 22.8

[2019-06-28 09:03] cdietrich commented on #1190
Fixed in 2.19

[2019-06-28 09:03] #1190 closed

[2019-07-09 06:37] cdietrich commented on #1120
@ArneDeutsch ping

[2019-07-09 07:49] cdietrich commented on #1050
ping @holgerschill

[2019-07-09 07:54] cdietrich commented on #1005
the answer is: yes it can. => fixed

[2019-07-09 07:54] #1005 closed

[2019-07-09 07:55] cdietrich commented on #975
see also https://github.com/eclipse/lsp4j/issues/331

[2019-07-09 08:21] tivervac commented on #1070
@moayman In the system I made, there are pre formatting filters (i.e. filters that run before formatting this can be used for e.g. formatter tags) and post formatting manipulators. The latter work are called in an overridden `postProcess` and work outside of the formatter framework. They work on the list of `ITextReplacement`'s that were created by the formatter.

The latter allows us to create an

[2019-07-17 07:10] cdietrich opened #1208 "Replacement for ExternalAntlrLexerFragment"
is there a replacement for Replacement for ExternalAntlrLexerFragment
it is used e.g. in MWE
@szarnekow do you have any insights?

[2019-07-17 07:28] szarnekow commented on #1208
I'm not aware of a replacement. Could be, that we have to migrate that from scratch.

[2019-07-17 07:29] cdietrich commented on #1208
the fragment or the workflow in mwe?

[2019-07-17 07:29] szarnekow commented on #1208
The fragment.

[2019-07-19 07:18] cdietrich commented on #993
@soerendomroes could you document your workaround here

[2019-07-19 08:35] cdietrich commented on #993
it also looks like the order in
[code]
plays a role too.
maybe it should be
- subgrammar
- supergrammar

@szarnekow any ideas/hints on this?

[2019-07-19 12:48] soerendomroes commented on #993
@cdietrich I do the following:
For other subgrammars I only use a singleton injector, since they may not be instantiated by another bundle.

[code]
A simple singleton is not enough. It can happen that some other bundle calls do setup first, but does not bind MyLangIdeModule. Therefore, I have a singleton that I can override if it some other bundle already created a wrong injector.

[2019-07-19 12:56] soerendomroes commented on #1135
Okay, thank you, I fixed my issue by using notifications instead of requests.

[2019-07-19 12:56] #1135 closed

[2019-07-23 04:52] cdietrich commented on #1050
ping @holgerschill

[2019-07-23 07:36] cdietrich commented on #922
WIP for a more sophisticated solution is here: https://github.com/eclipse/xtext-core/tree/cd_issue922_variant_b

[2019-07-23 08:02] cdietrich commented on #922
first fix in now inplace. will leave open for further improvement

[2019-07-29 12:56] cdietrich commented on #1082
declarationProvider in sever capabilities

[2019-08-02 11:56] cdietrich commented on #92
we no longer use the tooling

[2019-08-02 11:56] #92 closed

[2019-08-02 11:57] cdietrich commented on #105
with gitAll and AdjustPipelines this is done

[2019-08-02 11:57] #105 closed

[2019-08-02 12:13] cdietrich commented on #259
we no longer have api tooling. thus this is obsolete

[2019-08-02 12:13] #259 closed

[2019-08-09 06:20] cdietrich commented on #975
still nothing done. as a mitigation we have our own job

[2019-08-09 06:39] cdietrich commented on #1163
am not sure if this can easily be fixed. see org.eclipse.xtext.ide.tests.server.UriExtensionsTest too

[2019-08-09 07:05] cdietrich commented on #1163
but there are situations where it crashes already now

[2019-08-09 07:18] cdietrich commented on #1163
just fixing it seems no to work. there are still places with maybe double en/decoding

[2019-08-09 09:36] cdietrich opened #1218 "[LSP] bogus behaviour of codeAction / workspaceManager.doRead"
The current LanguageServiceImpl.codeAction calls
workspaceManager.doRead to obtain a document and uri
i see two probems with that

- live vs persistent
- if i change the resource within the code action (e.g. to use change serializer) then i destroy/update the resource already when calculating the change.
- so if the uses dismisses the quickfix and then again asks for the quickfix i wont get any ch

[2019-08-09 09:47] cdietrich commented on #1218
org.eclipse.xtext.ide.tests.testlanguage.ide.server.CodeActionService.recordWorkspaceEdit(Options, IModification<Resource>) works around this impl in the actual impl of the code action

[2019-08-09 13:10] svenefftinge commented on #1218
The problem here is the change serializer mutating the resource set?
I think you can access the resourceset and create a copy of it through the languageAccess, no?

[2019-08-09 13:13] svenefftinge commented on #1218
Not sure I fully understood your problem, but I think you should be able to do the same thing we do in the RenameService2 https://github.com/eclipse/xtext-core/blob/master/org.eclipse.xtext.ide/src/org/eclipse/xtext/ide/server/rename/RenameService2.xtend#L91

[2019-08-09 13:17] cdietrich commented on #1218
yes the change serializer mutates the rs
yes you can copy. but i am not sure if that should be done by the implementer of the codeaction or by the codeaction service/method itself

[2019-08-09 13:22] svenefftinge commented on #1218
I personally think the serializer is overkill for many use cases, so I wouldn't want to bake it behind the APIs but better allow people to use it when appropriate. the API should reflect that `codeAction` is a readonly operation and should also allow lightweight (text-based) changes.

[2019-08-13 20:01] cdietrich commented on #1163
Fixed in 2.19

[2019-08-13 20:01] #1163 closed

[2019-08-15 09:04] cdietrich opened #1223 "[Wizard] Switch default back to Java"
I think we should switch the default back to Java and use Xtend only for Tests and the Generator.

What do you think?

[2019-08-15 09:07] kthoms commented on #1223
I support the idea. For Xtext newbies it is too complex to add the burden of learning Xtend upfront when they "just" want to create a simple Xtext project.

[2019-08-22 14:13] cdietrich commented on #1082
Fixed in 2.19

[2019-08-22 14:13] #1082 closed

[2019-08-26 08:02] cdietrich commented on #506
no news on guice side

[2019-08-27 14:45] LorenzoBettini commented on #1223
In my humble opinion that would be a bad step backwards, since Xtend is much easier to use for every task in an Xtext DSL implementation... are you at least going to provide any flag in the wizard for easily switching? Last (but in my case, definitely not least) it will "break" the Xtext book...

[2019-08-27 14:49] cdietrich commented on #1223
we dont have the capacity to maintain and develop Xtend in a way that would / should / could encourage users to use it as GPL.
additionally people have to learn xtend to get very basic tasks done.

i could live with a flag in the Wizard though.

[2019-08-27 14:52] LorenzoBettini commented on #1223
that's even more depressing... :'(

[2019-08-28 15:22] xpomul opened #1230 "Serializer messes up whitespace if EObjects override equals/hashCode"
**Problem**

Given a semantic model which contains `EClass`es that override equals/hashCode in a way that two different instances `a` and `b` of the `EClass` can be equal (`a.equals(b) == true`) – as in

[code]

, given a grammar that defines a DSL such as

[code]

and given a DSL string that contains duplicate objects with different spacing – such as

[code]

If this string is parsed and then ser

[2019-08-28 15:25] xpomul commented on #1230
[SerializerIssue.zip](https://github.com/eclipse/xtext-core/files/3551633/SerializerIssue.zip) contains the minimal example I mentioned above.

[2019-08-28 15:43] cdietrich commented on #1230
i fear there is nobody actively working on that part of xtext right now

[2019-08-28 15:46] cdietrich commented on #1230
@meysholdt what do you think? bug or not?

[2019-08-28 15:56] cdietrich commented on #1230
@xpomul does a Identity Hashmap the job as well ?

[2019-08-28 15:56] meysholdt commented on #1230
Thank you for this extensive report and analysis, @xpomul!

The EMF Framework however assumes that `equals()` of [EMF Objects is not overwritten](https://github.com/eclipse/emf/blob/8a3d58071a0cd5ce0fd5c765f4563620f14cbe50/plugins/org.eclipse.emf.ecore/src/org/eclipse/emf/ecore/EObject.java#L65-L66
):

And the Xtext Serializer is based on that assumption. I would not want to broaden assumtions bey

[2019-08-28 16:11] xpomul commented on #1230
Ah, bummer :-(

I think in our project nobody was aware about this EMF assumption (and it is funny that nobody noticed this on our side in the past nine years ;-) - because the overridden equals was in there for ages...).

Thanks for your quick replies, though, @meysholdt and @cdietrich. I agree that we should not broaden the assumptions.

Well, at least I have learned a lot about the node model a

[2019-08-28 16:11] #1230 closed

[2019-08-29 08:39] xpomul commented on #1230
For anyone stumbling over this in the future, the following workaround *seems* to work for now:

[code]

This class can be bound in the runtime module of the DSL like this:

[code]

**DISCLAIMER**

This seems to work fine for our case, but as @meysholdt stated above, it is out of spec.
If you have any way to not override `equals` in the model, then go for that.
In our case, we will try to eliminat

[2019-08-29 10:34] cdietrich opened #1231 "Partial Serialzer does not work for unassigned transient attributes"
We implemented a move refactoring using the `IResourceRelocationStrategy` extension point. if we move a single file this works perfectly fine.

but if we move the declaration and the referencing file at once, then `org.eclipse.xtext.ide.serializer.impl.RelatedResourcesProvider.getRelatedResources(Collection<IResourceSnapshot>)` will remove the related resource from `result ` as both the declaratio

[2019-08-29 11:30] cdietrich commented on #1231
here is a test showing a similar issue. the workaround that works in our codebase (dont do the remove) does not work there

[code]

[2019-08-29 11:51] cdietrich commented on #1231
it also looks like the scoping in that test behaves differently than it does in our world.
so i dont get any scoping issues if i skipt the remove

[2019-08-29 12:29] cdietrich commented on #1231
so it looks like all these snapshots cannot cope with the uri change in {{org.eclipse.xtext.ide.refactoring.ResourceRelocationContext.loadAndWatchResource(ResourceRelocationChange)}} as the snapshots all use old uris.

[2019-08-29 12:55] cdietrich commented on #1231
the problem in the test is that `org.eclipse.xtext.resource.containers.FlatResourceSetBasedAllContainersState` keeps the old data. (installed via ImportTestHelper) it does not seem to be suitable for that usecase.

when removing that the package reference gets updated, but there is still the problem that changes for the old resource are reported (that might have been the reason for removing them i

[2019-08-29 12:58] cdietrich commented on #1231
the test case works with removing the resource though. need to find out why

[2019-08-29 13:27] cdietrich commented on #1231
[code]

opts out in our case

[2019-08-29 13:53] cdietrich commented on #1231
here is the trace that creates the rewrite

[code]

[2019-08-29 14:05] cdietrich commented on #1231
`org.eclipse.xtext.ide.serializer.impl.PartialSerializer.trySerializeEObject(EObjectChange, ITextRegionDiffBuilder, SerializationContextMap<IConstraint>)` does seem to not proper handle change to transient features. will double check if we do transient corrent.

`org.eclipse.xtext.ide.serializer.impl.PartialSerializer.trySerializeSingleValue(EObject, FeatureChange, IEObjectRegion, IConstraint)` di

[2019-08-29 14:09] cdietrich commented on #1231
=>

[code]

@meysholdt @szarnekow any idea why the code checks for assignments first and transiency second?

[2019-08-29 14:50] cdietrich commented on #1231
https://github.com/eclipse/xtext-core/commit/d3eff0f9753e7ce4d23052ad94edb62c1d6420b6
and
https://github.com/eclipse/xtext-core/commit/97191fa5926f25405296021e777472ac69a7cf57

show two variant that should work. @meysholdt what do you think.

unfortuately i have no idea how to test this with a derived metamodel

[2019-08-30 11:31] cdietrich commented on #1231
fixed in 2.19

[2019-08-30 11:31] #1231 closed

[2019-09-05 06:13] kittaakos opened #1238 "[LS] Support workspace/didChangeWorkspaceFolders"
Spec: [`workspace/didChangeWorkspaceFolders`](https://microsoft.github.io/language-server-protocol/specification#workspace_didChangeWorkspaceFolders)

[2019-09-05 08:55] PHameete opened #1239 "[LSP] 2.19.0 WebSocket support example / documentation"
I am excited to see in the release notes that Xtext 'now uses LSP4J version 0.8.0 / Language Server Protocol version 3.14.0. This allows you to consume Xtext Language Servers through WebSocket.'

I'm currently using a custom implementation of a Websocket Server in front of the LSP, which allows multiple clients to use the LSP in parallel.
Does the official WebSocket implementation allow multiple c

[2019-09-05 09:05] cdietrich commented on #1239
no there is no documentation. yes it allows multiple clients. the code / api is in lsp4j.
there is no official example for that but you can read through https://github.com/eclipse/lsp4j/issues/203

[2019-09-05 12:50] PHameete commented on #1239
@cdietrich thanks for the response! It took me some time to figure out exactly how to use it. Mostly because I was unfamiliar with the javax.websocket and LSP4J APIs.

I am retrieving a new LanguageServerImpl for every WebSocket session. Is that the suggested way to do this? I remember you saying each LanguageServer is built to serve one client.

Here's the xtend code for who is interested (perhap

[2019-09-05 12:54] cdietrich commented on #1239
also have a look at the linked elk example https://github.com/OpenKieler/elkgraph-web/pull/13/files#diff-dc0f9c1dec5e5df77b8b2be6746c2e10 that i intended you to have a look at

[2019-09-05 14:07] PHameete commented on #1239
@cdietrich yes thanks for the pointer. Jetty is also possible of course and eliminates the need for the config provider. Code is then as follows, and I believe a bit more simple than the example you linked:

Websocket Endpoint definition:
[code]

Standalone Jetty Server that serves the Endpoint:
[code]

[2019-09-05 14:08] PHameete commented on #1239
Also note that in the example you link they use a single LanguageServer instance to serve all WebSocket clients. I've seen this can lead to concurrency exceptions so I would suggest to create an instance per client.

[2019-09-05 16:39] cdietrich commented on #1238
@kittaakos does this make sense if we dont support / ignore `org.eclipse.lsp4j.InitializeParams.workspaceFolders`
in the initialize request?

[2019-09-06 06:51] kittaakos commented on #1238
Yes, sure. We have to adjust the `initialize` as well. Otherwise, it won't work. Sorry for not being clear about it. This should be part of the task.

[2019-09-06 09:02] PHameete commented on #1239
Thanks for the help @cdietrich Ill close this now.

[2019-09-06 09:02] #1239 closed

[2019-09-09 13:26] ArneDeutsch commented on #1120
I executed the steps outlined in the ticket with current head version. I adapted the path to maven installation (used 3.5.0) and changed Xtext version to 2.19.0 (with 2.17.0 I get an issue with java 11 ... "Fatal error compiling: invalid target release: 11"). With this settings I can execute all steps above without error. I suspect the issue was fixed for 2.18.0 or 2.19.0 (I remember there were so

[2019-09-09 13:46] ArneDeutsch commented on #1120
Correcting myself ... have it running with Xtext 2.17.0 as well. Works also. Also did some experiments with provided manifests (applying manifest merging logic against it, also in slightly modified versions .... but I can not detect any misbehaviour here.

[2019-09-09 13:47] cdietrich commented on #1120
I could not reproduce this neither

[2019-09-09 16:25] scanyboss commented on #1120
I've just tried on both (2.17.0 and 2.19.0) versions and got this error every time (run from terminal on ubuntu 18.04).

[2019-09-09 16:26] cdietrich commented on #1120
i wonder how to exactly reproduce this then.
how to get the generated project in a state you have it.
i tried this on linux and it works fine

[2019-09-09 16:32] cdietrich commented on #1120
i can reproduce the manifest in ui project looks like

[code]

after running the main though. can you @ArneDeutsch ?

[2019-09-09 16:36] scanyboss commented on #1120
Yes, but look at mine:
![Screenshot from 2019-09-09 18-34-59](https://user-images.githubusercontent.com/17799565/64549261-a6181d80-d330-11e9-8ffe-e40e65206f08.png)

it's little bit different ... I have 2 more characters in the first line, even when I dont know why.

[2019-09-09 16:39] cdietrich commented on #1120
the question is: if you change your main non to run maven, but to create the project only.
does this problem happen too if you create the project and then run mvn on command line twice?

[2019-09-09 16:41] cdietrich commented on #1120
=> interesting would be how the manifest looks like before you write it in the main

[2019-09-09 17:35] scanyboss commented on #1120
does this problem happen too if you create the project and then run mvn on command line twice?
(if needed run a second main that changes the manifest in between)

 Yes the same problem happens in this case.

Like this:
[code]

[2019-09-09 17:41] cdietrich commented on #1120
does this happen if you run the workflow manually and not maven too?

[2019-09-09 17:41] scanyboss commented on #1120
In general there is a restriction that manifest.mf file can contain only lines with max 72 bytes. All the chars in the first line are encoded with 1byte (UTF-8) -> that means after 72 chars, all the remaining chars are put to the next line. I wonder why your first line has only 70 chars ? Which encoding are you using ?

[2019-09-09 17:43] cdietrich commented on #1120
i did not set any specific encoding. my eclipses encoding is UTF-8.
i am not sure if this 72byte things is reflected somewhere in the code and or wizard.

where do you have the 72byte information from? which exact jdk do you use?

[2019-09-09 17:45] cdietrich commented on #1120
"Require-Bundle: org.hello,org.hello.ide,org.eclipse.xtext.ui,org.eclip" has 70 chars though

[2019-09-09 17:47] scanyboss commented on #1120
https://stackoverflow.com/questions/28727048/why-jar-manifest-file-shouldnt-contain-lines-with-more-than-72-bytes -> it's pretty old post but maybe still valid
I'm using jdk 11.0.4

[2019-09-09 17:49] cdietrich commented on #1120
i am using java 11. does this happen in java 8 too?

[2019-09-09 17:50] cdietrich commented on #1120
i really wonder if this is related to you using the Manifest class (and not the MergableManifest2 class)

[2019-09-09 17:53] cdietrich commented on #1120
in my manifest the line ending seems to be `\r\n`

[2019-09-09 17:56] cdietrich commented on #1120
running your main with java 11 indeed gives

[code]

[2019-09-09 17:59] cdietrich commented on #1120
@ArneDeutsch did you test that mergablemanifest2 makes with this?

[2019-09-09 18:09] scanyboss commented on #1120
Seems like MergeableManifest2 works fine.

[2019-09-09 18:10] cdietrich commented on #1120
we should look into that problem anyway. from my pov we should be able to deal with manifest as java 11 creates it too

[2019-09-13 12:40] tomvdbussche commented on #1020
I have experienced the same error, however I was not able create a reproducible example.

It seems that `GrammarUtil#getReference` will in some cases return null, but this is not checked in following locations:

- `org.eclipse.xtext.resource.EObjectAtOffsetHelper.resolveCrossReferencedElement(INode)`
- `org.eclipse.xtext.xbase.linking.BrokenConstructorCallAwareEObjectAtOffsetHelper.resolveCrossRef

[2019-09-16 10:46] ArneDeutsch commented on #1120
Identified the issue. Case is when the "bundle-version" identifier contains linebreaks. Fix commited.

[2019-09-20 07:25] cdietrich opened #1244 "Update to LSP4J 0.9.0"
Update to LSP4J 0.9.0 when it is available

[2019-10-02 06:58] larsilus opened #1250 "IndexOutOfBoundsException / FollowElementComputer: CustomScopeProvider Candidates do not show up in UI"
Hi, we have a quite big grammar, so i cannot share it easily here.
The error happens on a special place in the xtext eclipse ide editor of our language, where we just expect that the CTRL+SPACE should show up some proposals.
They are correctly provided in the custom scope provider, but the list does not appear on the ui.
In this situation we always get the stacktrace error below.

When i analyze i

[2019-10-03 10:54] tisis2 opened #1252 "Performance improvement for StateBasedContainer"
In Workspaces with a huge index the implementation of getExportedObjectsByType gets slow, since its first filtering by type and then the uri filter is applied on the result. We see small Projects get affected by big workspaces (content assist, reparse,...)

[2019-10-03 11:22] tisis2 commented on #1252
When profiling we saw a lot of pressure on the EObjectDescriptionLookUp.getExportedObjectsByType in a wokspace with a huge index.

I created an implementaion of IResourceDescription that filters the resource descriptions to the actual visible one in the current container state. On this way the filtering if the resource is acutally in the current state happens before the filtering of all exported O

[2019-10-08 17:26] cdietrich commented on #1250
@szarnekow any idea what could cause this?
@larsilus any indication what in the grammar could cause this / help to reproduce this would be nice

[2019-10-11 10:06] cdietrich commented on #1120
Fixed in 2.20

[2019-10-11 10:06] #1120 closed

[2019-10-16 09:18] szarnekow commented on #1250
@larsilus Without a reproducible case, it is hard to work on this.

[2019-10-21 16:04] dhuebner opened #1262 "Endless loop in NodeIterator when start node is null"
We should assert `INode startWith` is not null or better fix the  hasNext()  implementation.

To reproduce:

[code]

[2019-10-24 19:54] cdietrich commented on #1223
we had a discussion on this topic at eclipsecon and came to the conclusion we should go this route.
the question is: do we need a flag in the wizard
@ArneDeutsch @miklossy do you have any thoughts how much effort such a flag would be?

[2019-10-24 20:33] miklossy commented on #1223
Adsing a flag (checkbox/combobox/radio buttons) to the wizard is no problem.

[2019-10-25 09:22] LorenzoBettini commented on #1223
+1 for the flag

[2019-10-25 09:40] cdietrich commented on #1223
Who could work on that?

[2019-10-25 09:54] kthoms commented on #1223
🙋‍♂

[2019-10-25 10:43] miklossy commented on #1223
The question is how to represent the flag on the Gui? Combobox / radio buttons, something else?

[2019-10-25 11:18] szarnekow commented on #1223
Generally I prefer fewer options over more options, but if we agree on having a flag in the wizard, I't like to be a checkbox `[ ] Create service stubs as Xtend classes` (wording to be discussed)

[2019-10-25 11:19] cdietrich commented on #1223
I wonder if a comment on the flag in the generated workflow could help too

[2019-10-25 12:03] kthoms commented on #1223
IMO if it is visible in the workflow that's actually enough. Adding a UI visible thingy for something we discourage to use is not helping users.

[2019-10-25 12:19] LorenzoBettini commented on #1223
Just for curiosity: we actually "discourage" the use of Xtend now?

[2019-10-25 12:51] kthoms commented on #1223
Yes, for usages where it does not add much benefits. We leave it for generators and formatting.

[2019-10-25 13:26] szarnekow commented on #1223
A little bit of background on Karstens comment:
Since we see new Java versions every 6 months, it is hard to keep up with its fast evolution. There is still a clear sweet spot in using Xtend in certain areas though. For code generation and for APIs that are designed particularly for extensions (namely the formatting API), it is beneficial to use Xtend. For plain vanilla coding, Java 8 and especial

[2019-10-30 14:45] cdietrich commented on #41
There is none. Depends what you exactly do and what happens in your case

[2019-10-31 00:07] kittaakos opened #1271 "[LS] LS tests require JUnit 4.x on the classpath"
Adding to the following to my Gradle config is not sufficient, I have to declare JUnit 4.12 to the classpath.
[code]

Here is the JUnit 4.x dependency in the abstract LS test class:
https://github.com/eclipse/xtext-core/blob/33a64fb2eeea43908b1d74858d441f7990d24fa7/org.eclipse.xtext.testing/src/org/eclipse/xtext/testing/AbstractLanguageServerTest.xtend#L504

[code]

The project I was working on: h

[2019-10-31 10:09] asiehsalehi commented on #41
can you help to find out how I can fix it please?

I have implemented the solution suggested by spoenemann (specialize the Xtext generator by adding these two classes), this allows to generate xtext artifacts but the log still shows:
419  [main] ERROR xt.generator.XtextGeneratorLanguage  - Error loading 'platform:/plugin/org.eclipse.emf.ecore/model/Ecore.genmodel'

[2019-10-31 11:25] kthoms commented on #41
Try to store Ecore.genmodel and add a uri mapping with the standalone setup from a `platform:/plugin` to `platform:/resource` uri.

[2019-10-31 19:35] kittaakos commented on #1271
Would it be possible to introduce a non-optional dependency to `org.hamcrest` and replace all the `org.junit.Assert` calls with `org.hamcrest.MatcherAssert.assertThat`? If we are OK with it, I am happy to do the changes.

By the way, I do not know much about licensing 😕, [`hamcrest`](http://hamcrest.org/JavaHamcrest/) has [`BSD-3-Clause`](https://opensource.org/licenses/BSD-3-Clause). Can we use i

[2019-11-01 12:02] szarnekow commented on #1271
Personally I'd like to avoid having a different set of assertions being used in the same utility bundle. I see that the build gradle defines optional dependencies. Apparently they are not so optional depending on the code path. So in a nutshell, we either need to make the dependency to Junit4 mandatory, live with the fact that clients of the AbstractLanguageServerTest must add the dependency to th

[2019-11-01 12:18] kittaakos commented on #1271
+1 for this.

[2019-11-01 14:25] cdietrich commented on #1271
AFAIK all abstract api in testing uses junit4

[2019-11-04 06:58] cdietrich commented on #1271
when i create a new xtext project with gradle junit 4.12 is already on classpath.
same with pure maven

but the dependency looks like

	testCompile "org.eclipse.xtext:org.eclipse.xtext.testing:${xtextVersion}"
	testCompile "org.eclipse.xtext:org.eclipse.xtext.xbase.testing:${xtextVersion}"

in xbase.testing junit 4 is non optional too

[2019-11-04 07:05] cdietrich commented on #1250
@larsilus any updates on how to reproduce?

[2019-11-04 08:50] cdietrich commented on #41
@asiehsalehi any hints on how to reproduce your problem?

[2019-11-04 12:13] cdietrich opened #1272 "Bogus Generator for Label providers"
Bogus Generator for Label providers:

Depending on if Xtend or Java is used for the generation the Label providers have comments with and without the word see

 `See <url>`  vs  `<url>`

see comments in https://github.com/eclipse/xtext-eclipse/pull/1241/files

[2019-11-07 14:40] cdietrich commented on #1272
there are also places where @override is inconsistent (description label provider)

[2019-11-07 14:41] cdietrich commented on #1223
TODO: wizard

[2019-11-08 21:55] rablewis commented on #1262
I'm willing to take this as my first issue.
It should be easy to fix by modifying hasNext() like this:

[code]

I would propose also making a similar change to hasPrevious().

Any comments on the above approach or on appropriate testing before I proceed?

Thanks.
-R

[2019-11-09 14:04] szarnekow commented on #1262
Sounds very good to me. Please go ahead.

[2019-11-11 08:54] kthoms commented on #1223
@LorenzoBettini After thinking about it I don't think we should blow up the wizard for this option. The wizard is already complex enough and should encourage only to use the most common configuration for new projects. We don't want to encourage using Xtend for everything, but only for generators and tests. This would be further enabled by default, while other customizations will use Java by defaul

[2019-11-11 15:02] LorenzoBettini commented on #1223
Please go on closing this, I did not agree on the whole issue anyway ;) but since this was the final decision...
so from what i understand, besides generator and tests, each single component that one wants to be generated in Xtend must be explicitly enabled in the mwe2 file right?

[2019-11-11 15:03] cdietrich commented on #1223
@LorenzoBettini this is not a decision we want to do but we have to do due lacking resources and contributions

[2019-11-11 15:05] cdietrich commented on #1223
@LorenzoBettini  no.

you just need to remove this line or toggle it to true
https://github.com/eclipse/xtext-core/blob/cdfdc90a717156d665bd491c372784451499f0ec/org.eclipse.xtext.tests/testdata/wizard-expectations/org.xtext.example.lsGradleApp/org.xtext.example.lsGradleApp.parent/org.xtext.example.lsGradleApp/src/org/xtext/example/mydsl/GenerateMyDsl.mwe2#L23

[2019-11-11 15:05] cdietrich commented on #1223
=> the only thing that changes is how the workflow is generated by the wizard.
existing workflows wont change behaviour

[2019-11-18 11:22] #1223 closed

[2019-11-19 05:19] larsilus commented on #1250
Hi Christian,

i think you can close it for now. I will recreate it, when i have a debuggable example for you.

Ciao
Lars

Von meinem iPhone gesendet

[2019-11-19 08:52] tisis2 commented on #1252
since the pull request #1253 does not solve this problem anymore, what should we do with this issue?

[2019-11-19 09:00] cdietrich commented on #1252
would it keep open for now but remove it from any milestone

[2019-11-19 09:01] cdietrich commented on #1252
=> with https://github.com/eclipse/xtext-core/pull/1253 we will allow to customize this easier but we will leave this issue open for now

[2019-11-19 09:08] JanKoehnlein commented on #993
Stumbled upon this as well.

It seems bogus that `HouseStandaloneSetupGenerated#createInjectorAndDoEMFRegistration()` calls the static of the `PersonStandaloneSetup.doSetup()`. This way Xtext registers the wrong injector (runtime instead of IDE) in the LS scenario. This can be very hard to track down. It actually took me a few hours, because it only caused a linking issue in live-scope scenarios).

[2019-11-19 09:12] cdietrich commented on #993
@JanKoehnlein wont we be able to add the new IF to the abstract class?

[2019-11-19 09:33] cdietrich commented on #993
@szarnekow what do you think?

[2019-11-19 09:58] szarnekow commented on #993
I assume we'll still need the injector of the base languages being created to make sure that validators for the EPackages are registered.
So skipping the base language is probably not a general solution to the problem.
From the top of my head I don't see how we can use a standalone setup in a reasonable way in the IDE bundles with the shape of the code generation that we currently use.

It would p

[2019-11-19 14:58] miklossy commented on #269
I also encountered this problem recently:
![screenshot](https://user-images.githubusercontent.com/20393472/69157584-70887100-0ae5-11ea-8256-e31d9ed4affa.png)

[2019-11-22 07:17] cdietrich commented on #1244
doesnt look like if there will be a 0.9.0 for 2019-12
the 0.8.1 is not even available with p2

[2019-11-24 16:57] miklossy commented on #1099
See also https://bugs.eclipse.org/bugs/show_bug.cgi?id=470799

[2019-11-25 06:12] raner commented on #393
Lately, I'm getting a new variant of this extremely annoying problem. Whenever I change something with the Guice bindings that doesn't quite jive, I get something like this:
[code]
Only when I set a breakpoint in `Throwable.printEnclosedStackTrace` I see the Guice stack trace:
[code]

[2019-11-25 06:14] cdietrich commented on #393
there are 3 arguments against an update right now
- too late in the simrel
- no capacity
- the current guice 4 still has java 9+ warnings

[2019-11-26 12:50] tomvdbussche opened #1303 "Javadoc incorrect for INode#getText()"
The documentation for the `getText()` method in `INode` states the returned values will never be `null`.

https://github.com/eclipse/xtext-core/blob/d9a45cfd05de3037afed498cba1029cc02bf8642/org.eclipse.xtext/src/org/eclipse/xtext/nodemodel/INode.java#L156-L161

However looking at the implementation of `AbstractNode` it seems it is possible that `null` is returned when `getRootNode()` is `null`.

h

[2019-11-26 12:52] szarnekow commented on #1303
Hey Tom, why is your root node null?

[2019-11-26 12:55] tomvdbussche commented on #1303
I am not sure, it was part of a logged stacktrace but I don't know that caused the root node to be `null`.

[2019-11-26 15:01] LorenzoBettini opened #1304 "Cannot run CliWizardIntegrationTest"
I cannot run `org.eclipse.xtext.xtext.wizard.cli.CliWizardIntegrationTest` as a JUnit test, due to this exception from EMF: `Missing properties: org/eclipse/xtext/util/plugin.properties`.

I can run it as a JUnit Plug-in test, but then I cannot run its main to update the expectations:

[code]

[2019-11-26 15:05] cdietrich commented on #1304
have never seen this. how do you exactly run the test.

[2019-11-26 15:08] LorenzoBettini commented on #1304
Simply from Eclipse: right-click -> Run As -> JUnit Test

similarly for running its main as a standard Java application

[2019-11-26 15:08] cdietrich commented on #1304
@szarnekow can it be this is a side effect of the build.properties thing?

[2019-11-26 15:10] cdietrich commented on #1304
i can reproduce this now too.
was working until last week

[2019-11-26 15:11] LorenzoBettini commented on #1304
Indeed I've been using that test lots of time in the past and it was always working...

[2019-11-26 15:21] cdietrich commented on #1304
@kthoms is it possible the xtend2java conversion changed exception handling here?

[2019-11-26 15:25] cdietrich commented on #1304
indeed the catch exception in xtextversion was not ported properly

[2019-11-26 15:32] cdietrich commented on #1304
@kthoms this should be fixed for 2.20

[2019-11-27 10:22] kthoms commented on #1304
will do!

[2019-11-27 18:27] cdietrich commented on #1208
fixed in 2.20

[2019-11-27 18:27] #1208 closed

[2019-11-28 11:16] kthoms commented on #1304
Fixed for 2.20. The regression uncovered a problem in `XtextVersion#readVersionFromManifest()` which might be solved later. The PR #1309 is not ready to merge yet and a bit risky so close to the release.

[2019-11-28 11:16] #1304 closed

[2019-11-28 13:04] LorenzoBettini commented on #1304
Thanks! It now works again

[2019-11-29 06:56] cdietrich commented on #1244
Moved back to 2020-03 / 2.21 as lsp4j wont release 0.9.0 in time

[2019-12-02 11:37] cdietrich commented on #1108
cc @miklossy

[2019-12-02 19:45] cdietrich opened #1312 "[Generator] Validator Stub has bad Java Code"
[code]

[2019-12-02 21:02] cdietrich commented on #1312
Fixed in 2.21

[2019-12-02 21:02] #1312 closed

[2019-12-05 16:21] mmews-n4 commented on #922
Note the two citations from the LSP spec (one @cdietrich cited above already):

- **(1) Spec says, marking the last character of a line is done by referencing the start of the next line**

- **(2) Spec says, that LSP clients can deal with character positions greater than the line length**
[code]

My conclusions:
- Regarding the `StringIndexOutOfBoundsException` of IntelliJ: Spec (2) means IMHO, th

[2019-12-05 16:23] cdietrich commented on #922
Defaulting and have correct positions here are two things

I wonder if your change makes mine superfluous/ possibly cleaned up

[2019-12-05 16:37] mmews-n4 commented on #922
Right, so defaulting solves `StringIndexOutOfBoundsException`.

Correct positions can be calculated. I prepared that already on my machine and can push it to branch issue_end_position. But that would make it necessary to introduce another variable (which I called `hasLineBreakAfterColumnEnd`. Would you either like to have correct position by introducing that additional variable, or would you inste

[2019-12-06 07:46] mmews-n4 commented on #922
To show some of the changes that would be necessary additionally, mind the code snipped below. Also note, that analogous to `getLineNumberEnd()` and `getColumnEnd()`, the additional method `hasLineBreakAfterColumnEnd ()` needs to be added.

**LanguageServerImpl**
[code]

[2019-12-06 08:42] cdietrich opened #1317 "SemanticSequencerExtensions produces wrong list of states under certain circumstances"
given the grammar

[code]

the `org.eclipse.xtext.xtext.generator.serializer.SemanticSequencerExtensions.getLinearListOfMandatoryAssignments(IConstraint)`
produces the wrong feature for either unary plus or minus.
this results in the sequencer doing this

[code]

as you can see the unaryplus uses the unary minus operand

[2019-12-06 15:39] LorenzoBettini opened #1318 "The projectWizard fragment generates invalid code if the grammar does not use Xbase"
I was adding the new generator `projectFragment { generate = true }` to a new DSL, let's call it `MyDsl` (which does not inherit from Xbase) and when running MWE2 the created `MyDslProjectTemplateProvider.xtend` in the UI project does not compile (from what I understand, the active annotation `@ProjectTemplate` is not processed at all and the generated Java code for `HelloWorldProject` has no supe

[2019-12-06 15:42] LorenzoBettini commented on #1318
@miklossy can it be due to the additional dependencies in the `MANIFEST` of the UI project

[code]

which are generated only when switching to Xbase?

Note that after everything is generated correctly, removing the `MyDslProjectTemplateProvider.xtend` file, removing the inheritance from Xbase in the grammar, and running MWE2 again still works.

[2019-12-06 15:46] LorenzoBettini commented on #1318
So it looks like the required bundle in the `MANIFEST` to let the Xtend compile is `org.eclipse.xtext.xbase.ui`

[2019-12-06 16:00] LorenzoBettini commented on #1318
I confirm that, starting from scratch (without extending Xbase in the grammar) but adding `org.eclipse.xtext.xbase.ui` to the `MANIFEST` of the UI project generates the project wizard stuff correctly (and it compiles fine)

[2019-12-06 18:40] cdietrich commented on #1318
@ArneDeutsch @miklossy any idea what happens here?

[2019-12-06 18:48] cdietrich commented on #1318
@LorenzoBettini  can it be that the actual problem is a missing depenendcy to xtend.lib.macro?

[2019-12-06 20:01] LorenzoBettini commented on #1318
@cdietrich I was about to say that! I think that's the cause but I had to go out and I couldn't verify that. However, as I said, it is straightforward to reproduce the problem with a fresh new project.

[2019-12-09 10:03] Rajsmit opened #1319 "textDocument/documentSymbol failed Concurrent modification on hovering on code."
Observing a exception while doing hover (intermittent).

Once build completes results:
SEVERE: Internal error: java.util.ConcurrentModificationException
java.util.concurrent.CompletionException: java.util.ConcurrentModificationException
at java.util.concurrent.CompletableFuture.encodeThrowable(Unknown Source)
at java.util.concurrent.CompletableFuture.completeThrowable(Unknown Source)
at java.util.

[2019-12-09 10:44] tivervac commented on #1319
Possibly related to https://github.com/eclipse/xtext/issues/2526

[2019-12-09 11:58] miklossy commented on #1318
I can confirm that the problem exists and that can be solved by adding the `org.eclipse.xtend.lib` to the Require-Bundle section of the UI Plugin:
![screenshot](https://user-images.githubusercontent.com/20393472/70434078-8acdc300-1a83-11ea-8d9f-9ed6af13ccc8.png)

[2019-12-09 12:31] cdietrich commented on #1318
Fixed in 2.21

[2019-12-09 15:28] LorenzoBettini commented on #1318
@miklossy  actually xtend.lib.macro is enough to fix the problem

[2019-12-09 16:32] LorenzoBettini opened #1321 "The projectWizard fragment always regenerates icons in the UI project "icons" folder"
The projectWizard fragment always regenerates icons in the UI project "icons" folder and I think this is not intentional. In particular, if one customizes such icons on the next MWE2 run they will be replaced. Of course one could change the reference to the icon in the plugin.xml but I don't think such a regeneration is correct. @miklossy what do you think?

[2019-12-09 16:43] miklossy commented on #1321
I think that the icons should not be overridden once they are customized.

[2019-12-12 09:09] cdietrich opened #1324 "[generator] Interface for Splitted Parser class cannot deal with Fragments"
Parser rules for fragments are not added to the `InternalMyDslParserSignatures` class.
Thus it might happen that the splitted parser does not compile as the call to

`ruleMyFragment(current)` will lead to the void.

[2019-12-12 11:13] cdietrich commented on #1324
Fixed in 2.21

[2019-12-12 11:13] #1324 closed

[2019-12-12 15:02] #1321 closed

[2019-12-13 14:21] dhuebner opened #1328 "Consider removing LineFilterOutputStream and mark as deprecated"
We should use BufferedOutputStream or remove LineFilterOutputStream from Xtext.
I don't recall why we have a copy here...

See https://github.com/eclipse/mwe/pull/138

[2019-12-13 14:24] cdietrich commented on #1328
i will have a look at some of the testlanguages workflows if the LineFilterOutputStream  shows up

[2019-12-13 14:34] cdietrich commented on #1328
LineFilterOutputStream actually does not show up
just the one of mwe does.

@szarnekow do you know if LineFilterOutputStream is used anywhere?

[2019-12-13 14:35] dhuebner commented on #1328
I could imagine in downstream projects, but I'm not sure

[2019-12-13 14:37] szarnekow commented on #1328
Certainly no usages anymore in Xtext.
We used to have the ecore generator stuff in the Xtext repo. Since that was moved to MWE, we apparently don't use the filtering in Xtext anymore. The type should be deprecated and removed a few releases in the future.

[2019-12-13 14:37] cdietrich commented on #1328
thus we can close this one as wontfix / not relevant?

[2019-12-13 14:47] dhuebner commented on #1328
I can re-name the issue to "Mark as deprecated prepare for removal"

[2019-12-14 16:46] szarnekow opened #1330 "Update API in ide.server.concurrent"
The APIs should likely use standard interfaces on the method signatures (e.g. Callable instead of Function0). We should also consider to use function interfaces that allow to throw checked exceptions here.

_Originally posted by @tivervac in https://github.com/eclipse/xtext-core/pull/1327_

[2019-12-14 16:46] szarnekow commented on #1330
Preliminary scheduled for 2.21

[2019-12-14 17:32] miklossy commented on #1108
Currently the following 3 test cases are failing on Windows:

org.eclipse.xtext.ide.tests.server.SemanticHighlightingTest.testDidOpen_multiLine
org.eclipse.xtext.ide.tests.server.CompletionTest.testCompletion_AdditionalEdits_01
org.eclipse.xtext.ide.tests.server.DocumentTest.testGetLineContent

The tests are failing both in Eclipse as in the Gradle build:
![screenshot1](https://user-images.githubu

[2019-12-14 17:45] miklossy commented on #1272
Fuxed in 2.21.

[2019-12-14 17:45] #1272 closed

[2019-12-15 09:36] cdietrich commented on #1303
@tomvdbussche @szarnekow  how to continue with this issue

[2019-12-15 11:48] szarnekow commented on #1303
I'd like to throw IllegalStateException and document it to be thrown if the text cannot be computed.

[2019-12-15 17:32] cdietrich commented on #1328
done

[2019-12-15 17:32] #1328 closed

[2019-12-16 09:12] tomvdbussche commented on #1303
That sounds fine to me, I was just confusing to get a null value when it is explicitly stated that a null value should never be returned.

[2019-12-16 11:31] miklossy commented on #1108
The following PR https://github.com/eclipse/xtext-core/pull/1333 adresses one problem described above.

[2019-12-16 15:38] miklossy commented on #1108
Fixed in 2.21.

[2019-12-16 15:38] #1108 closed

[2019-12-20 10:48] cdietrich commented on #1317
@meysholdt  do you have any hint where to best start digging?

[2020-01-02 06:48] LorenzoBettini opened #1335 "The generated parent POM ignores maven-resources-plugin goals"
The generated parent POM for an Xtext project has an m2e lifecycle mapping that ignores the goals `resources` and `testResources` of the `maven-resources-plugin`. This breaks the standard m2e building mechanism that in Eclipse copies the resources to the target folder. In fact, by default, m2e disables the standard JDT copy mechanism for resource folders (with `classpathentry excluding="**"`), see

[2020-01-02 06:54] cdietrich commented on #1335
i have no clue what the intended behaviour is here.

[2020-01-02 06:58] LorenzoBettini commented on #1335
What's in a Maven "resources" folder is meant to be accessible from the ClassLoader, so it must be in the target folder. The default behavior should be left intact, IMHO.

[2020-01-02 06:58] cdietrich commented on #1335
but how to solve your initial bug then?

[2020-01-02 07:18] LorenzoBettini commented on #1335
The wizard should not generate that lifecycle making exclusion, that's what I was suggesting

[2020-01-02 07:32] cdietrich commented on #1335
I am not firm with the lifecycle mappings but you remove it the original error should come back. At least when there is no m2e connector installed

[2020-01-02 08:18] LorenzoBettini commented on #1335
Sorry, probably I wasn't clear enough describing the problem, please let me try to explain it:

- The m2e builder takes care automatically of handing the standard `resources` and `testResources` goals of the `maven-resources-plugin`: it copies the contents of source folders, which are `resource` folders, into the `target` folder during the standard Eclipse building. In order to avoid conflicts wit

[2020-01-02 08:20] cdietrich commented on #1335
I don’t understand. Some years ago you introduced the thing that’s here right now to get rid of an error so if you undo that change the error will be back. So you don’t plan to remove the mapping but do something else ?

[2020-01-02 08:26] LorenzoBettini commented on #1335
I was suggesting to remove only this part

[code]

not the other ones.

You mean I'm the author of such part? I don't remember O:)

In any case, I'll double check that in an Eclipse Xtext distribution with m2e (but no other manually installed connectors) there's no error in the POM if I remove that lifecycle exclusion.

[2020-01-02 08:27] cdietrich commented on #1335
Yes I saw you in git blame

[2020-01-02 08:30] LorenzoBettini commented on #1335
You're right, I'm to blame :)
Then sorry about that. The other mappings were introduced by @oehme and I think they still should be there. But the one I added breaks the above mechanism. I'll create a PR then, after checking that without additional connectors everything works with m2e alone, OK?

[2020-01-02 08:31] cdietrich commented on #1335
Would be ok with that but let’s see what Karaten and Sebastian think

[2020-01-02 08:47] LorenzoBettini commented on #1335
So I'm adding @szarnekow to the discussion as well

[2020-01-02 16:15] szarnekow commented on #1335
I'm not sure if removing the lifecycle mapping is really the right thing to do here, or not. In the end the .classpath and .project files should be created in the same way as the update classpath action would do it - e.g. there shouldn't be any changes by triggering update classpath. And of course the projects should work correctly: After an incremental build in Eclipse, everything should be put i

[2020-01-02 16:43] LorenzoBettini commented on #1335
OK, I'll do my experiments tomorrow.

Since I'm the original author of that lifecycle mapping exclusion I can add that at that time I didn't know much about m2e lifecycle mappings (sorry about that) and now I'm pretty sure that exclusion is not correct as I described above (again, sorry O:) I just have to check that without such an exclusion we get a 100% error free project with an Eclipse distrib

[2020-01-03 13:06] LorenzoBettini commented on #1335
I confirm that with a DSL Eclipse distribution (which comes with m2e and its default connectors), after creating an Xtext project (with Maven support), removing that lifecycle exclusion still gives a 100% error free project :)

I'll provide a PR ASAP

[2020-01-06 08:47] kthoms commented on #1335
I think the intention is not to disable the resources plugin, but rather to enable it by default. The original exclusion was added because you get these annoying error markers in POMs for plugins that m2e has no lifecycle connector by default. I think with a plain Eclipse distro you will get the error markers again, as it won't contain the connectors by default.

From [m2e 1.7](https://www.eclipse

[2020-01-06 09:05] LorenzoBettini commented on #1335
@kthoms with the PR those "resource" goals are not excluded anymore and with m2e alone those are handled correctly (no other connectors are needed: as I said above, I tried that). As you said, those lifecycle mapping exclusions are usually added to remove errors in Eclipse, but for those goals of the standard Maven plugins, that's not needed (and, instead, adding the exclusions break a few things

[2020-01-06 13:42] gallandarakhneorg opened #1338 "Package org.eclipse.xtext.util is accessible from more than one module"
When I'm defining my DSL project as a Java module (with Java 11):
[code]

The Java compiler complains on modules' exports that break the Java standards. The error message is:
[code]

[2020-01-06 13:49] cdietrich commented on #1338
i dont think this is solvable without breaking apis. otherwise it would be long solved

[2020-01-06 13:54] gallandarakhneorg commented on #1338
The work around is to remove the `module-info.java` file and put the following line into the MANFIEST.MF file:
[code]
This is not perfect but enables to use Xtext into a real Java modular project until the API of Xtext is cleaned.

[2020-01-06 14:05] cdietrich commented on #1338
so you would merge the modules ?!? i dont think that would be a good idea

[2020-01-06 14:08] gallandarakhneorg commented on #1338
This line is in my own project. Nothing changed into the Xtext code.

[2020-01-06 14:55] cdietrich commented on #1335
@LorenzoBettini  this here: https://github.com/eclipse/xtext/issues/1551

[2020-01-06 21:14] LorenzoBettini commented on #1335
Interesting! However the resources plugin is handled by m2e, otherwise you wouldn't be able to create a simple maven project in eclipse without errors. That's why I was proposing to remove the lifecycle mapping exclusion.

[2020-01-07 08:58] miklossy opened #1341 "The new Xtext project wizard should create the xtend-gen folder only if necessary"
Currently, the new Xtext project wizard creates the `xtend-gen` folder in all plug-ins, even if the corresponding `src` folder contains no `*.xtend` files.
![screenshot](https://user-images.githubusercontent.com/20393472/71882159-37a76880-3134-11ea-926a-72818e3e664d.png)

That behaviour should be improved to create the `xtend-gen` folder only if the corresponding `src` folder contains at least one

[2020-01-07 09:01] cdietrich commented on #1341
@miklossy how will you find that out?

[2020-01-07 09:29] cdietrich commented on #1317
@meysholdt

`org.eclipse.xtext.util.formallang.NfaUtil.hashCodeIgnoreOrder(Nfa<S>, Function<S, ? extends Object>)` is the name for both

`[Expression returns UnaryMinus, AdditiveOperation returns UnaryMinus, AdditiveOperation.Minus_1_0_1_0 returns UnaryMinus, AdditiveOperation.Plus_1_0_0_0 returns UnaryMinus, PrimaryExpression returns UnaryMinus, UnaryOperation returns UnaryMinus]
`
and

`[Express

[2020-01-07 09:37] cdietrich commented on #1317
thus the same NFA will be used for both although the are initially different (and should be i think)

[2020-01-07 10:05] cdietrich commented on #1317
potential workaround: use separate rules

[code]

[2020-01-07 19:18] miklossy opened #1343 "Javadoc contains reference to a non-existing interface"
Currently, when building the `xtext-core`, the following javadoc warning is produced:

`org.eclipse.xtext\src\org\eclipse\xtext\formatting2\regionaccess\ITextRegionDiffBuilder.java:36: warning - Tag @link: reference not found: IHiddenRegionPartMerger`

**Hint:**
The `IHiddenRegionPartMerger` interface has been renamed to `IHiddenRegionPartAssociator` with the [commit](https://github.com/eclipse/xt

[2020-01-07 19:53] miklossy commented on #1343
Fixed in 2.21.

[2020-01-07 19:53] #1343 closed

[2020-01-08 14:01] miklossy opened #1345 "EMFGeneratorFragment2: Improve fileHeader handling"
Currently, if the mwe2 workflow `fileHeader` configuration contains copyright headers starting with `/** `or `/***************************` and ending with` **/` or `***************************/` symbols, the copyright header of the generated EMF code looks a little bit weird.

See e.g the Domainmodel
[code]
and the SimpleArithmetics
[code]
examples.

[2020-01-08 14:30] cdietrich commented on #1345
dont usual copyright headers look like

[code]

[2020-01-08 14:38] cdietrich commented on #1345
so i wonder is there is an option in emf

[2020-01-08 15:09] miklossy commented on #1345
CC @merks

[2020-01-08 17:18] kthoms commented on #1335
OK, could be that for standard plugins this is handled by m2e already without additional connectors. The POMs should just show no error with m2e but without additional connectors. If that's the case I'm fine with your change.

Which issue 1551 are you referring to?
[1551](https://github.com/eclipse/xtext/issues/1551)

[2020-01-09 05:25] merks commented on #1345
The template for all headers of all generated *.java files looks like this:

[code]

So the copyright in the model will always be inserted, line for line, with " * " prefixed before each line.

That's because the same copyright text is also inserted in *.properties files via this template:

[code]

Here each line is prefixed by "# ".

And there is also this for plugin.xml:

[code]

[2020-01-09 05:54] cdietrich commented on #1345
@merks so there is no option for a copyright header as the foundation proposes

[2020-01-09 06:02] merks commented on #1345
That the answer is no is clear from the template.  Of course dynamic templates are an option, though not a great option.

[2020-01-09 06:17] cdietrich commented on #1345
Yes introducing dynamic templates by default is a terrible idea so there is no viable option

[2020-01-09 06:18] cdietrich commented on #1345
As emf does not have multi star headers and it seems ok I am ok with proceeding

[2020-01-09 08:16] miklossy commented on #1345
Fixed in 2.21.

[2020-01-09 08:16] #1345 closed

[2020-01-09 08:24] LorenzoBettini commented on #1335
@kthoms OK, then I'm going to merge the PR

[2020-01-09 08:24] #1335 closed

[2020-01-11 08:42] cdietrich commented on #1244
planned release date is 2020-03-01 so time schedule will be tight

[2020-01-11 10:52] cdietrich commented on #709
see https://github.com/eclipse/xtext/issues/2265

[2020-01-13 11:59] cdietrich opened #1351 "XtextVersionTests fails with milestone versions"
the pattern in XtextVersionTests does not accept e.g. `2.21.0.M1`

[2020-01-13 12:12] cdietrich commented on #1351
cc @kthoms

[2020-01-16 15:00] stevehickman opened #1356 "Create named constant for language file extension"
Whenever a new DSL is defined, it is associated with a file extension. That string is used throughout the generated code (e.g. in <DSL>FileTemplateProvider.xtend, <DSL>ProjectTemplateProvider.xtend, Abstract<DSL>RuntimeModule.java, <DSL>StandaloneSetupGenerated.java, and possibly other places). In each case, the raw string itself is inserted into the generated code.

Further, if developers need to

[2020-01-16 15:06] cdietrich commented on #1356
as AbstractRuntimeModule / StandaloneSetupGenerated are generated this is fine.

for FileTemplateProvider / ProjectTemplateProvider i dont know why.

[2020-01-16 15:45] miklossy commented on #1356
I think the reason is that the File Templates are instantiated with the `new` keyword, (see the [statemachine example](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui.examples/projects/fowlerdsl/org.eclipse.xtext.example.fowlerdsl.ui/src/org/eclipse/xtext/example/fowlerdsl/ui/wizard/StatemachineFileTemplateProvider.xtend#L23)) and not created by guice, so the `FileE

[2020-01-16 16:24] stevehickman commented on #1356
I'll check. I'm using 3 different (related) languages in the same code, so I'll need to make sure I'm using the correct FileExtensionProvider.

[2020-01-16 16:49] cdietrich commented on #1356
IGlobalServiceProvider might help with that

[2020-01-17 06:56] cdietrich commented on #1356
@miklossy @ArneDeutsch but why are they created with new and not with a `Provider`

[2020-01-17 07:00] ArneDeutsch commented on #1351
In `TargetPlatformProject` there is a conditino that selects update repositories based on this version string:

[code]

Notable: e.g. `2.9.2.beta3` is considered stable by this code whereas `2.9.2` is NOT stable (but release). Considering this I would think `2.21.0.M1` should be considered to be stable, too. Then it will load from `milestones`.

[2020-01-17 07:01] cdietrich commented on #1351
has this changed? hmmmmm

[2020-01-17 07:03] cdietrich commented on #1351
@ArneDeutsch

[code]

gives true for stable

[2020-01-17 07:04] ArneDeutsch commented on #1351
Yes, just did the same test. But then I wonder where this ticket originates from. Seems the test works well ...

[2020-01-17 07:05] cdietrich commented on #1351
the test itself has a pattern.
and that one fails

[2020-01-17 07:05] cdietrich commented on #1351
(see PR)

[2020-01-17 07:14] ArneDeutsch commented on #1351
Ok, as the test is quite new I would say @kthoms has missed the milestone case and your fix is ok.

[2020-01-17 07:14] cdietrich commented on #1351
yes but i dont know if karsten had some intention behind the test this is why i wait for the review

[2020-01-17 08:14] miklossy commented on #1356
Since the Wizard API is still considered as `@Beta`, we could change that without breaking the API.

[2020-01-17 09:18] cdietrich commented on #1262
@rablewis are you still going to work on this issue?

[2020-01-17 09:32] cdietrich commented on #269
@miklossy are you going to look into this issue?

[2020-01-17 11:13] ArneDeutsch commented on #1183
Fixed in scope of https://github.com/eclipse/xtext/issues/1455 .

[2020-01-17 11:13] #1183 closed

[2020-01-17 11:15] cdietrich commented on #1183
nice @ArneDeutsch

[2020-01-17 11:59] cdietrich commented on #1356
isnt the file generate once.
so no problem?

[2020-01-17 12:11] miklossy commented on #269
Also reproducible with the Eclipse GEF DOT [DotArrowType.xtext](https://github.com/eclipse/gef/blob/master/org.eclipse.gef.dot/src/org/eclipse/gef/dot/internal/language/DotArrowType.xtext) grammar:
![image](https://user-images.githubusercontent.com/20393472/72611586-c7b29280-392a-11ea-851b-adf6bab04d95.png)

[2020-01-17 12:58] ArneDeutsch commented on #1356
Your discussion is about this pieco of code, right?

[2020-01-17 13:36] cdietrich commented on #1356
yes. respecively the hardcoded e.fileextension in the wizard

[2020-01-17 16:04] stevehickman commented on #1356
I apologize if I should know this but...
I looked at the doc for IGlobalServiceProvider. There are 2 findService methods, each with 1 line of documentation.  Since I need the extension to construct a URI, I know I can't use the findService method that requires a URI.  The other findService appears to require an instance of a class from the language I want. I don't yet have any instances because I

[2020-01-17 16:09] cdietrich commented on #1356
you can call IGlobalServiceProvider with the URIs.
but if you know neither the languages
(so that you can ask each injector for an file extension)
 nor the file extensions (to use global service provider)
i dont see any chance.

so why dont you know the n injectors?

[2020-01-17 16:12] stevehickman commented on #1356
Currently I know the extension and am using that to create the injector.  However, I have the extension hard-coded as a plain string. What I was hoping for is a named constant to be generated by XText so that if someone decides to change the extension in the future, it won't break my code.

[2020-01-17 16:13] cdietrich commented on #1356
why dont you know the standalonesetups injectors?
i have no idea how you create the injectors knowing the file extensions

[2020-01-17 16:16] stevehickman commented on #1356
I apologize. I mistated. Here's what I'm doing:
`
	static IResourceServiceProvider sqlRSP;

		if (sqlRSP == null) {
			URI sqlURI = com.honeywell.common.util.File.genUniqueURI("file","fake","qbirtSQL");
			sqlRSP = IResourceServiceProvider.Registry.INSTANCE.getResourceServiceProvider(sqlURI);

		}
		resourceSet = sqlRSP.get(XtextResourceSet.class);
		validator = sqlRSP.get(IResourceValidator.class

[2020-01-17 16:18] cdietrich commented on #1356
are you in eclipse or are you in standalone?

[2020-01-17 16:19] stevehickman commented on #1356
In eclipse - but I do need the ability to run standalone as well.

[2020-01-17 16:19] cdietrich commented on #1356
yes but these are 2 completely different usecases.
how do you know which of the 100 dsls installed to your eclipse are yours and which are others

[2020-01-17 16:21] stevehickman commented on #1356
For each DSL I want to process, I have a class that does what I show above. In each case, the extension is for the appropriate DSL.

[2020-01-17 16:35] cdietrich commented on #1356
Yes but then you can also use the n standalone setups ( standalone use case ) and Activator.getInjector (constant) in eclipse case

[2020-01-17 16:47] stevehickman commented on #1356
I will check it out. Thx.

[2020-01-18 07:43] #1351 closed

[2020-01-18 13:28] rablewis commented on #1262
I'd like to. I am having dependency issues that are preventing me from getting started. I'm going to seek advice today. I'll report back on progress tomorrow.

[2020-01-19 16:48] rablewis commented on #1262
There was a failure in the Maven build stage of the Jenkins build. I don't see how this could be related to my changes, but please let me know if there's something I need to fix. Thanks. -rab

[2020-01-20 06:11] cdietrich commented on #1262
hi, the ci is currently running slow and admins not available over the weekend. https://bugs.eclipse.org/bugs/show_bug.cgi?id=559314

[2020-01-20 11:01] cdietrich commented on #1244
looks like there are some (breaking) changes incoming

https://github.com/eclipse/lsp4j/pull/397#issuecomment-576220056

[2020-01-21 23:21] stevehickman opened #1363 "Move from log4j 1.2 to 2.x"
Log4j 1.2 reached end of life in 2015. The documentation for it now appears to have gone offline. That means that developers will need to use Log4j 2.x.  Users attempting to use log4j will need to load multiple versions of log4j.  If Xtext continues to use log4j 1.2, will this cause version conflicts at some point?

[2020-01-22 08:24] kthoms commented on #1363
Eclipse projects can only use approved 3rd party libraries. These are defined in the [Eclipse Orbit](https://www.eclipse.org/orbit/) project. The current set of libraries is:
https://download.eclipse.org/tools/orbit/downloads/drops/R20191126223242/

Log4J2 is not part of that, so Xtext is not allowed to use this API.

Of course it is possible to bring up other libraries to Orbit.

For the runtime

[2020-01-22 08:37] cdietrich commented on #1363
The Problem is this:

if you mix stuff hat has log4j 1 and log4j 2 on the classpath it might lead to all kind of funny classloading explosions

to fix this there are things to consider that involve work that nobody wants to invest

- bureaucracy to be allowed to use log4j 2
- work to get in onto orbit
- commonication with all users of log4j in eclipse and coordinate all of them to switch to the ne

[2020-01-22 10:26] szarnekow commented on #1363
This would potentially break existing products that do have a custom log4j configuration for their Xtext language. I don't think this is time well spent.

[2020-01-22 10:34] tivervac commented on #1363
I'm not sure how bad this would be for us.
We use Xtext's log4j and we do custom log4j configurations
I think we'd be able to adapt though.

[2020-01-24 08:54] cdietrich commented on #1363
see also https://www.eclipse.org/lists/cross-project-issues-dev/msg17346.html

[2020-01-24 08:57] cdietrich commented on #1356
as we have FileExtensionProvider i am inclined to close this
@szarnekow @kthoms what do you think?

[2020-01-24 08:58] cdietrich commented on #1338
i am inclined to close this as wontfix for now. @kthoms @szarnekow what do you think?

[2020-01-24 09:00] szarnekow commented on #1356
Agreed. There is often not `the` file extension but multiple extensions. Some language even use content types. A single generated constant may be misleading.

[2020-01-24 10:05] ArneDeutsch commented on #1303
I've made a short search if we (internally) use the 'null'. Most of the time we use the value without a nul check indeed, indicating that the change would be save (because a null here would most probably lead to a lot of NPEs anyway). But there are (rare) cases where we explicitely check for null (and users might do as well). Example: `org.eclipse.xtext.GrammarUtil#getTypeRefName`

[code]

At othe

[2020-01-24 10:42] ArneDeutsch commented on #1303
Comited a fix to see if tests stay green. Should we merge if so?

[2020-01-24 12:18] gallandarakhneorg commented on #1338
I think making xtext compliant with JPMS with backward compatibility is still possible but it needs to rethink the plugin architecture.

This work may take time. It is not a problem while the unamed modules are supported by Java (this support may be removed sometimes in the futur according to the Java forums).

I think the plugins that are needed to run the generated Java from an Xtext-based DSL,

[2020-01-24 12:38] miklossy commented on #269
Currently, the following 4 Xtext grammars of the [Eclipse GEF DOT](https://github.com/eclipse/gef/wiki/DOT-User-Guide) project are affected by this problem:
![screenshot](https://user-images.githubusercontent.com/20393472/73069728-c6dfaa80-3eae-11ea-9bf4-507ac7a5bdf5.png)

[2020-01-24 13:10] ArneDeutsch commented on #1303
Seems there is a dedicated test that checks that null is returned ...

[code]

[2020-01-28 10:14] LorenzoBettini opened #1370 "Avoid generating maven-clean-plugin configuration for cleaning src-gen"
I'd like to propose a change in the generated POM of the DSL project: avoid generating the `maven-clean-plugin` configuration for cleaning `src-gen` folders.

Personally, it's the first thing I remove from the generated POM each time I create a new Xtext project.

The reasons for such a removal are the following:

- `src-gen` folders are already cleaned when running the MWE2 workflow, so it's quit

[2020-01-28 12:23] swgpearson opened #1371 "Xtext cannot find DSL source when breakpoint is hit if its path has a space"
When running traced generated code an Xtext DSL cannot be debugged if its workspace path contains a space.
See https://www.eclipse.org/forums/index.php/m/1820722/

[2020-01-28 12:28] cdietrich commented on #1371
i am not sure what the standard says regarding the FileName. and thus if the problem is in Xtext or JDT (AbstractSourceLookupParticipant/JavaSourceLookupParticipant)

I also dont know where is uris in the traces are used elsewhere and thus if the creation or the reading/writing to class files (TraceAsSmapInstaller/TraceAsPrimarySourceInstaller) needs to be adopted

[2020-01-28 12:28] cdietrich commented on #1371
@szarnekow what do you think?

[2020-01-30 11:53] cdietrich opened #1372 "LSP4J: Find a Solution for Deprecation of Marked String in Hover"
org.eclipse.lsp4j.Hover uses MarkedString which is deprecated and replaced by MarkupContent
we should have a look on how we adapt

[2020-01-30 11:53] cdietrich commented on #1372
@tivervac do you make use of this?

[2020-01-30 12:20] tivervac commented on #1372
I’m on vacation right now, but I’ve informed my colleagues. Hopefully they’ll get back to you.

[2020-01-30 12:40] davidmedinasigasi commented on #1372
@cdietrich We use it in a very few places, so it should be easy to replace

[2020-01-30 13:04] cdietrich commented on #1372
@kittaakos would you be fine if i refactor hoverservice?

[2020-01-30 13:06] kittaakos commented on #1372
Please. Thank you! <3

[2020-01-31 08:57] ArneDeutsch commented on #1303
Merged.

[2020-01-31 08:57] #1303 closed

[2020-01-31 09:10] cdietrich opened #1374 "Develop a concept to Ship Xtext Milestones with a LSP4J Snapshot dependency"
Develop a concept to Ship Xtext Milestones with a LSP4J Snapshot dependency
(wizard)

[2020-02-04 14:55] LorenzoBettini commented on #1370
@cdietrich @szarnekow what do you think?

[2020-02-04 14:55] cdietrich commented on #1370
i dont know why it is here and if there is a reason

[2020-02-04 15:07] LorenzoBettini commented on #1370
I think it was introduced by @dhuebner and @oehme a few years ago, but, as I said above, IMHO it is not very useful...

[2020-02-05 07:36] dhuebner commented on #1370
@LorenzoBettini
If you run mvn clean you expect to have a clean project. mwe2 workflow is not running during the maven clean phase. Thats the explanation why the maven-clean-plugin is added.

[2020-02-05 08:00] LorenzoBettini commented on #1370
@dhuebner and indeed you have a clean project, apart from generated sources being there (the ones that take most time to be generated). If you really need a clean project you can still resume the original version with a git command, assuming you don't want generated sources in the git repository (e.g., `git clean -fdx`).

In any case, if no one else shares my concerns about this configuration, we

[2020-02-05 09:06] szarnekow commented on #622
Bitten by this in practice. The reader is not finished when the writer starts. So we do have racy behaviour. I'll try to fix it.
[code]

[2020-02-05 10:10] dhuebner commented on #1370
@LorenzoBettini
` git clean -fdx` yeah exactly, I like that one :)

Different people have a different opinion on the same thing. In this case it's a maven configuration and I think it should be treated from the maven user perspective.

I have concerns about the configuration! But from other kind

I didn't get `drawbacks` right I think:

1. cleaning an empty folder is useless but also not time or r

[2020-02-05 10:54] LorenzoBettini commented on #1370
@dhuebner

Indeed this point is more related to 4

I mean that the `xtend-maven-plugin` is not incremental (or am I missing something?) thus it does not remove generated Java files if the corresponding Xtend file has been removed, thus it is crucial to clean `xtend-gen` before running the plugin or you might end up with stale generated Java files. In any case, `xtend-maven-plugin` is much faster t

[2020-02-09 18:15] cdietrich commented on #1372
Fixed with 2.21

[2020-02-09 18:15] #1372 closed

[2020-02-09 18:15] cdietrich commented on #1244
TODO update to M3 / Final Release

[2020-02-10 20:55] dunnry opened #1380 "NPE in AbstractLanguageServerTest with WorkspaceEdit"
ALST's `toExpectation` method for `WorkspaceEdit` has a non-null checked call to its `changes` collection.  Depending on how you create your WorkspaceEdit, you will trigger this error:

[code]
The fix is that `WorkspaceEdit` should initialize the `changes` collection in all cases, or that `toExpectation `should check for null.

[2020-02-10 21:00] dunnry opened #1381 "Missing expectations in AbstractLanguageServerTest"
Currently, if you have `Resource `operations in your `WorkspaceEdit`, you will get errors because those operations (`CreateFile`, `CreateFileOptions`, ...) are not implemented.

The current workaround is that you have to override the base class and provide implementations.  E.g. (in Kotlin):

[code]

Note, this also works around issue #1380

[2020-02-11 08:08] cdietrich commented on #1381
hi, would you come up with a fix?

[2020-02-11 08:08] cdietrich commented on #1380
Hi, would you come up with a fix?

[2020-02-11 08:40] cdietrich commented on #1371
ping @szarnekow

[2020-02-11 08:41] cdietrich commented on #1370
i propose to leave it as is
@szarnekow any thoughts from your side?

[2020-02-11 08:45] szarnekow commented on #1371
To be honest, I don't have a clue what we should really install into the smap files in these cases.
What I'm certain about: If we write encoded URIs, we should also read these as encoded URIs (e.g. decode them).

[2020-02-11 08:52] cdietrich commented on #1371
well there is two reads:
- us writing stuff into the class file
- jdt reading the source attr in the class file
we have only the first one under control

so you mean we should decode before writing into the class files?

[2020-02-11 08:55] cdietrich commented on #1371
@rytina could you please create a bug?

[2020-02-11 10:05] szarnekow commented on #1371
Yes, the path in the class file should not contain encoded  char sequences but the decoded values, e.g. spaces instead of percent20

[2020-02-11 14:34] hannesN opened #1382 "Maven build for Language Server not working"
I created a new Xtext-Project using maven (tycho) and creating a regular language server.

After building the language server doesn't start (in target/languageserver/bin).
The reason is, that the repo folder contains the wrong jars. They contain a feature.xml instead of class files.

My solution adds a exclude rule to the copy-dependencies configuration:
<excludeGroupIds>p2.eclipse-feature</exclud

[2020-02-12 07:41] cdietrich opened #1384 "[Wizard] for exisiting ecore models generates dependency to xpand"
[Wizard] for exisiting ecore models generates dependency to xpand/old generator (tycho, gradle, build.properties)

[2020-02-13 19:40] cdietrich opened #1386 "[Wizard] New Xtext Project from Existing Ecore Models creates broken formatter config"
[Wizard] New Xtext Project from Existing Ecore Models creates broken formatter config

[code]

which is not generated

[code]

[2020-02-13 20:56] cdietrich commented on #1386
fixed in 2.21

[2020-02-13 20:56] #1386 closed

[2020-02-14 09:11] cdietrich commented on #1382
Fixed in 2.21

[2020-02-14 09:11] #1382 closed

[2020-02-14 09:57] cdietrich commented on #1384
Fixed in 2.21

[2020-02-14 09:57] #1384 closed

[2020-02-18 09:58] JanKoehnlein opened #1391 "[lsp] support multi-root workspaces"
LSP allows a workspace to be composed of multiple root folders. Xtext-based LSs should support that.

- [ ] properly report the capabilities in the initial handshake
- [ ] set up workspace/project config from multiple workspace roots
- [ ] support workspace folders change events

[2020-02-18 10:00] JanKoehnlein commented on #1391
Duplicate of #1238

[2020-02-18 15:30] cdietrich commented on #1380
@dunnry which Xtext/LSP4j version do you use.

lsp4j >= 0.8.1 creates

[code]

and thus this is not a problem

[2020-02-18 15:52] dunnry commented on #1380
I think we are using 0.8.0, but I see this still an issue in 0.8.1 as well (unless I am reading Java wrong):

[code]

'this.changes' is left uninitialized in the case of the 3rd ctor.  Since this ctor is the one that most people use now (`List<TextEdit>` one should be deprecated), it is causing the NPE when used with the `AbstractLanguageServer` test that tries to enumerate the `changes` collectio

[2020-02-18 18:17] dunnry commented on #1380
I suspect that because `WorkspaceEdit` can contain either `changes` or `documentChanges`, but not both that the correct resolution would be to update the `toExpectation` method.  I will try to tackle that later when I get a chance and get my Eclipse contribution license, etc., etc.

[2020-02-18 18:28] cdietrich commented on #1380
ahhh got you. just had a look at the empty constructor

[2020-02-19 07:17] cdietrich commented on #1262
@szarnekow anything left?

[2020-02-19 07:19] szarnekow commented on #1262
Fixed. Thank you @rablewis

[2020-02-19 07:19] #1262 closed

[2020-02-20 10:31] miklossy opened #1394 "Cleaning up all deprecated methods/classes in the xtext.ide.server package"
See [comment](https://github.com/eclipse/xtext-core/pull/1393#pullrequestreview-361786523)

[2020-02-20 15:09] #1238 closed

[2020-02-20 22:49] cdietrich commented on #1244
Changes done.
Missing is M3 and Release

[2020-02-21 09:10] cdietrich commented on #1391
@JanKoehnlein anything left?

[2020-02-21 09:12] cdietrich commented on #1330
move to 2.22

[2020-02-21 09:13] cdietrich commented on #1127
as nobody is working on this, I will remove this from any milestone

[2020-02-21 09:14] cdietrich commented on #935
move to 2.22

[2020-02-21 09:14] cdietrich commented on #922
move to 2.22

[2020-02-21 09:17] cdietrich commented on #506
move to 2.22

[2020-02-21 09:20] cdietrich commented on #1003
move to 2.22

[2020-02-21 09:57] JanKoehnlein commented on #1391
Nothing I am aware of. I will merge now.

[2020-02-21 09:57] #1391 closed

[2020-02-21 10:16] cdietrich commented on #247
@miklossy do you plan to work on this issue?

[2020-02-21 10:30] miklossy commented on #247
Not in the near future. I will unset the milestone.

[2020-02-24 08:18] #622 closed

[2020-02-24 10:54] JanKoehnlein commented on #1394
I'd also want to deprecate and schedule for removal this single workspace root stuff. I'll create a PR

[2020-02-26 09:08] #1381 closed

[2020-02-26 09:09] cdietrich commented on #1380
Fixed in 2.21. Thx @dunnry

[2020-02-26 09:09] #1380 closed

[2020-02-26 09:09] cdietrich commented on #1381
Fixed in 2.21. Thx @dunnry

[2020-02-29 17:16] cdietrich commented on #1244
Fixed in 2.21

[2020-02-29 17:16] #1244 closed

[2020-03-03 18:20] cdietrich commented on #1394
@JanKoehnlein can you please take care about the cleanup of the single root deprecations.
i should have cleaned up everything else if nothing slipped through

[2020-03-03 18:21] JanKoehnlein commented on #1394
I will, but not before Monday

Von meinem iPhone gesendet

[2020-03-04 19:31] cdietrich opened #1410 "[Generator] Support Java Stubs in WebIntegrationFragment too"
[Generator] Support Java Stubs in WebIntegrationFragment too

- MyDslServlet and ServerLauncher are pregenerated as Xtend always

[2020-03-06 05:48] cdietrich opened #1414 "GeneratorNodePerformanceTest in flaky"
GeneratorNodePerformanceTest is flaky on xxxxx Jenkins environment

[2020-03-06 11:30] cdietrich commented on #1410
possible generates

[MyDslServlet.java.txt](https://github.com/eclipse/xtext-core/files/4298076/MyDslServlet.java.txt)
[ServerLauncher.java.txt](https://github.com/eclipse/xtext-core/files/4298077/ServerLauncher.java.txt)

[2020-03-08 11:25] miklossy opened #1418 "Warning in IDE module: Redundant superinterface IPartialEditingContentAssistParser"
When creating a new `MyDsl` Xtext project and running the `GenerateMyDsl.mwe2` workflow, Xtext generates the following code in the `org.xtext.example.mydsl.ide` module:
[code]
The `implements IPartialEditingContentAssistParser` part is not necessary, since the `AbstractContentAssistParser` already implements the `IPartialEditingContentAssistParser` interface.

That's why the following warning is r

[2020-03-10 21:35] kuniss commented on #812
@kittaakos Do you know whether this works already with the latest language server protocol implementation provided with vscode 1.43.0?

[2020-03-11 07:20] kittaakos commented on #812
I do not know; probably no.

[2020-03-13 08:03] cdietrich commented on #1394
any update @JanKoehnlein

[2020-03-16 09:06] cdietrich commented on #1394
Fixed in 2.22

thx @JanKoehnlein

[2020-03-16 09:06] #1394 closed

[2020-03-16 09:57] cdietrich commented on #1418
in wonder why we have that duplicate interface and if there are any cases its actually needed.

[2020-03-16 15:31] cdietrich commented on #1410
Fixed in 2.22

[2020-03-16 15:31] #1410 closed

[2020-03-16 16:31] cdietrich commented on #1418
Fixed in 2.22

[2020-03-16 16:31] #1418 closed

[2020-03-20 10:03] cdietrich commented on #1356
how shall we proceed here

[2020-03-22 09:10] miklossy opened #1427 "Get rid of the Xtext IDEA generator"
Since the Xtext Framework has already [dropped support](https://github.com/eclipse/xtext/issues/1278) for the IntelliJ IDEA, I think the [XtextProjectConfig.ideaPlugin](https://github.com/eclipse/xtext-core/blob/f9b6d1bebe09dc5775d45671d255384a8160015c/org.eclipse.xtext.xtext.generator/src/org/eclipse/xtext/xtext/generator/model/project/XtextProjectConfig.xtend#L40) field should be marked as `Depr

[2020-03-22 14:08] szarnekow commented on #1427
Please delete it instead of marking as deprecated.

[2020-03-23 11:30] miklossy commented on #1427
Thanks for the PR @cdietrich ! I changed the title of this issue to better reflect to work to be done.

[2020-03-25 09:45] cdietrich commented on #1427
Fixed in .22

[2020-03-25 09:45] #1427 closed

[2020-03-26 20:29] miklossy commented on #1318
I also encountered this problem together with @prggz while adding new project wizard / new file wizard to the GEF DOT editor ([561084](https://bugs.eclipse.org/bugs/show_bug.cgi?id=561084)). The fix for this problem is already provided by @cdietrich for the project wizard, but I think the same fix should be also applied to the file wizard as well in the [TemplateFileWizardFragment](https://github.

[2020-03-26 20:31] cdietrich commented on #1318
@miklossy which fix do you mean?

[2020-03-26 20:31] miklossy commented on #1318
I mean this one https://github.com/eclipse/xtext-core/pull/1320

[2020-03-27 07:22] cdietrich commented on #1318
Second problem fixed in 2.22

[2020-03-27 07:22] #1318 closed

[2020-03-27 14:02] prggz opened #1432 "File/ProjectWizard: Messages.java is generated but part of src and not xtend-gen folder"
The org.eclipse.xtext.ui.wizard.template.TemplateProcessor's method generateMessagesClass overwrites the generated Messages.java file upon xtend generation. This file is, however, placed in the src folder suggesting, changes can be made in the source code. Hence, using the file/project wizard fragment it appears one could change the Messages.java code.
As changes of messages.properties do appear t

[2020-03-27 14:05] prggz opened #1433 "File/Project Wizard: messages.properties creates additional newlines upon rebuild of xtend file"
It appears, the active annotation of the file/project wizard creates additional newline(s) in the message.properties file upon rebuild, effectively bloating it.

![image](https://user-images.githubusercontent.com/8375100/77764078-584cd380-703c-11ea-93a6-719debf4d657.png)

Sole change was that I typed a character and deleted it again to trigger rebuild.

[2020-03-27 14:12] cdietrich commented on #1432
we stumbled on this in the past.
i dont see how this can be properly changed.
(design weakness)

[2020-03-27 14:45] cdietrich commented on #1433
i cann t reproduce this. can you @miklossy

[2020-03-27 17:09] miklossy commented on #1433
@prggz Thanks for the bug report! I can reproduce this based on the Xtext Statemachine example:
![screencast](https://user-images.githubusercontent.com/20393472/77781553-0e70e700-7056-11ea-9715-037340cb0982.gif)
@cdietrich Could you please give it another try to reproduce?

[2020-03-27 17:12] cdietrich commented on #1433
no i still cant
windows problem?

[2020-03-27 17:13] miklossy commented on #1433
@prggz Did you experience that behavior on Windows?

[2020-03-27 17:25] prggz commented on #1433
Yes, that was on windows.

[2020-03-27 20:39] miklossy commented on #1433
@cdietrich Did you try it in a host Eclipse or in a runtime Eclipse?

[2020-03-27 20:40] cdietrich commented on #1433
Both. Also does not matter as I use nightly

[2020-03-27 20:43] miklossy commented on #1433
Currently I can reproduce this problem only in a host Eclipse, but the problem does not occur in a runtime Eclipse -> difficult to debug. Do you have any hints why it could make a difference if the IDE is host or runtime Eclipse?

[2020-03-27 20:44] cdietrich commented on #1433
Which Xtext versions do you have in them?

[2020-03-27 20:45] miklossy commented on #1433
Release of Xtext 2.21.

[2020-03-27 20:46] cdietrich commented on #1433
Will double check. You could remote debug with a second eclipse

[2020-03-28 08:38] miklossy commented on #1433
With the help of remote debugging I could find out that the problem occurs only if the `messages.properties` file originally contains different line delimiters than the `System.lineSeparator` (e.g. Linux line endings on Windows, Windows line ending on Linux/Mac).

![screencast2](https://user-images.githubusercontent.com/20393472/77819017-dca06480-70d7-11ea-8b0c-913e1c1ec588.gif)

In such cases, th

[2020-03-28 08:43] cdietrich commented on #1433
wont work. if ending ism `\r\n` then it still ends with `\n`
otherwise as you say: if it ends with `\n` then endsWith `\r\n` is false

can you simply replace the endsWith with "\r?\n" ????

[2020-03-28 09:07] miklossy commented on #1433
No. Unfortunately endsWith expects a the suffix and not a regex. But `endsWith("\n")` could do the trick, since it matches both Windows and Linux/Mac line delimiters.

[2020-03-28 09:12] cdietrich commented on #1433
then maybe use an regex to replace the endsWith
or do 2 endswiths one with `\r\n` and another with `\n`

[2020-03-28 09:12] cdietrich commented on #1433
i have no idea how properties files are supposed to be line separated.
did you research and find any documentation on that?

[2020-03-28 09:41] miklossy commented on #1433
I did some research but could not find any special documentation on that. Since the PR changes only the condition when to insert a newline (and not the inserted newline itself), it should be fine.

[2020-03-28 12:32] miklossy commented on #1433
Thanks for the review and for the merge @tivervac !

Fixed in 2.22.

[2020-03-28 12:32] #1433 closed

[2020-03-30 17:12] miklossy commented on #253
@erogleva Do you have any progress on this?

[2020-03-31 17:41] erogleva commented on #253
No, sorry, since there was no answer, I hadn't really started working on this.

[2020-03-31 17:48] miklossy commented on #253
Are you still interested in providing a contribution? It would be awesome.

But if not, no problem, I can take over this.

[2020-03-31 18:35] erogleva commented on #253
Yes, I could still provide a contribution. I will do it in the next few days :)

[2020-04-01 10:35] miklossy commented on #489
Based on the Git history and on the [blog post](https://www.typefox.io/blog/xtext-2-13-0-released-semantic-editing-made-easy) I find out that this feature has been added to Xtext 2.13.

[2020-04-02 12:07] miklossy commented on #489
Fixed in 2.22.

[2020-04-02 12:07] #489 closed

[2020-04-05 07:03] miklossy commented on #253
[PR](https://github.com/eclipse/xtext/pull/1727) has been created that adds ValidationTestHelper  documentation to the Xtext Domainmodel tutorial.

[2020-04-05 14:04] miklossy commented on #253
[PR](https://github.com/eclipse/xtext/pull/1728) has been created that adds
- CompilationTestHelper documentation to the Xtext Domainmodel tutorial
- Automated UI testing documentation to the Eclipse Support webpage

[2020-04-06 13:47] miklossy commented on #253
Fixed in 2.22.

[2020-04-06 13:47] #253 closed

[2020-04-07 09:07] cdietrich opened #1440 "Partial Parsing broken with Actions"
Given the Grammar

[code]

and the model

[code]

if you insert a `!` before `a.b` the resulting ast in the editor is broken (child of if is not a unary expression but the `memberfeaturecall.target` gets an unary expresssion.

here is a unit test showing the problem

[code]

[2020-04-13 10:19] miklossy opened #1443 "Xtext formatter behaves differently on Windows in case of different line delimiters"
The Xtext formatter formats the Xbase grammar differently on Windows according to the used line endings. When formatting e.g the OpOther rule from the Xbase grammar with Windows line endings, there is no change, but formatting it with Linux line endings, everything will be formatted into one line:
![screencast](https://user-images.githubusercontent.com/20393472/79113313-edf89a80-7d80-11ea-8e96-f5f

[2020-04-13 15:15] szarnekow opened #1445 "Synchronization strategy in ExecutorServiceProvider is flawed"
Should be a ConcurrentHashMap, otherwise the synchronization attempt in get(String) is completely flawed

_Originally posted by @szarnekow in https://github.com/eclipse/xtext-core/pull/1442_

[2020-04-17 17:14] miklossy commented on #1341
I would suggest to modify the wizard that it does not create any `xtend-gen` folder. Executing the mwe2 workflow will create the `xtend-gen` folder on demand anyway. Moreover, if the user adds an `*.xtend` file to the `src` folder, the `xtend-gen` folder will be created automatically.

[2020-04-17 17:26] miklossy commented on #393
I also encountered this problem recently. The problem is really annoying in case something is misconfigured in Guice not to get a readable error message.

@cdietrich Maybe we can schedule this update to Xtext 2.23?

[2020-04-19 09:54] szarnekow commented on #1341
In that case, the order of src folders should be fixed first. The automatically created xtend-gen folder is usually added to the front of the list. This is not nice for end users. Maybe add it as the last source folder (immediately after the previously last classpath entry that is a source folder) instead?

[2020-04-19 09:56] cdietrich commented on #1341
in the past build.properties files always made problem when auto add xtend-gen folders. thus i dont see this as a viable alternative

[2020-04-19 10:00] szarnekow commented on #1341
That would need to be fixed, too

[2020-04-19 10:59] miklossy commented on #1341
- [ ] Ensure newly created `xtend-gen` folder (by Eclipse/MWE2) is added as the last entry of the classpath.
- [ ] Ensure the newly created `xtend-gen` folder (by Eclipse/MWE2) is added to the `build.properties` file.
- [ ] Ensure the New Xtext Project wizard does not create any `xtend-gen` folder by default.

[2020-04-20 05:57] cdietrich commented on #1341
@miklossy samw for maven and gradle build configs. i still have doubts it is worth it.

[2020-04-20 06:22] miklossy commented on #1341
I understand. Let's postpone it.

[2020-04-20 10:34] ewenmaclean opened #1451 "Offset error in VSCode"
I am writing here on the suggestion of @akosyakov  - unfortunately I cannot share the exact code and I cannot make a minimal repro where the issue manifests.

I am using a formatter declared in xtext  extending `AbstractFormatter2` and injecting the generated grammar access which extends `AbstractGrammarElementFinder` - this works very well in the web-baed monaco editor.

I am now using the latest

[2020-04-20 11:03] cdietrich commented on #1451
without any concrete hints how to reproduce i dont think we can do anything here

[2020-04-20 11:07] ewenmaclean commented on #1451
I appreciate that - alas I can't share the code publicly.  Thanks for looking - I asked just in case it might have been something observed before.

[2020-04-20 11:29] cdietrich commented on #1451
@ewenmaclean did you debug this locally?

[2020-04-20 11:44] ewenmaclean commented on #1451
Thanks for this I will study -  I did debug the ide project and by suspending the running VSCode process but could not reproduce. If I am able to get a more insightful trace I will post it but I appreciate you cannot do anything more without specific code. Thanks for the tips - I will study and see if I can any further debugging.

[2020-04-20 11:58] cdietrich commented on #1451
you should be able to set a breakpoint at the place the exception is thrown

[2020-04-20 12:02] ewenmaclean commented on #1451
Thanks for your help. I will report back if I can reproduce with a minimal example in debugging.

[2020-04-24 15:01] cdietrich commented on #1445
@nbhusare will work on this

[2020-04-26 12:43] miklossy commented on #1443
See also https://bugs.eclipse.org/bugs/show_bug.cgi?id=429483

[2020-04-28 10:42] cdietrich opened #1458 "XtextResource.getParser is not called in doLoad nor in update."
XtextResource.getParser is not called in doLoad nor in update.
thus it cannot be easily customized

[2020-04-29 16:17] cdietrich commented on #1458
Fixed in 2.22

[2020-04-29 16:17] #1458 closed

[2020-04-30 13:34] szarnekow opened #1462 "Syntax errors will lead to unexpected calls to value converters"
An input document with syntax errors may lead to value converters being called with the previous node rather than the real node of the value.

[2020-05-01 10:42] szarnekow opened #1464 "Xtext parser creates dangling objects"
When a production rule is used in a boolean assignment, the parser will create dangling EObjects.

While working on #1462 I came across a bunch of questionable semantics in the Xtext grammar when it comes to boolean assignments. One of these: The parser will create dangling EObjects:

[code]

[code]

Proposed solution: Disallow production rules on the right-hand-side of boolean assignments.

Preli

[2020-05-01 10:56] szarnekow opened #1465 "Boolean assignments assign 'true' in presence of syntax errors"
From the docs

It's a little vague with the notion of `right hand side was consumed`, e.g.

[code]

will assign `true` to `booleanValue` with with the model `id k`. From a users perspective, clearly no int was consumed, since there is no digit in the input document. The parser in turn will dive into the rule `DataType` and recover there from the mismatched input token `k` by means of skipping `INT

[2020-05-01 12:08] szarnekow opened #1466 "Global unique name validation"
The NamesAreUniqueValidator allows to validate the exported objects from a single resource.

It is desired to have such a validation across file boundaries. The scope of the validation should be configurable, e.g. per Resource (cf NamesAreUniqueValidator), per xtext.IContainer, across all visible IContainers and globally across all the entire IResourceDescriptions.

Non-functional requirement: Thi

[2020-05-01 12:08] szarnekow commented on #1466
See also: UniqueClassNameValidator

[2020-05-01 12:18] miklossy commented on #1466
See also https://bugs.eclipse.org/bugs/show_bug.cgi?id=327863