[2017-08-17 15:34] xcariba commented on #396
@svenefftinge I will provide test.
Also there is a problem with spaces in paths, since `URI.create(..)` throws `IllegalArgumentException` when there are spaces in argument. Found this bug in Eclipse Che with xtext-based LSP. Server gets UTF-8 uri path in `file:///projects/Project/File name.ext` format, which is already decoded, then in encodes it in `java.net.URI` and passes it to nio Path, conver

[2017-08-21 17:08] meysholdt opened #438 "ITextRegionAccess.regionForLineAtOffset(int) returns invalid line when offset falls on newline"

[2017-08-21 17:25] #438 closed

[2017-08-28 14:36] jGleitz commented on #413
@svenefftinge Although I’ve read the discussion, I’m not quite sure what you mean by “you cannot be sure that the resourceset is 'complete'”.

In said discussion, you wrote

If I see the situation right, this hasn’t been realised yet because of the high effort needed to get platform independent deltas. So I propose a more simplified version: An interface that only gets the resource set and the inf

[2017-08-29 08:37] sjka opened #446 "o.e.xtext.ide depends on Equinox"
I'm currently trying to get LSP support into Eclipse SmartHome (eclipse/smarthome#4148).
However, as it turned out, the `org.eclipse.xtext.ide` has a "require bundle" dependency to `org.eclipse.core.runtime` which in turn drags the whole equinox enchilada in. As it claims to provide "Platform-independent language support.", this is somewhat surprising.

There was a related issue for the xtext core

[2017-08-29 09:05] cdietrich commented on #373
it actually uses org.eclipse.core.runtime.IProgressMonitor / NullProgressMonitor which is in equinox common but that wuld not help you neither correct?

[2017-08-29 09:07] cdietrich commented on #446
it uses org.eclipse.core.runtime.IProgressMonitor /NullProgressMonitor from equinox common but this change wouldnt help you neither correct?

and org.eclipse.xtext has the same dependency (although its optional)

[2017-08-29 09:14] sjka commented on #446
looking at its dependencies: nope 😄

An optional dependency is perfectly fine - as long as the stuff really doesn't fail without it. Our use-case is to run an embedded language server, so no Eclipse extension points are registered. Therefore I assume we should be reasonably safe...

[2017-08-29 09:17] cdietrich commented on #446
no i mean: replacing that dependency with equinox common: will it help you or not?
or is that  == equinox enchilada

[2017-08-29 09:21] sjka commented on #446
No, it won't help:

o.e.equinox.commons imports

[code]

[2017-08-29 09:22] cdietrich commented on #446
but org.eclipse.xtext has the same required dependency

[2017-08-29 09:23] cdietrich commented on #446
https://github.com/eclipse/xtext-core/blob/077b26c5caad58f0e07b35e7001415b8db93bc33/org.eclipse.xtext/META-INF/MANIFEST.MF#L106

[2017-08-29 09:54] sjka commented on #446
I just learned that there is the o.e.equinox.supplement bundle which fulfills all those requirements if o.e.equinox.common has to run on another framework.
With this knowledge a dependency to o.e.equinox.common indeed would help.

[2017-08-29 11:34] maggu2810 commented on #446
Hi @cdietrich,
can you explain me why you use Require-Bundle instead of Import-Package at all?
Shouldn't be the "import package" directive be preferred to not depend on the bundle that adds the implementation at all?

[2017-08-29 11:35] cdietrich commented on #446
i havo no idea. i just try to be consitent to xtext-core

[2017-08-29 11:41] cdietrich commented on #446
doesnt the discussion in the attached bugziilla give any clues

[2017-08-29 12:53] cdietrich commented on #446
fixed in xtext 2.13

[2017-08-29 12:53] #446 closed

[2017-08-29 13:37] sjka commented on #446
Wow, that was quick. Thanks!

What is the timeline for 2.13? Or rather: any chance to get this change in a more-or-less official build (i.e. a p2 repository that can be referenced) before the  ~~pluto~~ the-other-word-with-"p"-release?

[2017-08-29 13:43] cdietrich commented on #446
good question does the xtext snapshot repo already contain 2.13? have no p2 browser to look here

[2017-08-30 12:26] mor-n4 opened #449 "Stack overflow when validating AST with great height"
When having an AST with a great height (e.g. deeply nested expressions, long chains of method calls when using fluent APIs) the Xtext validator can run into a stack overflow, see stack trace below.

To reproduce:

1. create new empty Xtext project (with wizard)
2. use the following grammar:
[code]
3. open the following sample file in an editor:
[code]
4. now duplicate line 2 or 3 until you have ar

[2017-08-30 12:38] cdietrich commented on #449
Workaround: increase stack size

[2017-08-30 12:40] cdietrich commented on #449
i wonder if this is not a bug in emf. CancelableDiagnostician.doValidateContents calls super. the other classes are in emf. @merks what do you think?

[2017-08-30 12:49] cdietrich commented on #449
sample ecore

[code]

and main to reproduce in pure emf

[code]

[2017-08-31 04:48] merks commented on #449
Of course many algorithms are recursive and if you make the recursion deep enough, the stack will overflow.  When validating the contents of some object, those children (contained objects) might well be from a different Ecore model with a different validator so we must delegate back to the root validator which includes the logic for finding the right per-package validator.

[2017-08-31 05:14] cdietrich commented on #449
so you would prefer a clone wontfix?

[2017-08-31 05:43] merks commented on #449
Well, in general any recursion can suffer such a problem given an input that induces deep enough recursion.  One would need to redesgin the algorithm to avoid recursion.  That's not possible in this case without breaking derived classes that override doValidateContents, i.e., that are specialized in a way that relies on the recursion.  But perhaps a creative solution is possible. I could imagine m

[2017-08-31 06:00] cdietrich commented on #449
created https://bugs.eclipse.org/bugs/show_bug.cgi?id=521642 and thus will close this one

[2017-08-31 12:21] cdietrich commented on #345
fixed in 2.13

[2017-08-31 12:21] #345 closed

[2017-09-01 07:59] cdietrich commented on #413
there is already a interface for that: IXtextBuilderParticipant

[2017-09-01 08:04] cdietrich commented on #381
so let us close this issue

[2017-09-01 08:04] #381 closed

[2017-09-01 08:22] cdietrich commented on #247
any hints?

[2017-09-01 08:24] szarnekow commented on #247
I think the vce's message should win if it's not the default message.

[2017-09-01 08:48] cdietrich commented on #247
hmmm a valueconverter exception is constructed as follows

[code]
=> the exception message contains the causes message if there was no explicit message

[2017-09-01 13:22] szarnekow commented on #247
Meh. Comparing the causes' message with the value converters message doesn't make any sense in `getValueConverterExceptionMessage` so we should just use the message of the vce.

[2017-09-04 15:48] xcariba commented on #396
@svenefftinge PR: #403. I've removed `java.net.URI` to fix this issue and used EMF URI instead.

[2017-09-05 05:50] cdietrich opened #450 "Make sure we use the same custom jdt settings in all projects"
Make sure we use the same custom jdt settings in all projects. there are some projects that dont have custom settings and thus warning behaviour in jdt is different

[2017-09-05 18:09] cdietrich commented on #450
@all do we have somewhere a "reference" prefs file?

[2017-09-05 18:18] cdietrich commented on #450
@kthoms has oomph facilities to configure jdt errors/warnings?

[2017-09-05 18:45] kthoms commented on #450
@cdietrich Sure, they are just preferences. You could export the preferences and from that we could extend the setup.

[2017-09-05 18:53] szarnekow commented on #450
I would prefer to use project specific settings so hopefully the ecj picks these up even when run from tycho or similar.

[2017-09-05 18:57] cdietrich commented on #450
But which config should I take as reference or should I take the average / majority of current configs?

[2017-09-05 19:02] kthoms commented on #450
Define one project as reference for the others? org.eclipse.xtext should be fine. The prefs file could be copied to other projects.

[2017-09-05 19:03] cdietrich commented on #450
It's not it does not care about override

[2017-09-05 21:02] #342 closed

[2017-09-06 06:31] cdietrich commented on #112
@kthoms t though you fixed that. at least the wizard creates a launch.

[2017-09-06 07:41] #112 closed

[2017-09-06 07:51] cdietrich commented on #91
fixed in 2.13

[2017-09-06 07:51] #91 closed

[2017-09-07 09:59] akosyakov opened #453 "LanguageServer should not publish ignored issues"
Right now ignores issues are published as hints
https://github.com/eclipse/xtext-core/blob/ffca82299acca8543fecbc0a41126ea1b986c506/org.eclipse.xtext.ide/src/org/eclipse/xtext/ide/server/LanguageServerImpl.xtend#L286-L291

[2017-09-10 16:57] kittaakos commented on #185
This was done via 139d01f7036f94c1aec5fa01dc25c8cb698becb6, right? @svenefftinge, could you please glance into your commit and update this ticket according to it? Thanks!

[2017-09-11 06:22] svenefftinge commented on #185
Yes, indeed got solved with that commit.

[2017-09-11 06:22] #185 closed

[2017-09-11 07:17] xcariba commented on #396
Fixed in #403

[2017-09-11 07:17] #396 closed

[2017-09-11 14:35] kittaakos opened #456 "Regression in `UriExtensions`: `inmemory:/` URI scheme is not supported any more"
After merging GH-403 into the master branch, `inmemory:/` URI scheme cannot be used for testing as those will be converted into `file:///` URI scheme.

Test case:
[code]

Additional details are [here](https://github.com/eclipse/xtext-core/pull/403).

[2017-09-11 14:40] kittaakos commented on #456
The question is whether one has to use `AbstractLanguageServerTest.getVirtualFile(String)` instead of the `inmemory:/` scheme in the tests or this regression has to be fixed?

CC: @svenefftinge, @akosyakov

[2017-09-11 14:47] cdietrich commented on #456
dont we have such tests in xtext-core?

[2017-09-11 14:52] kittaakos commented on #456
The closest I have found was this one: https://github.com/eclipse/xtext-core/blob/d0ef36771ac3f81eb1f673933c5cc95e60d640c5/org.eclipse.xtext.ide.tests/src/org/eclipse/xtext/ide/tests/server/OpenDocumentTest.xtend#L97

But the `#getVirtualFile(String)` method will return with a URI with the `file:///` scheme. Maybe I have overlooked something and we have a better test.

[2017-09-11 14:54] akosyakov commented on #456
We should fix it and add tests into `UriExtensionsTest`.

[2017-09-11 14:54] kittaakos commented on #456
If this is accepted as a bug, I start working on the fix. Just give me the green light.

[2017-09-11 14:55] kittaakos commented on #456
I will take care of it.

[2017-09-12 17:37] kittaakos commented on #456
PR: #457.

[2017-09-13 15:27] kittaakos commented on #456
Closed via #458.

[2017-09-13 15:27] #456 closed

[2017-09-13 15:27] kittaakos commented on #456
Closed via #458.

[2017-09-14 09:13] cdietrich opened #459 "UriExtensionsTest fails on windows"
org.junit.ComparisonFailure: expected:<[file://]/dir/name.ext> but was:<[]/dir/name.ext>
	at org.junit.Assert.assertEquals(Assert.java:115)
	at org.junit.Assert.assertEquals(Assert.java:144)
	at org.eclipse.xtext.ide.tests.server.UriExtensionsTest.testFileUriConversion(UriExtensionsTest.java:204)

[2017-09-14 09:15] cdietrich opened #460 "PartialSerializerTest / ChangeSerializer*Test / FileAwareTestLanguageImportTest / IndentationAwareCompletionPrefixProviderTest fail on windows"
FileAwareTestLanguageImportTest. testMoveIntoLocalPackage
FileAwareTestLanguageImportTest. testMoveToNewPackage
FileAwareTestLanguageImportTest. testNestedPackage
FileAwareTestLanguageImportTest. testRenameGlobal1
IndentationAwareCompletionPrefixProviderTest. testLastCompleteNode_4_0
IndentationAwareCompletionPrefixProviderTest. testLastCompleteNode_4_0c
IndentationAwareCompletionPrefixProviderTes

[2017-09-14 09:33] kittaakos commented on #459
I can look into this.

[2017-09-14 09:35] cdietrich commented on #459
Would be nice to know what is needed on windows to get nice runtime behavior
Maybe we need some integration tests.
Or do we already have

[2017-09-14 09:40] kittaakos commented on #459
I have to admit, I am a bit surprised about the Windows test failure, because I have checked out the branch with the changes yesterday and run the gradle build from termina on  Windowsl. Anyway, I try to reproduce it first.

[2017-09-14 09:50] kittaakos commented on #459
I can confim it.

[2017-09-14 11:36] cdietrich commented on #460
maybe

[code]

does the trick

cc @meysholdt

[2017-09-14 12:03] cdietrich commented on #460
Unfortunately the same fix does not work on FileAwareTestLanguageImportTest

[2017-09-14 12:08] cdietrich commented on #460
and i am not sure why we have the formatter preferences and ILineSeparatorInformation

[2017-09-14 12:17] kittaakos commented on #460
The problem is in the [TextDocumentChangeToString](https://github.com/eclipse/xtext-core/blob/master/org.eclipse.xtext.ide/src/org/eclipse/xtext/ide/serializer/debug/TextDocumentChangeToString.java#L52;), right? Is it allowed to always use `"\n"`?

[2017-09-14 12:18] kittaakos commented on #460
Also when we join the results.

[2017-09-14 12:35] cdietrich commented on #460
I have no idea this is why I need somebody with insights in the serializer formatter stuff

[2017-09-14 12:51] cdietrich commented on #460
so what strikes me is the strategy to tackle this problems

(1) make the inputs and behaviour the same one win and linux/mac and make sure result comparison works
(2) find a strategy to make a operating system dependent result ist correct computation

[2017-09-14 14:35] #459 closed

[2017-09-19 05:50] cdietrich commented on #453
ignored issues should never be created

[code]

can you give a hint how you managed to get one @akosyakov ?

[2017-09-19 07:48] cdietrich commented on #453
fixed in 2.13. would still want to provide a test therefore hints on reproduction welcome

[2017-09-19 07:58] #453 closed

[2017-09-19 11:22] enikao opened #464 "Serializer.serializeToRegions() produces invalid output for EObjects without attached node model"
When serializing a pristine EObject (i.e. an EObject that was not loaded from an XtextResource and thus has no attached node model) to regions, no / not enough whitespace is produced. This leads to an invalid result.

In the example below, no spaces are generated at all. In my real-life example, spaces are only missing between two consecutive character-only keywords.

Example grammar (based on emp

[2017-09-19 11:54] cdietrich commented on #464
what did you implement inside the formatter?

[2017-09-19 12:32] enikao commented on #464
No changes. Interestingly, the formatter is never called (this had been my first attempt).

[2017-09-19 12:32] cdietrich commented on #464
even when calling serialize?

[2017-09-19 12:41] enikao commented on #464
If you have a look into org.eclipse.xtext.serializer.impl.Serializer, most of the serialize()-Variants do call the formatter explicitly. The serializeToRegions() variant does not. I guess that might be the problem.

[2017-09-19 12:44] cdietrich commented on #464
yes this is why i say: why do you call serializeToRegions. it makes no sense

[2017-09-19 13:07] enikao commented on #464
I need to do lots of magic on the serialized model: I want to edit only one EObject, and maybe even only some features of it, or only one feature that is not set. Therefore, I need to get the text, and the relation to TextRegions and SemanticRegions, to find the right part of the text.

Latter case:
grammar like this:
[code]

and an event with only a name, but no guard, and only wanting to edit th

[2017-09-19 13:16] cdietrich commented on #464
i would have a look what

org.eclipse.xtext.ide.server.formatting.FormattingService.format(Document, XtextResource, DocumentRangeFormattingParams, CancelIndicator)

and

org.eclipse.xtext.ui.editor.formatting2.ContentFormatter.exec(IXtextDocument, IRegion, XtextResource)

do and do something similar

[2017-09-21 07:36] sjka commented on #446
@svenefftinge do you already have a plan? Will there be a 2.12.1 bugfix release? Or for what timeframe is 2.13 scheduled otherwise?

[2017-09-21 07:38] kthoms commented on #446
Next release is 2.13. Official release date is not terminated yet.

[2017-09-22 08:11] NDuemmel opened #467 "[Tracing] Allow to specify UseForDebugging"
org.eclipse.xtext.generator.trace.node.GeneratorNodeProcessor.doProcess(TraceNode, Context) sets useForDebugging to false. active annotations dont offer to customize this. (#467)

Hi,

I have written a generator following this example: [](https://typefox.io/generate-traced-code-with-xtext
)
The issue is that the attribute useForDebugging for TraceRegions is always set to false, and there seems to

[2017-09-22 08:15] cdietrich commented on #467
@meysholdt @svenefftinge @spoenemann any hints on how to best solved this?

[2017-09-22 11:59] cdietrich commented on #467
@NDuemmel if you want to play alpha-tester: http://services.typefox.io/open-source/jenkins/job/xtext-umbrella/job/cd_issue467/lastSuccessfulBuild/artifact/build/p2-repository/

there is now `@Traced(useForDebugging=true)` and you can call the `_`methods with debug flag as well `_name(true)`

[2017-09-22 12:07] svenefftinge commented on #446
We try to get it out before End of October.

[2017-09-25 08:07] cdietrich commented on #460
org.eclipse.xtext.parser.indentation.NodeModelTest affected as well

[2017-09-25 09:20] cdietrich commented on #460
+ RegionAccessBuilderTest

[2017-09-25 09:28] cdietrich commented on #460
@meysholdt @JanKoehnlein can you please comment on how to deal with the non indention tests

[2017-09-25 10:07] cdietrich commented on #467
@NDuemmel would be nice if you could finalize this soon to make sure it gets part of the 2.13 release and supports everything you need

[2017-09-25 13:37] NDuemmel commented on #467
First of all thank you for the quick fix.
I have tried it and it works, the D flags are present now.
However it seems I now need to rewrite my generator, so that the DSL statements get the @Traced(useForDebugging=true) annotation in order to get correct smap data.
I will look into it tomorrow.

[2017-09-25 13:40] cdietrich commented on #467
depends on how you wrote your generator i think

[2017-09-25 21:02] kthoms opened #470 "[generator] Contribute org.eclipse.core.contenttype.contentTypes extension"
See eclipse/xtext-eclipse#379.

Xtext's code generator has to provide a content type descriptor for DSL files.

[2017-09-26 06:54] cdietrich opened #472 "Better Control of new Generator"
it would be nice if it would be more easy to control what the new workflow does and what not regarding enablement / disablement of fragments / implicit stuff.

having to subclass to get rid of a fragment is really painful

[2017-09-26 08:22] NDuemmel commented on #467
I have changed the generator so that statements have the @Traced(useForDebugging=true) annotation, and now correct smap data is generated as far as I can see. For now I've tested it only with variable declarations.

Placing a breakpoint in Java code and pressing debug now shows my DSL code with the correct line.

Thank you very much!

P.S.: Here is what my generator looks like now:
`	override void

[2017-09-26 08:25] cdietrich commented on #467
ok so i assume we are good enhough to release this in 2.13

[2017-09-27 08:28] cdietrich commented on #467
Fixed in Xtext 2.13

[2017-09-27 08:28] #467 closed

[2017-09-27 08:29] cdietrich commented on #348
I have deleted the Test => Problem "Solved"

[2017-09-27 08:29] #348 closed

[2017-09-27 08:46] cdietrich commented on #464
cc @svenefftinge any thoughts. what is the expected behaviour

[2017-09-27 08:46] cdietrich commented on #460
cc @svenefftinge how to fix these issue in test?

[2017-09-27 09:01] svenefftinge commented on #464
@meysholdt domain

[2017-09-27 17:54] meysholdt commented on #464
Hi @enikao

can you please verify that your implementation of `org.eclipse.xtext.formatting2.IFormatter2` is being called as part of serialization? If not, you may need to activate the `Formatter2Fragment2` in the MWE2 workflow.

The formatter is responsible for adding whitespace to those places where they can not be taken from the node model. Even if you didn't customize the formatter, there is a

[2017-09-27 18:21] cdietrich commented on #460
cc @meysholdt

[2017-09-27 20:18] knutwannheden opened #476 "Support EMF's ResourceLocators in XtextResourceSet"
Since release 2.8 EMF supports the concept of ResourceLocators (see https://bugs.eclipse.org/bugs/show_bug.cgi?id=367569 and especially https://bugs.eclipse.org/bugs/show_bug.cgi?id=367569#c7 for details). It would be nice if XtextResourceSet could leverage these.

At the moment this doesn't seem to be possible, because XtextResourceSet#getResource(URI, boolean) only delegates to the super class w

[2017-09-28 07:46] kthoms commented on #355
I think this was it.

[2017-09-28 07:47] cdietrich commented on #355
the wizard part for maven/gradle is missing

[2017-09-28 07:47] kthoms commented on #355
ah ok, thx for the pointer

[2017-09-28 08:39] cdietrich commented on #470
anything left?

[2017-09-28 09:40] kthoms commented on #355
Done.

[2017-09-28 09:40] #355 closed

[2017-09-28 09:46] kthoms commented on #470
I guess we have updated all languages now.

[2017-09-28 09:46] #470 closed

[2017-09-28 13:45] knutwannheden opened #481 "Improve performance of ResourceStorageLoadable"
I ran some primitive performance tests and noticed that `ResourceStorageLoadable` is rather slow in loading the binary models. Experiments indicate that by wrapping the `ZipInputStream` in a `BufferedInputStream` inside `loadEntries()` before passing it to the `readXyz()` methods the performance is improved by quite a bit (around 4x on MyMachine(tm)).

https://github.com/eclipse/xtext-core/blob/25

[2017-09-28 15:27] kthoms commented on #481
Could you prepare a test case with zipped models of some testing language, large enough to see an effect?

[2017-09-28 15:44] tkutz opened #483 "TemplateNode removes whitespaces for for-loops with separators"
Consider following code snippet:
[code]
The generated text does not contain the whitespaces between «x.type» and «x.name».

It seems like ```TemplateNote.appendImmediate()``` is deleting all previous whitespaces instead of the last ones only when appending the separator.

[2017-09-28 19:59] knutwannheden commented on #481
I need to set my environment up for this. But tests show that on MyOtherMachine(tm) I also notice a rough 4x speed improvement when using a BufferedInputStream. Here is a test case I added to `org.eclipse.xtend.core.tests.resource.ResourceStorageTest`:

[code]

[2017-09-28 20:08] cdietrich commented on #481
do we have some xtend performance tests that cover the resource storage facade @szarnekow ?

[2017-09-28 21:08] knutwannheden commented on #481
BTW, same 4x improvement in this [SO question](https://stackoverflow.com/questions/4438085/seeking-out-the-optimum-size-for-bufferedinputstream-in-java). The problem seems to be that if the DataInputStream sits directly on top the ZipInputStream then only very small amounts of data will be decompressed at the time, while processing larger chunks appears to be way more efficient.

From my experienc

[2017-10-01 19:26] #483 closed

[2017-10-01 19:28] cdietrich commented on #481
Fixed in 2.13

[2017-10-01 19:28] #481 closed

[2017-10-02 11:11] cdietrich commented on #481
on my machines i see an inprovement of 30% only but this is still significant

[2017-10-02 12:15] knutwannheden commented on #481
@cdietrich Strange. Did you measure that using this primitive performance test I showed? Adding some warmup iterations to that I would often measure up to 7x improvement. I wonder why the big discrepancy?

[2017-10-02 12:34] cdietrich commented on #481
no i measured in our production environment.

[2017-10-02 12:47] knutwannheden commented on #481
OK. But were the measurements you compared also those of the "Loading from storage" task measured by `Stopwatches`? How much performance is increased for larger grained tasks as e.g. incremental builds I have no idea about. Probably not very much...

[2017-10-02 12:48] cdietrich commented on #481
no i measured with yourkit. its the loadResource method

[2017-10-02 12:59] cdietrich commented on #481
with your test i see a speedup of 300%

[2017-10-02 13:12] knutwannheden commented on #481
OK. Thanks for the clarification.

Measurements in YourKit often surprise me a bit, especially when sampling. I have in the past often got strange results for native method calls and also it doesn't seem like YourKit consistently measures all native blocking I/O calls using wall time, some common ones appear to be missing (i.e. measured using CPU time).

[2017-10-02 18:22] cdietrich opened #487 "Fix Broken TypeReferenceTest"

[2017-10-02 18:23] cdietrich commented on #487
temp set tests to ignore ff889c133f63a2ef1a1af008308a4f16678f9c37

[2017-10-02 18:32] cdietrich opened #488 "Fix Broken DefaultReferenceDescriptionTest"

[2017-10-02 18:57] JanKoehnlein commented on #488
Oops. Tahnks for pointing me to this and sorry for breaking the build. Fixed.

[2017-10-02 18:57] #488 closed

[2017-10-02 18:57] JanKoehnlein commented on #487
Oops. Thanks for pointing me to this and sorry for breaking the build. Fixed.

[2017-10-02 18:57] #487 closed

[2017-10-03 08:41] JanKoehnlein opened #489 "[releng] add missing @since tags to new ChangeSerializer classes"

[2017-10-06 06:54] ArneDeutsch commented on #415
I have investigated. Actually it seems it is a feature, not a bug. IThere is explicit code causing this behaviour. I think the reasoning is something like:

"If you comment code (temporarily) you place the comments at the very beginning of the line. It is then nice if the formatter does NOT touch these lines. On the other hand if the comment is already indented it is probably a comment that is par

[2017-10-06 08:17] kthoms commented on #415
@meysholdt Do you share Arne's view? Then remove also the bug label.

[2017-10-06 11:00] meysholdt commented on #415
hi Arne,
yes, it's a feature, not a bug. in case you don't want to have it for your language you can overwrite `AbstractFormatter2#createCommentReplacer` and implement the following lines differently:
https://github.com/eclipse/xtext-core/blob/81df41e85b5bf8acbe80d240583b1c0026fbdfdd/org.eclipse.xtext/src/org/eclipse/xtext/formatting2/AbstractFormatter2.java#L214-L217

[2017-10-06 11:00] #415 closed

[2017-10-12 07:58] szarnekow commented on #489
Some more JavaDoc on the methods and interfaces in the new API/SPI would be great, too.

[2017-10-12 21:11] cdietrich opened #498 "org.eclipse.xtext.ide.server.rename not exported"

[2017-10-12 21:11] cdietrich commented on #498
@JanKoehnlein @meysholdt please have a look

[2017-10-12 22:24] kthoms commented on #498
If this package becomes public API, consider to mark elements `@Beta`.

If not, make sure that new projects don't use this API by default.

[2017-10-12 22:25] cdietrich commented on #498
There is other ide stuff not exported as well
So bad for customization

@svenefftinge what is the policy here

[2017-10-12 22:31] cdietrich commented on #498
Problem is without export wizard creates bad code

[2017-10-12 22:32] cdietrich opened #500 "JavaVersion has no entry for Java 9"

[2017-10-12 22:34] cdietrich opened #501 "Java 9 and ASM don’t work together."
This lets mwe fail

https://www.eclipse.org/forums/index.php/t/1089402/

Did not find asm 6 on orbit.
If I manually add it it seems to work after widening our asm version ranges

Workaround: remove asm from workflow classpath

[2017-10-12 22:35] kthoms commented on #498
Sounds to me that it should be an opt-in option to the generator. If users would really like to use this new API they can define access rules.

[2017-10-12 22:57] szarnekow commented on #498
In the past we exported new packages as internal in many cases.

[2017-10-13 06:42] JanKoehnlein commented on #498
https://github.com/eclipse/xtext-core/pull/502

[2017-10-13 06:45] JanKoehnlein commented on #498
We may have overlooked that because we usually don't develop language servers as PDE plug-ins. Of course, generating broken code is a no go.

[2017-10-13 08:46] l-wi opened #505 "Enabling formatter2 autowrap whenever possible"
Hi,

We would like to enable autowrapping inside our DSL whenever the line becomes longer than lets say 120 characters (formatter2 API; xtext 2.12). The DSL element behind which we linebreak does not matter in our case.

For that we are currently using the following code in the first format call of the formatter in question:
[code]

And we override the initialize method to set the desired line wid

[2017-10-13 08:51] cdietrich commented on #501
@svenefftinge any comments?

[2017-10-13 08:53] meysholdt commented on #505
hi @l-wi,

you're using the right approach to enable autowrap for all hidden regions.

The performance problem has very likely been fixed in https://github.com/eclipse/xtext-core/commit/c1014a09722b04352b06706d04419288405b92e6.

If you can it would be great if you could measure again with a nightly build of Xtext 2.13. or with Xtext 2.13.RC1 that we want to release today.

regards,
  Moritz

[2017-10-13 09:54] cdietrich commented on #501
https://bugs.eclipse.org/bugs/show_bug.cgi?id=525344

[2017-10-13 11:44] l-wi commented on #505
I just tested formatting with the nightly build (2.13.0.v20171011-248). Formatting is now almost instantaneous, reducing a lag of 6-7 seconds to 1-2 seconds.

So it seems that our problem will be fixed with the that release.

Thanks for your great work.

[2017-10-13 11:45] meysholdt commented on #505
yay, thank you for the feedback! :-D

[2017-10-13 11:45] #505 closed

[2017-10-13 12:25] cdietrich commented on #501
Fixed in 2.13

[2017-10-13 12:25] #501 closed

[2017-10-13 15:33] cdietrich opened #506 "Java 11+ hates some of the reflection stuff we do"
e.g.

[code]

[2017-10-17 11:29] humayun-faiz commented on #415
Please consider the below reply from my side as a response to the explanation of the bug as actually being a feature, on the stack over flow thread mentioned in the beginning of the ticket. Would also help to review the comments from the same thread to understand the problem further. Christian Dietrich provided a workaround, which is a solution to the first bug (first bullet from the initial expla

[2017-10-17 11:32] humayun-faiz commented on #415
Also please consider reopening the ticket as a bug if it qualifies for one.

[2017-10-18 07:08] cdietrich opened #509 "[Java 9] CodeGenUtil2.getJavaDefaultTypes() does not reflect new types"

[2017-10-18 09:55] meysholdt opened #510 "[ChangeSerializer] wrong output: sort with semicolon"
for grammar
[code]
the semicolons ends up in the wrong place when re-ordering `refs`.

[2017-10-18 11:28] cdietrich commented on #500
needs intense testing. thus i prefer to do this in 2.14

[2017-10-18 11:29] #498 closed

[2017-10-18 11:29] cdietrich commented on #498
https://github.com/eclipse/xtext-core/commit/3ffea25e435223d2498f6981920ff466fcc41a77

[2017-10-19 08:05] kdrozd opened #512 "[LSP] Input line to start LSP is too long"
Hi,

I have language that is in project with a bit long name (in.drozd.pdp.lang.tables) and it works as Eclipse plugin.
Now I added LSP support with wizard from 2.13 with following configuration:
* Eclipse support on
* maven build
* plain source layout
* regular LSP (not fatJar)

It works fine on macOS but on Windows 7 LSP is not starting du following errors:

My Configuration:
Eclipse 4.7.1a
Xtex

[2017-10-19 08:48] kdrozd commented on #512
Example VSCode plugin: https://marketplace.visualstudio.com/items?itemName=krzysiekdrozd.pdp-table-definition

[2017-10-19 08:53] kthoms commented on #512
If the start script produces a too long classpath, consider to use the Fat Jar.

[2017-10-19 09:17] cdietrich commented on #512
i wonder what is so long. the path to the start.bat? the classpath should be handled by the gradle application plugin correct?

[2017-10-19 09:20] kthoms commented on #512
In "Regular" format a start script is produced which lists all dependencies. When a DSL has many dependencies and stored in a deep path, tha classpath can grow long. This is a typical windows problem.
With a Fat Jar this becomes obsolete, the classpath is a single jar.

[2017-10-19 09:26] cdietrich commented on #512
i wonder if https://issues.gradle.org/browse/GRADLE-2992 should be reopended at github.com/gradle/gradle or has already been reopened

[2017-10-19 09:36] kdrozd commented on #512
But I use just Maven for build

[2017-10-19 09:39] cdietrich commented on #512
@kthoms does the maven plugin we use have an option to create a `classpath` file?

[2017-10-19 09:47] kthoms commented on #512
Please try to configure the [appassembler-maven-plugin](http://www.mojohaus.org/appassembler/appassembler-maven-plugin/assemble-mojo.html) in the IDE project:

[code]

[2017-10-19 11:27] svenkarol opened #513 "Wrong indentation when applying a quickfix that adds to a list of items"
Quickfixes that add new entries to a list of items in a block-like structure via a semantic modification using formatter2 are not indented correctly by the formatter even if an identation is specified for the block. Let, for instance, the original block be
[code]
Adding two new items Y and Z via a semantic modification in a quickfix results in
[code]
However, invoking the formatter from context me

[2017-10-19 11:33] kdrozd commented on #512
@kthoms Thank you this was the change I needed.
Before class path was full (over 20 lines) like this:
./in/drozd/pdp/lang/tables/in.drozd.pdp.lang.tables.ide-org.eclipse.xtext.common.types-2.13.0.v20171013-1230.jar/1.0.0-SNAPSHOT/in.drozd.pdp.lang.tables.ide-org.eclipse.xtext.common.types-2.13.0.v20171013-1230.jar-1.0.0-SNAPSHOT.jar

Now I'm able to start and use LSP on Windows... I'll keep my CP

[2017-10-19 11:54] kthoms commented on #512
Thanks for testing, I think this is a valuable change then. I will make these configuration options default.

[2017-10-19 13:09] #512 closed

[2017-10-20 05:04] knutwannheden opened #515 "Unexpected "Cannot add supertype 'X' to sealed type 'Y'""
For the following parser rule I get an error marker "Unexpected "Cannot add supertype 'Statement' to sealed type 'FeatureCall'":

[code]

Since the rule should always return an instance of AssignStatement or CallStatement it seems wrong to me that Xtext requires FeatureCall to also be a subtype of the declared return type Statement. Or what am I missing here?

Full sample project attached: [mydsl.

[2017-10-20 05:09] cdietrich commented on #515
hmmmm on which xtext version did you try that?

[2017-10-20 05:11] cdietrich commented on #515
i assume xtext will never check this "always"

[2017-10-20 05:12] cdietrich commented on #515
=> maybe really do it the classical way without ast rewrite

[code]

[2017-10-20 05:37] knutwannheden commented on #515
Yes, rewriting the grammar as you say will of course work. The validation still seems wrong to me.

[2017-10-20 05:51] knutwannheden commented on #515
Intuitively I would expect the AST rewrite version to perform better because the parser can go right ahead and parse a FeatureCall without making any predictions and after that only one token lookahead is required to decide which alternative to take. But if that ends up making a difference in the larger scheme I wouldn't really know...

[2017-10-20 05:53] cdietrich commented on #515
maybe @szarnekow can give us some insights

[2017-10-20 06:46] szarnekow commented on #515
This is a broken validation in Xtext. We may want to enhance it to allow provable empty alternatives to have an impact on the type inference. Currently the logic was based on the assumption that error recovery may yield incomplete objects as the return value of a rule. If we have a current instance that is provable created / yielded by the last consumed text, we could relax / improve the validatio

[2017-10-20 08:40] kdrozd opened #516 "[LSP] org.eclipse.xtext.build.Indexer - crashing"
Hi,

I have problem with `org.eclipse.xtext.build.Indexer`, few problems.

1. When LSP is started it calls `org.eclipse.xtext.build.Indexer` to index all files in my folder... including content of .git directory, why?
2. It is crashing each time I open file. First LSP starts and starts indexing... and as I've 60K+ files ind folder it takes 2.2G of RAM and 100% of CPU time.
3. With just few files (

[2017-10-20 08:47] cdietrich commented on #516
do you have an example for that "big" folder as well? `org.eclipse.xtext.util.IFileSystemScanner.JavaIoFileSystemScanner` basically scans everything on the base folder

[2017-10-20 08:49] cdietrich commented on #516
does 2. happen independently of the indexer state and if it has finished and the number of files?

[2017-10-20 08:49] cdietrich commented on #516
i assume we still cant open files that are not yet indexed

[2017-10-20 08:58] cdietrich commented on #516
the question is what find of crash this is. (the root cause) ist it a simple outofmemoryerror? could likely be with 60k files.

[2017-10-20 09:10] cdietrich commented on #516
@svenefftinge we dont do any clustered builds in LSP yet. correct?

[2017-10-20 09:22] cdietrich commented on #516
well we do clustering, but the default cluster size is all files

=>

[code]

[2017-10-20 09:28] cdietrich commented on #516
=> @kdrozd can you retry with change module?

[2017-10-20 11:38] knutwannheden commented on #515
In my particular case (not reproducible with distilled example grammar) the proposed grammar rewrite doesn't work. It results in the "has non-LL(*) decision" error from ANTLR. This is what prompted the use of an AST rewrite rule in the first place.

As a workaround the Ecore model is now "polluted" with an unwanted supertype relationship.

[2017-10-20 12:53] svenefftinge commented on #516
No, we don't do clustered builds. Also, of course, we should have a decent default ignore behavior (e.g. `.git`).

[2017-10-20 12:55] cdietrich commented on #516
i had a look. the build is clustered, but its disabled. same as in eclipse

[2017-10-20 12:56] svenefftinge commented on #516
It's not just that binding. There are other things you need to adjust, too.
Clustered builds are really the last thing to consider. I'd first try to reduce the memory footprint as much as possible.

[2017-10-20 12:59] cdietrich commented on #516
well with 60k files: good luck

[2017-10-25 08:58] cdietrich opened #517 "JavaVersion: find a better way to keep up with Java SE release cadence"
Adapting constants and switches at 50 places is bad. So we need a better way for that

[2017-10-25 09:07] cdietrich commented on #517
We all gonna die ...

[2017-10-28 10:54] cdietrich opened #520 "[LSP] Rename not working accross files"
Given the Grammar

[code]

and test models
`a.mydsl`
[code]

and
`b.mydsl`
[code]

renaming `Other` to `OtherNew` does not work

[code]

[code]

as you can see ` "newText": "Other"` still produces the old value (coming from `org.eclipse.xtext.ide.serializer.impl.ReferenceUpdater.updateReference(ITextRegionDiffBuilder, IUpdatableReference)`)

the scope has still the old entry. so searching the obje

[2017-10-28 10:54] cdietrich commented on #520
cc @meysholdt @JanKoehnlein

[2017-10-28 11:53] cdietrich commented on #520
added test with b43934a0efdde29a492cbba7713f1b19715b3327

[2017-11-01 20:25] knutwannheden opened #521 "Only "index" AST elements when serializing / deserializing node model"
I can't think of any good reason why `SerializationUtil#fillIdToEObjectMap()` should "index" any EObjects other than the AST nodes created by the parser.

https://github.com/eclipse/xtext-core/blob/b43934a0efdde29a492cbba7713f1b19715b3327/org.eclipse.xtext/src/org/eclipse/xtext/nodemodel/serialization/SerializationUtil.java#L41-L48

So I suggest to change the code so that it only processes the res

[2017-11-01 20:31] cdietrich commented on #521
Isn’t inferred stuff indexed as well?

[2017-11-01 20:38] cdietrich commented on #521
the question is if this is used for node model only right?

[2017-11-01 20:45] knutwannheden commented on #521
By "indexed" I mean added to the given "map" List. This method is called by the `DeserializationConversionContext` and the `SerializationConversionContext` when deserializing resp. serializing the node model. But the node model should of course only have references to the AST, so I don't see any point in "indexing" the inferred elements. It isn't wrong, but a slight unnecessary performance and (te

[2017-11-03 08:09] cdietrich opened #522 "Wizard + Gradle + Java 9.0.1 = Boom"
[code]

i assume going to gradle `4.2.1` or later in the wizard helps

[2017-11-03 16:30] JanKoehnlein opened #524 "Cannot override bindings from runtime module in ide module"
For GH-520, I wanted to override a binding from `DefaultRuntimeModule` in the `DefaultIdeModule`. For the `DefaultUiModule` this works, as it is combined with the runtime module using `Modules2.mixin()` in the activator of each language. Unfortunately, it doesn't work for the IDE module, as we create the injector using without mixin in the ide standalone setup, i.e.
[code]
instead of
[code]

The p

[2017-11-03 17:01] cdietrich commented on #524
@JanKoehnlein  i see this code generated

[code]

[2017-11-03 17:19] cdietrich commented on #524
and if i have a look here:

https://github.com/eclipse/xtext-core/blob/99f6aacbae0e57dc4a43ff28f708a28d8a1e011e/org.eclipse.xtext.xtext.generator/src/org/eclipse/xtext/xtext/generator/XtextGeneratorTemplates.xtend#L289

it was always mixin in all released versions ever

[2017-11-03 17:20] cdietrich commented on #524
=> imho fixing the few bad places in the xtext codebase and we are fine.
users that created projects with betas cant call for api changes can they?

[2017-11-03 17:34] cdietrich commented on #489
`@since` still missing

[2017-11-03 17:35] cdietrich commented on #460
unfortunately still open

[2017-11-03 19:37] cdietrich commented on #522
nope that does not seem to help
=> maybe newer buildship version needed too ?!?

[2017-11-03 19:55] cdietrich commented on #522
https://github.com/eclipse/buildship/issues/601

[2017-11-04 06:41] waqasilyas opened #525 "STRINGValueConverter fails to recognize an invalid escape sequence"
The STRINGValueConverter allows an incomplete escape sequence to be successfully converted to a string. The test below should pass, but it fails:
[code]
Converting a string `"\\"` should cause an exception, but it returns `"\""` instead. Here is the fix;
[code]

[2017-11-04 06:53] cdietrich commented on #525
wont the invalid escape sequence be rejected by the Lexer already?
thus the question is: which grammar do you use?

[2017-11-04 07:03] cdietrich commented on #525
and the fix breaks other tests like (from `STRINGConverterTest`)

[code]

[2017-11-04 07:28] waqasilyas commented on #525
Hi,

Thanks for looking into this. Actually my grammar is very forgiving, and allows invalid strings and arbitrary escape sequences so my tests all passed with the change I suggested. Let me correct this and I will try to run the tests on xtext-core myself before sending in a new patch.

It does look like that the test might need to be updated. With new changes the error returned for this would be

[2017-11-04 08:15] waqasilyas commented on #525
I am attaching a new patch... this one modifies the above test slightly that was failing. And I also added my test from the issue description.
[code]

[2017-11-04 08:35] waqasilyas commented on #525
Another patch, slightly different. Giving preference to escape sequence error, over not closed error
[code]

[2017-11-04 09:28] cdietrich commented on #525
could you provide a pull request?

[2017-11-04 12:59] szarnekow commented on #525
Please keep in mind that existing test cases should usually stay untouched to avoid regressions. But as Christian pointed out, a PR would make it tremendously easier to assess the impact of your requested changes.

[2017-11-06 05:24] waqasilyas commented on #525
I have created a pull request:
https://github.com/eclipse/xtext-core/pull/526

[2017-11-06 07:48] meysholdt commented on #460
I'll take a look

[2017-11-06 12:41] tivervac opened #527 "ISE during formatting of long lambda with named parameter"
Trying to format the following Xtend code causes a [NPE](https://github.com/eclipse/xtext-core/files/1446202/XtendFormatting.txt)
[code]

[2017-11-07 08:08] JanKoehnlein commented on #524
Eclipse: https://github.com/eclipse/xtext-eclipse/pull/443
Core: https://github.com/eclipse/xtext-core/pull/523

[2017-11-07 12:07] RealTYPICAL opened #528 "[LSP] Deleting imported symbol doesn't remove it from ImportScope"
This issue was introduced in 2.13 and worked fine in 2.12.

A small example can be found at the following repo:

https://github.com/RealTYPICAL/MyDSL_Imports

Instructions to replicate are as follows:

1. Start the environment as specified in the README.md in the repo.
2. Delete the declaration from something.mydsl.
3. Verify that tooley.mydsl doesn't have error for non existent declaration.
4. Re

[2017-11-07 16:11] cwiscount opened #530 "Running a workflow with a customized genmodel results in errors in workspace"
This issue was introduced in 2.13.
I have set up a small example at the following repository: https://github.com/cwiscount/mydsl-emf-gen

After running the GenerateMyDsl.mwe2 workflow, there will be errors in two files
* MyDslSemanticSequencer.java
* MyDslParsingTest.xtend

The issues are on the import statements that are referencing classes generated with the EcoreGenerator.

I debugged this a bi

[2017-11-07 17:01] cdietrich commented on #530
hmmmm thats really bad. we changed this cause there are gazillions of people out there that dont use naming conventions

[2017-11-07 17:16] cdietrich commented on #530
So I wonder is simply using the two methods works

[2017-11-07 17:28] cwiscount commented on #530
Do you mean using the methods from the 2.12 release in the place where they were updated to getQualifiedPackageName()?

I was wondering that as well. If there is no suffix (i.e. it's empty), it should just return the package name returned by getQualifiedPackageName(). (I'm looking at addPackageSuffix in GenBaseImpl)

[2017-11-07 17:43] cdietrich commented on #530
No I mean pick the right ones from the tons there are in Genpackage/genClass. The question is which are the right ones

[2017-11-07 17:55] cwiscount commented on #530
Ah ok.
What exactly was broken with the getQualifiedInterfaceName() and getQualifiedPackageInterfaceName() methods?

[2017-11-07 18:05] cdietrich commented on #530
we need "package" and "type" name separately

[2017-11-07 18:27] cdietrich commented on #530
=> i wonder if

[code]

[2017-11-07 18:31] cwiscount commented on #530
I'm not sure if we can rely solely on getReflectionPackageName. What if we set the metadata and interface packages to different values?

I wonder if getQualifiedName(EClass, ResourceSet) should be using `GenModelUtil2.getGenClass(clazz, resourceSet).genPackage.interfacePackageName` instead?

[2017-11-07 18:38] cdietrich commented on #530
i have no idea what in EMF can be done to change the names around. do you have ideas whats possible?

so  maybe `getGenModel().isSuppressEMFMetaData() ? getQualifiedPackageClassName() : getReflectionPackageName()`  but what for the classes?

[2017-11-07 18:46] cdietrich commented on #530
but yes interfacePackageName looks good

[2017-11-07 18:54] cwiscount commented on #530
Here's a screen shot of the configs that deal with naming (I think this is all of them...I'm by no means an EMF expert)

![ecoregenmodelconfig](https://user-images.githubusercontent.com/33351210/32511584-34e5f8dc-c3c2-11e7-8d3d-3775c42b81b3.PNG)

So as far as the EMF Package Suffixes go, it looks like the following can be changed:
- Implementation
- Interface
- Metadata
- Presentation
- Provider
-

[2017-11-07 18:55] cdietrich commented on #530
i think we use interface and metadata only. i tought they where the same so far

[2017-11-07 19:00] cwiscount commented on #530
Yeah, I'm pretty sure you only use interface and metadata as well. I'm not sure how often those two packages are different in practice, but the option is there, so I'm sure somebody has the two of them configured differently. In most, if not all, of our projects, we have them configured to the same package.

[2017-11-07 19:04] cdietrich commented on #530
can you test if my fix solves your problem?

[2017-11-07 19:17] cwiscount commented on #530
Sure, but how would I go about doing that? Do I need a dev environment set up, or do you have a build that I can pull from? I'm not familiar with your development procedures at this point.

[2017-11-07 19:25] cdietrich commented on #530
can you test with e.g. maven/gradle? or eclipse only

[2017-11-07 19:43] cdietrich commented on #530
you could try to setup

http://services.typefox.io/open-source/jenkins/job/xtext-umbrella/job/master/419/artifact/build/p2-repository/
+
http://services.typefox.io/open-source/jenkins/job/xtext-core/job/cd_issue530/lastSuccessfulBuild/artifact/build/p2-repository/

[2017-11-07 20:40] cwiscount commented on #530
Just tested it out in my eclipse and the import issue is corrected. I also set the packages to all be different and it worked as expected, so the fix looks good. Thank you!

One side question, should the interface package be automatically added to the exported packages in the manifest of the core project? When I regenerated, I had errors in my tests plugin, but it was because the interfaces were n

[2017-11-07 20:42] cdietrich commented on #530
since you generate the package manually:no. it is up to EMF/you

[2017-11-07 20:43] cdietrich commented on #530
thx for testing

[2017-11-08 07:51] cdietrich commented on #528
hi i could not reproduce this with my helloworld example. unfortunately i dont get your example to build (mwe fails)

[2017-11-08 08:02] #530 closed

[2017-11-08 08:03] cdietrich commented on #530
Fixed in Xtext 2.14

[2017-11-08 08:36] cdietrich commented on #528
i could not reproduce it with your example when starting a build with your grammar manually ( wwith and without using xtype)

[2017-11-08 08:39] RealTYPICAL commented on #528
I just verified that my project works by checking it out and building it myself. Did you use some other IDE or some strange steps to try and get the project working?

Which OS are you using?

I am considering providing a video of the behaviour as verifying the project is working proved that the issue is there for me.

[2017-11-08 08:40] cdietrich commented on #528
=> did you freashly clone? you dont have .project files checked in nor manifests?
i dont use ide. just use command line (ide import creates .project files)
=> potentially we screw up the uri conversion once more and its not working windows

[2017-11-08 08:44] RealTYPICAL commented on #528
Yes. I freshly cloned.
Okay... I will try on another computer first before getting back to you.
Possibly some system specific setting that I've overlooked.

Thanks for your initial support.

[2017-11-08 08:45] cdietrich commented on #528
well the uri calculation stuff was changed about 10 times back and forth and sidewards and maybe it still is broken on windows. i used my own runner and client extension so that i can easily debug

[2017-11-08 08:52] cdietrich commented on #528
here is my socket based extension: https://github.com/itemis/xtext-languageserver-example/tree/master/vscode-extension
and the starter: https://github.com/itemis/xtext-languageserver-example/blob/master/org.xtext.example.mydsl.ide/src/org/xtext/example/mydsl/ide/RunServer.java

[2017-11-08 09:25] cdietrich commented on #528
`[file:///c%3A/Users/dietrich/git/MyDSL_Imports/mydsl/workspace/src/something.mydsl]` looks very bad as uri

[2017-11-08 09:34] kittaakos commented on #528
Why do you think it looks bad?

[2017-11-08 09:35] cdietrich commented on #528
cause at some point the uri back and forth calculation ends up with an uri without that `c%3A`

[2017-11-08 09:38] cdietrich commented on #528
e.g. the index state contains

`{file:///c:/Users/dietrich/git/MyDSL_Imports/mydsl/workspace/src/something.mydsl=org.eclipse.xtext.resource.persistence.SerializableResourceDescription@6e1d4ee4, file:///c%3A/Users/dietrich/git/MyDSL_Imports/mydsl/workspace/src/something.mydsl=org.eclipse.xtext.resource.persistence.SerializableResourceDescription@248b29b3, file:///c:/Users/dietrich/git/MyDSL_Imports

[2017-11-08 09:45] kittaakos commented on #528
That is inconsistent. Is there a thing I assist you with issue?

[2017-11-08 09:48] kittaakos commented on #528
I still believe, this is the preferred format on Windows: `file:///c%3A/Users/userName`.

[2017-11-08 09:50] cdietrich commented on #528
hmmm have never seen this in my emf experience back then when reg. using windows.
yes analyzing on a windows vm is very painful.

i assume that when we do the inital build we create uris for the files in the directory that look different from the ones we use at didChange

[2017-11-08 09:55] kittaakos commented on #528
That is correct. But the LSP uses that format.

@akosyakov, could you please confirm this? Thank you!

[2017-11-08 09:56] cdietrich commented on #528
yes. nut at some point we cannot deal with that. the question is which one

[2017-11-08 10:04] RealTYPICAL commented on #528
Just FYI. I committed the .project files to the repository just in case you still need the hello world project.

[2017-11-08 10:10] cdietrich commented on #528
e.g. ProjectManager.doInitialBuild creates uris with file:///C:/.....

[2017-11-08 10:34] cdietrich commented on #528
i wonder if we should do something like

[code]

[2017-11-08 12:20] cdietrich commented on #528
@RealTYPICAL could you do some tests with Xtext `2.14.0-SNAPSHOT` consumed from `http://services.typefox.io/open-source/jenkins/job/xtext-core/job/cd_issue528/lastSuccessfulBuild/artifact/build/maven-repository/`

[2017-11-08 12:22] RealTYPICAL commented on #528
It's working properly. Thanks very much for your support.

[2017-11-08 12:31] cdietrich commented on #527
am not getting a npe but

[code]

[2017-11-08 12:43] tivervac commented on #527
That's the same I got, got confused because the message mentions null:
org.eclipse.xtext.ui.editor.formatting2.ContentFormatter$FormattingUnitOfWork  - Error formatting platform:/resource/com.sigasi.hdt.vhdl.ui/src/com/sigasi/hdt/vhdl/ui/builder/test.xtend: null

[2017-11-08 12:51] cdietrich commented on #527
here is the trace that adds an additional replacer:

[code]

[2017-11-08 13:24] cdietrich opened #533 "[LSP] Fat Jars: Dont Exclude xmi, xtextbin and tokens"
this files might be actually needed by xtext

[2017-11-08 13:27] cdietrich commented on #533
cc @cwehrheim

[2017-11-08 20:38] cdietrich opened #534 "[Grammar] formatting of @Override is bad"
[code]

[2017-11-08 21:13] cdietrich commented on #533
fixed in 2.14

[2017-11-08 21:13] #533 closed

[2017-11-08 21:17] cdietrich commented on #534
fixed in 2.14

[2017-11-09 11:00] kthoms opened #537 "[Serializer] Add null guard"
When a null reference is passed into Serializer#serialize a NPE is raised in ConcreteSyntaxValidator. It would be better to check this invalid argument up front.

The stack trace shows:
[code]

[2017-11-09 18:47] miklossy commented on #315
I think this issue could be closed, since the PR has been already merged into master.

[2017-11-09 18:48] meysholdt commented on #315
agree

[2017-11-09 18:48] #315 closed

[2017-11-10 12:44] ckulla opened #540 "Export Junit4Fragment2 and SimpleProjectWizardFragment2 from org.eclipse.xtext.xtext.generator"
I wanted to created my own StandardLanguage like language generator configuration. The classes Junit4Fragment2 and SimpleProjectWizardFragment2  are not accessible due to missing export entries in the MANIFEST.MF of org.eclipse.xtext.xtext.generator.

Furthermore in needed to change the error level of the discouraged access warning to all the other fragments. You should consider to remove the "x-i

[2017-11-10 13:00] cdietrich commented on #540
Fixed in 2.14

[2017-11-10 13:00] #540 closed

[2017-11-12 22:54] tomaswolf opened #542 "[Compare] syntax coloring in CompareEditor doesn't work with Xtext 2.13.0"
This is caused by the addition of the `org.eclipse.core.contenttype.contentTypes` binding in [ImplicitFragment.xtend](https://github.com/eclipse/xtext-core/blob/master/org.eclipse.xtext.xtext.generator/src/org/eclipse/xtext/xtext/generator/ImplicitFragment.xtend) in issue #470.

To fix, one needs to generate content-type bindings for `org.eclipse.compare.contentViewers` and `org.eclipse.compare.co

[2017-11-13 05:46] cdietrich commented on #542
Cc @kthoms

[2017-11-13 10:27] andreasmuelder commented on #534
thanks :)

[2017-11-13 14:47] NicolasRouquette opened #543 "How to correctly modify the order of containment references in an XTextEditor?"
There is a long description of the problem here:
https://www.eclipse.org/forums/index.php?t=msg&th=1089958&goto=1776135&#msg_1776135

The gist of it is as follows:

1) The objective is to re-order contained elements in a DSL-specific resource:

- via a service API to provide re-ordering support for model-to-model transformations in general
- via a context menu in the DSL-specific XTextEditor that

[2017-11-13 15:02] meysholdt commented on #543
I Nicolas, thank you for your report. In case you're using Xtext 2.13, can you try to bind your `org.eclipse.xtext.ui.editor.model.edit.ITextEditComposer` to `org.eclipse.xtext.ui.editor.model.edit.ChangeSerializerTextEditComposer` in your UIModule?
This hooks in a new implementation of the serializer that's specialized in use cases such as yours.

Regarding your questions:
* Yes, the right protoc

[2017-11-13 15:32] NicolasRouquette commented on #543
Thanks @meysholdt  for the quick reply!

We are currently using Xtext 2.12 with Neon; I'll look into updating to Xtext 2.13.

Regarding this binding, I presume you're suggesting something like this

[code]

[2017-11-13 15:38] knutwannheden commented on #543
Quite possibly unrelated, but this reminds me of a similar bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=446244

[2017-11-13 15:45] meysholdt commented on #543
Hi @NicolasRouquette, yes, that's exactly the binding I had in mind.
hi @knutwannheden yes, that's related. Also #510 is related.

[2017-11-13 15:56] NicolasRouquette commented on #543
On surface, this looks very similar to what I had.

In my case, I became suspicious when I noticed that, during formatting,
there was an `IHiddenRegion` that had no whitespace token associated to it!

Is the Serializer able to handle an `IHiddenRegion` without any token?
It seems to me that there are two options:
- This is a bug: an `IHiddenRegion` should always have at least one token.
- This is

[2017-11-13 16:04] meysholdt commented on #543
That's not a bug! `IHiddenRegion` represents the region between two Semantic Tokens regardless of whether there is whitespace between them or not. Always having a `IHiddenRegion` makes it much easier to implement a formatter for one's language. Example: `if(true)` has a `IHiddenRegion` without whitespace and length=0 between the `if` and the `(`.

It's the formatters responsibility to insert white

[2017-11-13 17:22] NicolasRouquette commented on #543
Hum... I tried several things with my DSL `AbstractFormatter2` to make sure there would be WS before/after various places. That didn't prevent the problem.

I'm not sure whether the missing WS is a problem in the current `org.eclipse.xtext.formatting2.AbstractFormatter2.postProcess(IFormattableDocument, List<ITextReplacement>)` implementation in XText 2.12 or if it is something that needs to be do

[2017-11-13 19:04] tomaswolf commented on #542
I didn't override the compare fragment for my use case but just added the binding in the UI bundle's plugin.xml. The [Eclipse Help](https://help.eclipse.org/mars/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Forg_eclipse_compare_contentMergeViewers.html) on these extension points tells what to add. Basically link the language's content type ID to the viewer ID usi

[2017-11-13 19:14] cdietrich commented on #542
That what I meant. How does your plugin.xml look like after your change

[2017-11-13 19:19] tomaswolf commented on #542
What's so unclear about the Eclipse Help?
[code]
and likewise for `contentViewers`. Try it out with xtend -- syntax coloring in the compare editor doesn't work for xtend, too.

[2017-11-13 19:38] kthoms commented on #542
I think Christian meant that if you have a working example it is easier for us to do the fix. Thanks for the hint! We will fix it soon.

[2017-11-15 09:04] NDuemmel opened #544 "Traced generation - Configurable issue code is not registered"
Hello,

I am writing a DSL which is generated to Java.
Whenever I save my DSL file I get the following error:

Everything seems to work fine however, the Java code is generated.
If several classes are generated I get this error several times.
For example the following code generates two classes:

On save I get following errors:

Here is an excerpt from the generator:

AthenaUtilGenerator.generateU

[2017-11-15 09:15] brodo commented on #542
I'm working on it and will submit a PR today.

[2017-11-15 09:38] cdietrich commented on #544
i am not sure how to fix this. move the ignore pref for copy deps to xtext-core? @spoenemann @svenefftinge

[2017-11-15 10:34] cdietrich commented on #537
Fixed in 2.14

[2017-11-15 10:34] #537 closed

[2017-11-15 12:01] #542 closed

[2017-11-15 13:55] NDuemmel opened #548 "IllegalStateException when formatting"
Hello,

Im getting following issue:

when calling the formatter on this code:
[code]

The formatter works fine except for similar cases like in the code above.
In such cases the execution stops with the error before I even get into the formatter.
Xtend IDE and Xtext Complete SDK are updated to version 2.13.0.v20171020-0920.
The code generation works fine (with traced codegen).

The formatter is th

[2017-11-15 13:58] meysholdt commented on #548
Hi Nikita, thank you for reporting this. Can you also share the grammar rules that are needed to reproduce the exception from above?

[2017-11-15 14:00] NDuemmel commented on #548
Here is the grammar:
[code]

[2017-11-16 08:13] cdietrich opened #550 "AbstractInternalAntlrParser.createAllRules should be cached."
AbstractInternalAntlrParser.createAllRules is done for each and every time a parser is created.
so in a code base with many files and bigger grammars it might lead to a significant decrease in parsing performance. e.g. when parsing 10000 empty xtend classes it is consuming nearly 50% of the parse time. (3.3s of 7.8s measured on my machine).
we should consider make this cachable by default.

[2017-11-16 08:14] cdietrich commented on #550
@szarnekow is the way we create the parsers considered to be stable or can we rework the parser creation.

[2017-11-18 08:55] akosyakov opened #552 "Xtext LS does not exit if the parent process is not alive"

[2017-11-18 09:28] cdietrich commented on #552
@akosyakov what do you exactly do. do you call the exit notification?

[2017-11-18 09:31] akosyakov commented on #552
kill the express server with monaco for example and see the xtext ls hanging, without closing the page

[2017-11-18 09:32] cdietrich commented on #552
hmmmm but if a third party kills processes its their fault isnt it?

[2017-11-18 09:33] akosyakov commented on #552
not on windows

[2017-11-18 09:34] cdietrich commented on #552
i cannot test this. how can one detect parent processes on windows? and track them?

[2017-11-18 09:36] akosyakov commented on #552
it is the part of the LSP, see `InitializeParams.parentId`, we used to have this code before migrating to lsp4j, I cannot remember the name of the old project to look up the code

[2017-11-18 09:36] cdietrich commented on #552
https://github.com/typefox/ls-api

[2017-11-18 09:43] cdietrich commented on #552
and i wonder if this really should be implemented in each and every implementor of LanguageServer or if LSP4j should provider a general solution

[2017-11-18 09:45] akosyakov commented on #552
good question, it is hardwired in vscode-jsonrpc

[2017-11-18 09:46] akosyakov commented on #552
we can try to check similarly to java ls: https://github.com/eclipse/eclipse.jdt.ls/blob/a85b88e3d178e19a8885dd9d0c22fddf89aca83a/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/LanguageServer.java#L39-L66

[2017-11-18 21:33] cdietrich commented on #528
Fixed in 2.14

[2017-11-18 21:33] #528 closed

[2017-11-20 15:36] meysholdt opened #553 "[ChangeSerializer] When Related Resources don't exist, fail gracefully"
this can happen if the Xtext index contains outdated information

currently, serialization fails completely because the files can't be loaded. Better: Log warning, skip file.

[2017-11-22 11:17] #460 closed

[2017-11-22 12:26] FStolte opened #555 "TextRegionsToString handles windows line endings incorrectly"
In `org.eclipse.xtext.formatting2.debug.TextRegionsToString::quote(String region, String maxLength)`, strings that exceed the maxLength are supposed to be shortened to exactly maxLength. In that case, the last three characters are also replaced with dots "...".

The dots are currently not added if there are windows line endings in the string. This also causes one test to fail when executed on a wi

[2017-11-22 16:07] FStolte opened #557 "RegionAccessBuilderTest fails on windows"
The test `RegionAccessBuilderTest.testMultiWhitespace2` fails when executed on a windows machine. The source for this error seems to be line endings, similar to issue #460.

The actual output from the assert statement contains the carriage return character twice, while the expected output does not:
![failuretrace](https://user-images.githubusercontent.com/18054693/33137112-4f6cde6e-cfa7-11e7-8864-

[2017-11-22 16:23] cdietrich commented on #557
am not sure if

[code]

is an appropriate fix. @meysholdt what do you think?

[2017-11-22 16:24] cdietrich commented on #555
@kthoms  anything left for this issue?

[2017-11-22 16:26] kthoms commented on #555
Fixed in 2.14

[2017-11-22 16:26] #555 closed

[2017-11-23 07:10] cdietrich commented on #548
@NDuemmel your grammar is ambigous. what did you configure to get that running?

[2017-11-23 09:26] spoenemann commented on #544
I have no idea, too...

[2017-11-23 13:32] NDuemmel commented on #548
I put this in the mwe
[code]

[2017-11-23 15:01] cdietrich opened #558 "[LSP] Execute Command may not return null"
if execute command returns null, we get the following in vscode

[code]

i propose to return an object instead of null.

[2017-11-24 10:05] knutwannheden commented on #521
Looking at this again I just noticed that the code doesn't actually loop over the TreeIterator. Somehow I must have seen a "while" keyword on line 44 rather than an "if" :astonished:. But it does look like a rather roundabout way to access the resource's first element...

[2017-11-24 11:19] NDuemmel commented on #548
I have removed the backtrack = true option and edited the grammar in order to remove any ambiguity/left recursion, the problem from the first post is still there.

Here is the new grammar:

[code]

[2017-11-24 12:29] cdietrich commented on #500
Fixed in 2.14

[2017-11-24 12:29] #500 closed

[2017-11-24 14:54] svenefftinge commented on #558
The protocol says it can be null | any.
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#execute-a-command
Is it an lsp4j issue that we cannot distinguish between undefined field and value `null`? (cc @spoenemann)

[2017-11-24 14:56] cdietrich commented on #558
we decided to do so. see the discussion in #240

[2017-11-24 14:58] cdietrich commented on #558
Response Message sent as a result of a request. If a request doesn't provide a result value the receiver of a request still needs to return a response message to conform to the JSON RPC specification. The result property of the ResponseMessage should be set to null in this case to signal a successful request.

[2017-11-24 15:48] svenefftinge commented on #558
It's not sound though. This change suggests that lsp4j can distinguish if we use `https://github.com/eclipse/lsp4j/commit/35607f80d64abd42d77f33ed16f0a2a640d5ffec` (I am not sure, though).
Just in case the command has a semantic on null vs. empty object.

[2017-11-24 15:55] cdietrich commented on #558
yes if lsp4j can handle this inbound it should be able to handle it outbound as well

[2017-11-27 08:00] spoenemann commented on #558
I'd say it's a Java issue :-D

[2017-11-27 08:04] cdietrich commented on #558
so do you think we need a "NULL" literal/constant in lsp4j and do a special treatment for it?

[2017-11-27 09:18] spoenemann commented on #558
See eclipse/lsp4j#137.

[2017-11-28 08:57] cdietrich commented on #557
fixed in 2.14

[2017-11-28 08:57] #557 closed

[2017-11-28 14:02] cdietrich commented on #509
Fixed in 2.14

[2017-11-28 14:02] #509 closed

[2017-11-29 07:51] #558 closed

[2017-11-29 07:52] cdietrich commented on #558
thx @spoenemann

[2017-11-29 08:22] cdietrich commented on #527
see https://dev.eclipse.org/recommenders/committers/aeri/v2/#!/problems/5a1d9313e4b02aaf8b215b2c as well

[2017-11-30 07:51] kthoms commented on #544
Nikita, could you confirm that without generating with tracing the error does not appear? Or other way around, could you reproduce it with a sample project you could share? You could install the domainmodel example with the wizard and modify it.
We can't reproduce your problem so far.

[2017-11-30 07:52] cdietrich commented on #544
i can ;)

[2017-11-30 07:55] cdietrich commented on #544
code example e.g. here https://github.com/itemis/xtext-debug-example-no-xbase

[2017-11-30 09:38] cdietrich commented on #544
Fixed in 2.14

[2017-11-30 09:38] #544 closed

[2017-11-30 12:41] cdietrich commented on #359
@szarnekow what do you think? and can we still change the contract?

[2017-11-30 13:23] szarnekow commented on #359
I'd go for consistently throwing a TraceNotFoundException in the different implementations of ITraceRegionProvider. EclipseResourceFileSystemAccess2.updateTraceInformation could simply be adjusted to handle that contract correctly.

[2017-11-30 13:40] andreasmuelder commented on #359
+1

[2017-12-01 08:10] cdietrich commented on #359
@szarnekow how to handle the exception correct? can the trace file be empty? write no trace file/delte it?

[2017-12-01 09:54] szarnekow commented on #534
Looks like there are still some issues with the formatting of annotations

[2017-12-01 09:55] cdietrich commented on #534
hmmm which grammar did you test with

[2017-12-01 09:56] szarnekow commented on #534
[code]

becomes

[code]

[2017-12-01 10:11] cdietrich commented on #534
are you sure you use xtext 2.14?

[2017-12-01 10:15] #534 closed

[2017-12-01 10:16] szarnekow commented on #534
My fault - we tried on two different boxes - both had an oomphed 2.13

[2017-12-01 11:16] cdietrich commented on #359
Fixed in Xtext 2.14

[2017-12-01 11:16] #359 closed

[2017-12-02 08:44] cdietrich commented on #312
@JanKoehnlein can we consider this fixed?

[2017-12-02 12:33] JanKoehnlein commented on #312
I'd love to wait until https://github.com/eclipse/xtext-core/pull/523 is resolved. I'd have a look at that next week.

[2017-12-06 07:32] cdietrich commented on #520
@JanKoehnlein can this issue be closed now?

[2017-12-06 07:57] JanKoehnlein commented on #520
Fixed

[2017-12-06 07:57] #520 closed

[2017-12-06 07:59] JanKoehnlein commented on #524
Fiexed

[2017-12-06 07:59] #524 closed

[2017-12-06 08:00] JanKoehnlein commented on #312
Fixed

[2017-12-06 08:00] #312 closed

[2017-12-06 08:25] kthoms opened #568 "[LiveShadowedChunkedContainerTest] Add tests for resource rename and deletion"
Follow-up issue for #312: In [PR#523](https://github.com/eclipse/xtext-core/pull/523#pullrequestreview-81333931) it was requested to add tests for  a resource rename and resource deletion.

[2017-12-06 08:58] JanKoehnlein commented on #568
https://github.com/eclipse/xtext-core/pull/567

[2017-12-06 09:04] kthoms commented on #568
Thanks, Jan.

[2017-12-06 13:11] szarnekow opened #570 "Missing error on invalid Override in grammar"
`@Override` in a grammar without a super grammar does not produce any errors / warnings.

[2017-12-06 13:22] dhuebner commented on #570
Should be an error

[2017-12-06 13:28] szarnekow commented on #570
Thanks for clarifying.

[2017-12-06 13:30] dhuebner commented on #570
You are welcome :)

[2017-12-06 16:03] #568 closed

[2017-12-07 11:03] cdietrich commented on #517
places to look at

- `org.eclipse.xtext.xbase.ui.builder.XbaseBuilderPreferenceAccess.fromCompilerSourceLevel(String)`
- `org.eclipse.xtext.xbase.compiler.InMemoryJavaCompiler.toClassFmt(JavaVersion)`
- `org.eclipse.xtext.xbase.testing.InMemoryJavaCompiler.toClassFmt(JavaVersion)`
- `org.eclipse.xtext.java.resource.JavaDerivedStateComputer.toJdtVersion(JavaVersion)`
- `org.eclipse.xtext.xbase.idea

[2017-12-07 11:03] cdietrich commented on #517
having an enum is bad as well. we would need to ship a new xtext version every 6 months

[2017-12-07 14:36] cdietrich opened #571 "Fix Broken Tests"
http://services.typefox.io/open-source/jenkins/job/xtext-core/job/master/94/testReport/junit/

there are a few Modules2.mixin missing.
and FileAwareTestLanguageImportTest is failing cause there is no chunkedresourcedescriptions

[2017-12-07 14:36] cdietrich commented on #571
@JanKoehnlein could you please have a look

[2017-12-07 14:43] cdietrich commented on #571
[xtext-core.patch.txt](https://github.com/eclipse/xtext-core/files/1539471/xtext-core.patch.txt)

[2017-12-07 14:51] cdietrich commented on #571
[xtext-core2.patch.txt](https://github.com/eclipse/xtext-core/files/1539491/xtext-core2.patch.txt)

[2017-12-07 15:46] JanKoehnlein commented on #571
Patches are fine. Please commit. Sorry for being sloppy.

Why didn't you use a PR? That's a bit easier to review.

[2017-12-07 16:08] #571 closed

[2017-12-11 20:35] cdietrich commented on #522
using the latest buildship and gralde 4.4 seems to help.
but i found this one when really using java 9
https://github.com/xtext/xtext-gradle-plugin/issues/101

[2017-12-12 11:18] blueneogeo commented on #159
Is there a way I can help? I would really like to see Xtend in VSCode.

[2017-12-12 11:24] cdietrich commented on #159
You can provide a pr

[2017-12-12 18:07] spoenemann commented on #159
AFAIK the Eclipse-independent IDE services for Xbase and Xtend are not really mature yet.

See
https://github.com/eclipse/xtext-extras/tree/master/org.eclipse.xtext.xbase.ide
https://github.com/eclipse/xtext-xtend/tree/master/org.eclipse.xtend.ide.common

[2017-12-12 18:14] cdietrich commented on #159
the main problem is still to provide a proper classpath @spoenemann

[2017-12-13 09:36] cdietrich commented on #302
problem can no longer be reproduced in xtext 2.14

[2017-12-13 09:36] #302 closed

[2017-12-13 09:41] cdietrich commented on #522
increased version created by the wizard to 4.4
merge of fix to xtext gradle plugin and updating the version of the plugin is still outstanding.
same for the version increase of asm in maven/gradle

[2017-12-13 09:45] cdietrich commented on #521
since the code works correct ill close this issue

[2017-12-13 09:45] #521 closed

[2017-12-13 09:46] cdietrich commented on #464
i assume we should close this as "works as designed" @meysholdt @enikao what do you think

[2017-12-13 11:35] cdietrich opened #580 "[J9][Wizard][Maven] use newer version of maven assembly/war plugin"
adapt wizard and tests
possibly adjust usages in xtext code base itself

[2017-12-13 11:39] cdietrich commented on #570
fixed in 2.14

[2017-12-13 11:39] #570 closed

[2017-12-13 13:30] cdietrich opened #582 "[J9] Wizard + gradle build: update to 1.0.20 of xtext-gradle-plugin"

[2017-12-13 15:43] cdietrich commented on #582
update the xtext gradle plugin the wizard creates to 1.0.20
update the tests
update the version used in xtext gradle files

[2017-12-13 19:56] MarkRx opened #585 "java.lang.IllegalArgumentException: argument is not valid in current context"
I am getting an exception for some xtend code for a Jenkins plugin that should be valid. It may be getting confused on the complicated generics definition. See code below.

If I explicitly define the type of the "run" variable it works:

to

hudson.model.Run definition (2.7.1):
[code]

Gradle plugin: org.xtext:xtext-gradle-plugin:1.0.19
Xtend version: 'org.eclipse.xtend:org.eclipse.xtend.lib:2.12.

[2017-12-13 20:01] cdietrich commented on #585
see https://bugs.eclipse.org/bugs/show_bug.cgi?id=528739

[2017-12-14 09:50] cdietrich commented on #580
fixed in 2.14. thx @fstolte

[2017-12-14 10:35] #580 closed

[2017-12-14 10:54] cdietrich commented on #522
https://github.com/eclipse/xtext-extras/issues/211

[2017-12-14 12:44] cdietrich commented on #582
fixed in 2.14

[2017-12-14 12:44] #582 closed

[2017-12-14 15:20] RealTYPICAL opened #589 "[LSP] getImplicitImports isn't working as expected"
Hi,

I have been having some problems with ImportedNamespaceAwareLocalScopeProvider.getImplicitImports().

I have bound the class in the runtime module, overridden the method and returned a new array list of ImportNormalizers but for some reason when using the LSP it doesn't find the symbols.

When including the library into a generatedXtendMain and adding it as a resource it works as expected.

T

[2017-12-14 15:23] cdietrich commented on #589
where is you "main class" that works?

[2017-12-14 15:24] RealTYPICAL commented on #589
https://github.com/RealTYPICAL/MyDSL_Imports/tree/master/com.tool.small.mydsl/src/org/xtext/example/mydsl/generator

[2017-12-14 15:40] cdietrich commented on #589
without having a look at the code:
where do you package the mydsl lib folder into the jar?

[2017-12-14 15:43] RealTYPICAL commented on #589
Seems that it's not being packaged. Allow me to work a bit more on the example to demonstrate the behaviour.

[2017-12-14 16:22] RealTYPICAL commented on #589
sourceSets.main { java.srcDir 'mylib' }

sourceSets {
  main { output.resourcesDir = 'mylib' }
}

sourceSets.main {
  java.srcDir 'mylib'
}

I add these to my gradle file and they get packaged with the jar.

[2017-12-14 16:43] cdietrich commented on #589
no mylib

sure with the right path?

`	public val static LIB = "mydsl/lang/Core.mydsl"`

=>

[code]

[2017-12-14 17:22] cdietrich commented on #589
and: where do you call MyDslLib

[2017-12-14 18:03] cdietrich commented on #589
maybe you can try

[code]

[code]

// to be used as main class
[code]

[2017-12-15 10:20] RealTYPICAL commented on #589
That worked but is it really the right way to do this for LSP? I would have assumed that LSP and the eclipse IDE versions would have similar behaviour in terms of getImplicitImports in this regard?

Thanks very much for your support so far.

[2017-12-15 10:26] cdietrich commented on #589
no,

imports by means of eclipse is:
put the implicit libary on the classpath of the model project
and the mechanism of the "i understand what a project is"
the knows and pick up the files, and when you import it,
it can be found.

so it needs to be treated on the "what is a project side" inside lsp as well and here comes my workaround and this open issue: https://github.com/eclipse/xtext-core/iss

[2017-12-17 16:51] svenefftinge commented on #589
So yes, the default implementation would just scan the folder the language server is initialized with.
We don't have other strategies atm. Generic ones for Java (base don gradle, maven or .classpath) would move this a bit closer to the default behavior from Eclipse.

[2017-12-28 13:40] cdietrich opened #596 "[J9] Update to Tycho 1.1 (or later)"
We need to update to tycho 1.1 (or later) once available to support J9 with tycho builds as well.

[2017-12-28 13:43] cdietrich commented on #596
https://bugs.eclipse.org/bugs/show_bug.cgi?id=514471

[2018-01-03 12:17] kthoms commented on #596
Shall we use 1.1-SNAPSHOT already? Eclipse Builds do this too.

[2018-01-03 12:18] cdietrich commented on #596
last time i looked problem was still there with 1.1.0-SNAPSHOT so it wont help. maybe you can use it in our reference builds so we can see when its fixed

[2018-01-04 07:40] sergio-otero opened #597 "Quickfix NullPointerException in PartialSerializer"
https://www.eclipse.org/forums/index.php/m/1779172

I'm having problems in Xtext 2.13 with quickfixes that i didn't have in 2.12, i suppose related to the changes applied to support multiple quickfix resolutions.

The problem appears when a node A is added to the AST tree and then another node is added as a child of A

[code]

The problem happens with a single quickfix, but it can be avoided someh

[2018-01-04 09:58] cdietrich commented on #597
cc @meysholdt @dhuebner

[2018-01-08 13:30] cdietrich opened #600 "NPE in TokenSequencePreservingPartialParsingHelper.isBrokenPreviousState"
[code]

@szarnekow do you have any idea what could cause this. and should there be a null guard?

[2018-01-08 13:34] cdietrich commented on #600
in the same ,log i see

[code]

[2018-01-08 13:46] cdietrich commented on #600
additionally i see org.eclipse.emf.ecore.resource.impl.ResourceImpl.getContents() beeing null.
this seems to be a concurrency issue.

[2018-01-09 13:19] cdietrich commented on #600
see https://bugs.eclipse.org/bugs/show_bug.cgi?id=529574 as well

[2018-01-09 14:46] cdietrich opened #602 "[J9][Wizard] Use latest Oxygen Release in Target"
[J9][Wizard] Use latest Oxygen Release in Target
http://download.eclipse.org/releases/oxygen/201712201001

[2018-01-09 15:12] #602 closed

[2018-01-09 15:43] cdietrich opened #605 "[J9][Wizard] Surefire UI Tests dont run"
something like
[code]
helps but i am not sure if this should not be fixed in tycho itself
https://dev.eclipse.org/mhonarc/lists/tycho-user/msg07844.html

[2018-01-09 16:41] cdietrich commented on #605
If we have to take the all-modules path then we have to make sure its active only if J9 or later is selected in the wizard cause of `Unrecognized option: --add-modules=ALL-SYSTEM`

[2018-01-09 18:44] cdietrich commented on #605
The Tycho guys say they prefer not to fix this in tycho so we need to go the property way

[2018-01-09 21:52] cdietrich opened #608 "local test failures in org.eclipse.xtext.parser.indentation.tests when called gradle"
i have local test failures in  org.eclipse.xtext.parser.indentation.tests when called gradle.

[2018-01-09 22:02] cdietrich commented on #608
[code]

[2018-01-11 08:22] kthoms opened #609 "[J9][wizard] Maven compiler settings"
The wizard creates Maven compiler entries as follows in the parent pom.xml:
[code]

These entries are not required when a Tycho-only build is used.

[2018-01-11 09:10] cdietrich commented on #609
which version of the wizard do you use?

[2018-01-11 09:12] cdietrich commented on #609
am getting
[code]
on master

[2018-01-11 09:57] kthoms commented on #609
You are right, the compiler settings change when J9 is selected.
Then the only issue is to remove the entries for Tycho-only builds.

[2018-01-11 11:24] cdietrich commented on #605
Fixed in 2.14

[2018-01-11 11:24] #605 closed

[2018-01-12 08:33] cdietrich commented on #608
java main showing (maybe) the cause

[code]

[2018-01-12 09:26] cdietrich commented on #609
i am not really sure if we should remove this. see https://eclipse.org/tycho/sitedocs/tycho-compiler-plugin/compile-mojo.html

[2018-01-12 12:46] kthoms commented on #609
Thought that Tycho uses BREE. We should leave as is if in doubt, and does not harm.

[2018-01-12 12:46] #609 closed

[2018-01-12 15:48] BalzGuenat opened #611 "two javadoc links are broken"
https://github.com/eclipse/xtext-core/blob/94e99370a6a4b399a46b09ed0ab4fa9a34228240/org.eclipse.xtext/src/org/eclipse/xtext/formatting2/AbstractFormatter2.java#L134

[2018-01-15 11:34] cdietrich commented on #608
@szarnekow it would be nice if you could find the time to have a look

[2018-01-15 12:10] cdietrich commented on #464
since there we no objections ....

[2018-01-15 12:10] #464 closed

[2018-01-15 12:11] cdietrich commented on #522
Fixed in 2.14

[2018-01-15 12:11] #522 closed

[2018-01-15 13:12] cdietrich commented on #597
code does

[code]
so that SerializeRecursiveStrategy is initialized with null

[2018-01-15 13:36] cdietrich commented on #597
to reproduce with our tests

[code]
[code]

@meysholdt do you have any hints`?

[2018-01-15 13:49] cdietrich commented on #596
tycho change is merged and looks good. https://dev.eclipse.org/mhonarc/lists/tycho-dev/msg01488.html looks like they'll release very soon

[2018-01-15 13:52] cdietrich commented on #552
@svenefftinge @akosyakov how shall we proceed with this?

[2018-01-15 20:15] svenefftinge commented on #552
We need to have that code either in Xtext or LSP4J. If in LSP4J it should be some optional thing.
Both places are fine with me.

[2018-01-16 08:03] kthoms opened #617 "Typo in class name AbstractLanguageServerTest$WorkspaceSymbolConfiguraiton"
Must be WorkspaceSymbolConfigura**ti**on

[2018-01-16 08:08] cdietrich opened #618 "[Wizard] Consume Sonatype OSS in Gradle for Snapshots as well as we do with maven"
https://oss.sonatype.org/content/repositories/snapshots

[code]

[2018-01-16 08:47] cdietrich commented on #618
@kthoms the wizard already contains

[code]

does that not work or did you remove the code ?

[2018-01-16 09:32] cdietrich commented on #618
seems to work for me.
no idea how you created the sample projects ...

[2018-01-16 09:32] #618 closed

[2018-01-18 08:41] cdietrich commented on #608
Fixed in 2.14

[2018-01-18 08:41] #608 closed

[2018-01-22 13:22] cdietrich opened #622 "RequestManagerTest is flaky"
java.util.concurrent.CompletionException: java.lang.AssertionError: expected:<1> but was:<0>
	at java.util.concurrent.CompletableFuture.reportJoin(CompletableFuture.java:375)
	at java.util.concurrent.CompletableFuture.join(CompletableFuture.java:1934)
	at org.eclipse.xtext.ide.tests.server.concurrent.RequestManagerTest.testRunWriteAfterRead(RequestManagerTest.java:164)
	at sun.reflect.NativeMethod

[2018-01-22 13:23] cdietrich commented on #622
@akosyakov could this be connected to your recent change?

[2018-01-22 14:22] cdietrich commented on #622
http://services.typefox.io/open-source/jenkins/job/xtext-core/job/master/137/

[2018-01-22 14:24] akosyakov commented on #622
@cdietrich yes, it is probably related, i will have a look this week, thanks for the link

[2018-01-22 15:05] NDuemmel commented on #548
Hello,

I have removed all left recursion from the grammar, and its working fine now.

Regards,
Nikita.

[2018-01-23 06:17] cdietrich commented on #611
Fixed in 2.14

[2018-01-23 06:17] #611 closed

[2018-01-24 12:20] cdietrich opened #623 "[J9] Consider making "ALL-SYSTEM" in tests dependent on jdt via profile"
see https://dev.eclipse.org/mhonarc/lists/tycho-user/msg07858.html (and follow ups)

this would allow building the domainmodel example and other ui-testy stuff with java 9 and java 8

[2018-01-26 06:59] cdietrich commented on #623
idea is

have two properties

- j9stuff
- macstuff

set them via profile
have only one configuration for surefire

[2018-01-26 07:04] cdietrich commented on #597
ping @meysholdt

[2018-01-26 08:57] cdietrich commented on #550
we have usecases with 400k model files. in this case we win about 200sec on this

[2018-01-26 13:05] cdietrich commented on #550
Fixed in 2.14

[2018-01-26 13:05] #550 closed

[2018-01-28 10:25] cdietrich commented on #449
needs testing with the changed emf version https://bugs.eclipse.org/bugs/show_bug.cgi?id=521642

[2018-01-30 07:47] xcariba opened #625 "[LanguageServer] ContentAssist ignores snippets in LSP"
In ContentAssistEntry there are `editPositions` field and `KIND_SNIPPET` constant. LSP4J supports snippets in `CompletionItem`, but `ContentAssistService.toCompletionItem` method does not set them.
You can set `InsertTextFormat.Snippet` and `insertText` to use something like `${1|public,private,protected|} static ${2:void} ${3:main}()$0`. It works in VSCode and allows you to navigate using tab and

[2018-01-30 16:25] cdietrich commented on #623
@kthoms anything left?

[2018-01-30 16:31] kthoms commented on #623
Is fixed now.

[2018-01-30 16:31] #623 closed

[2018-01-30 16:52] kthoms opened #627 "Wizard cannot compute Xtext version in dev mode"
Steps to reproduce:
- Create a new Xtext project with Maven build
- in the parent pom.xml there is the entry `<xtext-version>unspecified</xtext-version>`

It is expected that the `unspecified` is replaced by the current version with `-SNAPSHOT` qualifier. For releases, the qualifier is stripped.

It should be possible to derive the right version from the Manifest's Bundle-Version attribute.

[2018-01-30 17:09] kthoms commented on #627
Yes, but it should also work in devenv, shouldn't it?

[2018-01-30 17:13] cdietrich commented on #627
yes but you should change this only if Maven-Version returns unspecfied for the reasons i explained in the pr

[2018-02-01 13:41] Racab opened #629 "ProposalProvider fails due to FollowElementComputer.computeFollowElements misbehaviour"
In some very specific and strange circumstances (see tests below), the content assist does not work anymore.
While debugging, I found that in the method ContentAssistContextFactory.doCreateContexts(			INode, INode, String, EObject, Collection<FollowElement>), the call to FollowElementComputer.computeFollowElements 'returns' an empty list of AbstractElement, preventing any possible proposal provide

[2018-02-02 08:43] cdietrich commented on #617
hmm would that be an api change?

[2018-02-02 08:46] szarnekow commented on #617
It doesn't have a since tag so far. And there are not references to this type on github (apart from Xtext clones)

[2018-02-02 08:47] cdietrich commented on #617
ok so id prefer a change ...

[2018-02-02 08:55] cdietrich commented on #600
@szarnekow any idea what to do about this. unfortunately i dont know how to reproduce

[2018-02-02 09:22] szarnekow commented on #600
The parse result can be null in general (though it's unlikely in a consistent setup). `isBrokenPreviousState` should certainly return true if the parse result is null. Is the second trace from the same user / language impl?

[2018-02-02 09:29] cdietrich commented on #600
yes both traces were from the same eclipse instance

[2018-02-02 09:39] szarnekow commented on #600
If there is a chance to contact the user, that could help. Looks like some customising / configuration is broken.

[2018-02-02 09:41] cdietrich commented on #600
i saw this locally. but could not reproduce later.

[2018-02-02 10:26] cdietrich commented on #617
Fixed in 2.14

[2018-02-02 10:26] #617 closed

[2018-02-02 12:27] gallandarakhneorg opened #631 "Make the new renaming infrastructure compatible with Xbase languages."
According to the change log of Xtext 2.13, a new renaming infrastructure is provided, based on `IChangeSerializer`.

According to the documentation of RefactorElementNameFragment2, this new infrastructure cannot be used for Xbase-based languages.

According this [dicussion](https://www.eclipse.org/forums/index.php/t/1091484/), the core problem is related to the derived state, which is ignored by t

[2018-02-02 13:17] cdietrich commented on #627
Fixed in 2.14

[2018-02-02 13:17] #627 closed

[2018-02-02 22:39] #596 closed

[2018-02-05 07:22] cdietrich commented on #449
@kthoms @szarnekow who of you could evaluate this. am still quite busy

[2018-02-07 08:55] szarnekow commented on #449
@cdietrich  I did not find the time to look into this yet.

[2018-02-07 16:09] knutwannheden commented on #449
Reminds me of a similar issue I had with EContentAdapters: https://www.eclipse.org/forums/index.php/t/781423/. The JIT also contributed its share to the stack size.

[2018-02-08 18:26] cdietrich opened #636 "UriExtensionsTest.testFolderIsPrefix fails after fresh checkout"
[code]

[2018-02-08 18:28] cdietrich commented on #636
i wonder what could cause this....

[2018-02-08 18:59] cdietrich commented on #636
i think it is caused by `deleteOnExit` calls in `MultiProjectTest` and `WorkspaceManagerTest`

[2018-02-12 08:16] cdietrich commented on #449
it would still be nice if someone could have a look

[2018-02-12 09:01] cdietrich commented on #636
Fixed in 2.14

[2018-02-12 09:01] #636 closed

[2018-02-14 10:38] mor-n4 commented on #449
I did some tests with the new EMF version provided by Ed.

1) With Xtext Complete SDK 2.12.0.v20170519-1412 and EMF 2.13.0.v20170609-0707 (official release) I was able to reproduce the stack trace from the issue description above.

2) Then, I upgraded "EMF - Eclipse Modeling Framework Core Runtime" and "EMF Common" to version 2.14.0.v20180128-0931 (located at https://ci.eclipse.org/emf/job/gerrit/

[2018-02-14 10:44] cdietrich commented on #449
cc @merks do you already know the new Stacktrace?

[2018-02-14 10:45] cdietrich commented on #449
@mor-n4 do you have the begin of the stackoverflow too?

[2018-02-14 11:18] ewillink commented on #449
Ed M has just gone on holiday.

The EContentAdapter stack trace does not appear to involve any recently changed code, so I suspect that it is either a new phenomenon or bad user code.

Looks like the kind of problem that is easy to fix with a repro, impossible to guess at without.

I suggest raising a Bugzilla with a small repro.

[2018-02-14 11:32] knutwannheden commented on #449
Now this does sound very similar to the problem I had some years ago, although I ran into this when adding an EContentAdapter and here it seems to happen when it is removed.

IMHO increasing the stack size should not only be considered a workaround, as I think there may be many other pieces of code which may end up failing for the same reason. Yet I think it would still make sense to analyze the i

[2018-02-14 13:32] cdietrich commented on #449
sounds like a different issue
can you create a new xtext bug for that?

i wonder if there is something special about your metamodel

[2018-02-14 13:36] cdietrich commented on #449
maybe this is a similar effect as described in https://github.com/eclipse/xtext-core/issues/122

[2018-02-14 14:16] xcariba opened #638 "[LanguageServer] FormattingOptions are ignored on format request"
in `FormattingService` on format request `DocumentFormattingParams` are not used at all. It is useful to use `tabSize` value in formatter.

[2018-02-15 08:18] JanKoehnlein opened #639 "[cs] ReferenceUpdater should use serializer scope provider"
In analogy to `org.eclipse.xtext.serializer.tokens.CrossReferenceSerializer` the `ReferenceUpdater` should use the `IScopeProvider` annotated with `@SerializerScopeProviderBinding`

[2018-02-20 06:38] cdietrich commented on #639
@JanKoehnlein what is the state of the issue?

[2018-02-20 08:49] #639 closed

[2018-02-20 13:50] cdietrich commented on #552
created https://github.com/eclipse/lsp4j/issues/161

[2018-02-20 17:19] cdietrich commented on #638
Fixed in Xtext 2.14

[2018-02-20 17:19] #638 closed

[2018-02-26 12:42] cdietrich commented on #449
[UpdateSite.zip](https://github.com/eclipse/xtext-core/files/1758616/UpdateSite.zip)

[2018-02-26 12:42] cdietrich commented on #622
still and issue

[2018-02-28 14:37] AresEkb opened #646 "Formatter's generateXtendStub doesn't work"
I've added the following into mwe2 file:

    formatter = {
      generateXtendStub = true
    }

But the following is not added into Abstract<MyDSL>RuntimeModule

	public Class<? extends IFormatter2> bindIFormatter2() {
		return <MyDSL>Formatter.class;
	}

[2018-03-01 10:17] cdietrich commented on #552
we wont fix this unless somebody provides a pr

[2018-03-02 10:10] cdietrich commented on #646
i am not sure but the setting of `generateXtendStub` seems just to be used for switching from java to xtend and `generateStub` is used to turn on stub generation in general.

@szarnekow what do you think?

[code]

[2018-03-02 15:14] lbeurerkellner opened #648 "AbstractDeclarativeValidator#addIssue index parameter does not behave as expected for a value of -1"
While using [`AbstractDeclarativeValidator#addIssue`](https://github.com/eclipse/xtext-core/blob/master/org.eclipse.xtext/src/org/eclipse/xtext/validation/AbstractDeclarativeValidator.java#L469) I became aware of the `index` parameter. Due to the lack of documentation, I started looking through the delegation chain and first ended up in [`ValidatorMessageAcceptor#acceptError`](https://github.com/e

[2018-03-02 15:37] cdietrich commented on #648
https://bugs.eclipse.org/bugs/show_bug.cgi?id=416460
https://bugs.eclipse.org/bugs/show_bug.cgi?id=461430

[2018-03-02 15:38] cdietrich commented on #648
i fear i cannot answer your question why this is done as it is. maybe @szarnekow  can

[2018-03-07 11:40] BalzGuenat opened #653 "ITextRegionAccess created via serializer is missing whitespace before parse rule with action matching empty (and fails completely with no action)"
Some more context, details and an example can be found here: https://www.eclipse.org/forums/index.php?t=rview&goto=1783065

[2018-03-07 13:43] kthoms commented on #653
Please try to implement your context in a minimal sample project that reproduces the situation. From the forum post I do not get enough context to reproduce it in reasonable time.

[2018-03-07 15:14] BalzGuenat commented on #653
Try this: https://github.com/BalzGuenat/xtext-bug-minimal-example

[2018-03-07 15:36] meysholdt commented on #653
thank you, Balz.

[2018-03-15 10:27] cdietrich opened #656 "Serialization of Models remove trailing comments"
when reading this model

[code]

and removing `Hello3` programmatically and then serializing the model the //next comment will be gone if `Hello3` is the last element in the list.

[2018-03-15 10:50] cdietrich commented on #656
@meysholdt the resource.save does not use the new changeserializer yet and does not have a opt in for that correct?

[2018-03-15 11:01] meysholdt commented on #656
no, resource.save() does not use the change serializer and it was never intended to do so, because the change serializer needs a recording of all changes and resource.save() can't provide that.

I think the most sustainable fix here would be to re-implement https://github.com/eclipse/xtext-core/blob/master/org.eclipse.xtext/src/org/eclipse/xtext/serializer/sequencer/HiddenTokenSequencer.java to us

[2018-03-16 06:37] merks commented on #449
Note that there is a fix for the EContentAdapter stack overflow as well:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=532482

Xtext will need to make changes to its derived EContentAdapters to take advantage of this.

Fixes for both the Diagnostician and the EContentAdapter stack overflows are available in nightly builds:

http://download.eclipse.org/modeling/emf/emf/builds/nightly/latest

[2018-03-18 11:54] cdietrich opened #658 "Workflow after Wizard fails with newer EMF"
[code]

[code]

[2018-03-18 11:55] cdietrich commented on #658
(needs to be tested with latest emf from update site, mine is from january

[2018-03-18 11:57] cdietrich commented on #658
adding core.resources to deps helps

[2018-03-18 18:01] cdietrich commented on #658
created https://www.eclipse.org/forums/index.php/t/1092330/

[2018-03-19 09:44] merks commented on #658
It should be fixed in the latest nightly build.  Perhaps there are other new gotchas though...

[2018-03-20 13:35] cdietrich commented on #658
Fixed in latest EMF SNAPSHOT

[2018-03-20 13:35] #658 closed

[2018-03-21 16:08] cdietrich commented on #476
Fixed in 2.14

[2018-03-21 16:08] #476 closed

[2018-03-21 17:50] cdietrich commented on #449
fixed in 2.14
thx @ArneDeutsch  and @szarnekow

[2018-03-22 08:25] cdietrich opened #664 "[Grammar] Add Support for more Annotations"
In the grammar language we currently support the `@Override` annotation only. It would be nice to have support for further annotations

- `@Deprecated` for deprecated rules
- `@Final` for final rules
- `@Exported` to customize indexing
- `@Unique` and `@Pattern` for validations

We should evaluate which of these annotations we can and want to implement.

[2018-03-22 13:53] akosyakov opened #665 "LanguageServerImpl.getAllLanguages returns duplicate results if a language supports several extensions"
As follow-up bug `ExecutableCommandRegistry.initialize` registers duplicate commands which eventually leads to troubles in `ExecutableCommandRegistry.executeCommand`

[2018-03-22 14:46] cdietrich commented on #665
@akosyakov does a simply toSet solve the problem?

[2018-03-22 15:52] akosyakov commented on #665
@cdietrich yes, it should do

[2018-03-22 16:03] kthoms opened #666 "JUnit 5 support"
Xtext's testing framework should support writing test for JUnit 5.

Most notably is that the `@RunWith` annotation is not available anymore and [has been replaced by the more flexible `@ExtendWith` annotation](http://www.baeldung.com/junit-5-runwith). However, we still need the logic that is employed by `XtextRunner`, and preserve `@InjectWith`.

This basically means that `XtextRunner`'s logic has

[2018-03-22 18:05] cdietrich commented on #665
@akosyakov could you give it a try with http://services.typefox.io/open-source/jenkins/job/xtext-core/job/cd_issue665/lastSuccessfulBuild/artifact/build/

[2018-03-22 18:16] cdietrich commented on #665
@akosyakov with bad things you mean "32   [main] ERROR .commands.ExecutableCommandRegistry  - Multiple commands 'testlang.a' have been registered. All are executed but only one result will be send back.
" ????

[2018-03-22 19:36] cdietrich commented on #513
new change serializer has the same issue (multi quick fix)

[2018-03-22 19:53] cdietrich commented on #517
will do it the manual way at least for 9+10

[2018-03-22 21:34] cdietrich commented on #517
@szarnekow the main different for the places is the error treatment

[code]

vs

[code]

do you remember why it is done this way. and if there is no reason what is the preferred way to unify  the behaviours

[2018-03-23 08:55] szarnekow commented on #517
Should be fine to do it without reflection.

[2018-03-23 11:17] kthoms commented on #666
CQ for JUnit 5.0 usage, approved: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=15984

[2018-03-24 16:10] cdietrich opened #671 "More extensive Junit 5 Support"
- investigate if there are new features in junit 5 we can use
- offer junit support for our more advanced testing facilities e.g. `AbstractScenarioRunner`and `AbstractParallelScenarioRunner` + subclasses

[2018-03-26 17:35] cdietrich commented on #664
TODO: add validation (configureable, default warning) for calls do deprecated rules

[2018-03-27 06:20] cdietrich commented on #665
Fixed in 2.14

[2018-03-27 06:20] #665 closed

[2018-03-27 09:22] mmews-n4 commented on #393
N4JS says: meToo

Finding problems that are caused by Guice is difficult, especially when getting these kinds of stacktraces as shown above. I myself get this a lot when working on the Xtext project 'N4JS' and it is just time-killing to identify the true Guice error.

The related Guice ticket was: https://github.com/google/guice/issues/757
Stackoverflow says: [Guice 3.0 is incompatible with Java 8

[2018-03-28 08:11] cdietrich commented on #517
unified the code a bit more => fewer places that need adaption

[2018-03-28 16:16] holgerschill commented on #664
Pushed two PRs about configurable issues for @Deprecated @cdietrich please have a look.

[2018-04-01 13:48] AmatanHead opened #686 "Update wizard for xtext projects"
Hello!

The current wizard for xtext projects generates rather outdated and sometimes invalid projects. What I've run into is old gradle version, old xtext and gradle plugin version. Intellij plugin is discontinued (xtext/xtext-gradle-plugin#112) and should be removed from the wizard. Also it would be nice to explicitly inform users about Java 9 support state and save them some hours of debugging.

[2018-04-01 14:51] cdietrich commented on #686
Support for J9 and J10 will come with 2.14. we should make sure that the user only select BREEs that we support (no J11)
We should either remove idea from the wizard or add a big fat warning for it.

[2018-04-04 08:38] cdietrich opened #689 "Fix Errors in generated <MyDsl>ConfigurableIssueCodesProvider"

[2018-04-04 09:51] #689 closed

[2018-04-04 09:52] cdietrich commented on #689
Thx @AlexTugarev

[2018-04-09 07:30] #449 closed

[2018-04-09 11:52] ArneDeutsch commented on #686
@AmatanHead: Currently I have a look about the wizard. I am not sure what you refer to when you say: "What I've run into is old gradle version" ... in my version files are generated for "gradle 4.6" ... so you expect a different version?

[2018-04-09 11:54] cdietrich commented on #686
i assume this "Old gradle" refers to the released xtext 2.13 wizard

[2018-04-09 12:45] ArneDeutsch commented on #686
I've done the following:
-Fix case where unsupported JDK is added to the selection combo in case it is selected as a default. Instead, in the unlikely case that the default JDK is not supported, the last JDK from the list is selected.
- Remove IDEA from the new project wizard. IDE plugins are not well maintained any more, no need to bother new users with not working stuff.
- Adding "Automatic-Modu

[2018-04-09 14:12] cdietrich commented on #686
Fixed in 2.14. thx @ArneDeutsch

[2018-04-09 14:12] #686 closed

[2018-04-10 07:03] cdietrich opened #694 "Update to LSP4J 0.4.0 / Protocol Version 3.6"
we should consider a update to LSP4J 0.4.0 / Protocol Version 3.6

@spoenemann @akosyakov are you going to provide a pr for this?

[2018-04-10 08:37] spoenemann commented on #694
Hopefully this would be a one-liner (change the version number in `versions.gradle`) 😄

[2018-04-10 08:40] cdietrich commented on #694
does languageserverimpl need adoptions for new services?

[2018-04-10 08:42] spoenemann commented on #694
Maybe, but those can be implemented in different PRs. In LSP every service offered by a language server is optional.

[2018-04-11 13:18] cdietrich opened #698 "Bad behaviur of AbstractTraceRegion.getAssociatedSrcRelativePath()"
we have a grammar like

[code]

and a inferrer like

[code]

and do (more or less) something like the following handler code

[code]

although there are locations there

[code]

fails cause there are multiple locations with different targets

[code]

and it sorts these out.

[code]

[2018-04-12 06:48] cdietrich commented on #698
same problem if i call

[code]

[2018-04-19 13:05] nopecio opened #702 "Generation not working on java 9/10 under eclipse 4.7.3a"
When running the MWE2 file it gives:
[main] ERROR pes.access.impl.AbstractClassMirror  - resource is empty: java:/Objects/java.lang.Object
java.lang.IllegalStateException
	at org.eclipse.xtext.common.types.access.impl.AbstractClassMirror.getEObject(AbstractClassMirror.java:94)
	at org.eclipse.xtext.common.types.access.TypeResource.getEObject(TypeResource.java:94)
	at org.eclipse.emf.ecore.resource

[2018-04-19 13:10] cdietrich commented on #702
nopecio whichg version do you use?
java 9 works only with the current 2.14.0-SNAPSHOT
and java 10 is in work under
https://github.com/eclipse/xtext/issues/1177

[2018-04-19 13:15] nopecio commented on #702
Thank you!
i miss understood the  support for java 9 in 2.13!
I'll give it a try!

[2018-04-19 13:15] #702 closed

[2018-04-19 13:16] cdietrich commented on #702
java 9 should work in 2.13. are you sure you ran it with java 9? and do you have asm >= 6.0 installed?

[2018-04-20 07:29] #694 closed

[2018-04-20 07:30] cdietrich commented on #694
Fixed in 2.14

[2018-04-20 07:37] spoenemann opened #704 "[wizard] Tycho build is broken"
After creating a fresh MyDsl project with Eclipse plugin, Maven build and Language Server (regular) active, I get the following error

[code]

This is strange since `org.eclipse.platform:org.eclipse.core.resources:3.12.0` is clearly available. Is this a temporary issue?

[2018-04-20 07:39] cdietrich commented on #704
did you build with -U ?

[2018-04-20 07:46] spoenemann commented on #704
With -U it's even worse:

[code]

[2018-04-20 07:46] cdietrich commented on #704
which java version?

[2018-04-20 07:48] spoenemann commented on #704
I've set the command line to Java 8, but I also have Java 9 installed. `mvn` should pick the one where `$JAVA_HOME` is pointing to, right? That's Java 8 in my case.

[2018-04-20 07:49] spoenemann opened #705 "[wizard] Outdated dependency to LSP4J"
The generated pom.xml for org.xtext.example.mydsl.ide contains

[code]

when Eclipse plugin and Language Server are selected in the wizard.

The version is outdated: we have been using LSP4J 0.3.0, and I switched to 0.4.0-SNAPSHOT in #701.

Is this dependency really necessary? It should be covered transitively by org.eclipse.xtext.ide.

I cannot test whether the redundant dependency can be removed

[2018-04-20 07:50] cdietrich commented on #704
did you try that with a fresh build specific maven repo?

[2018-04-20 07:50] cdietrich commented on #705
cc @kthoms

[2018-04-20 08:08] spoenemann commented on #704
That actually helps. Seems like I need to clear my `~/.m2` 🙄

[2018-04-20 08:08] #704 closed

[2018-04-20 08:13] spoenemann commented on #705
The Maven build works without the redundant dependency. Haven't tested the Language Server at runtime, though.

[2018-04-20 08:15] cdietrich commented on #705
did you have a look at the built app? does it contain lsp4j?

[2018-04-20 13:26] meysholdt opened #706 "[contentassist] missing proposals"
given the grammar
[code]
and the model `{|` with `|` being the cursor, the keyword `pref` should be among the proposals.

[2018-04-20 14:11] cdietrich commented on #705
will push an updated version for monday

[2018-04-20 14:40] kthoms commented on #666
I think we are done. Documentation, of course, must be added.

[2018-04-21 13:49] cdietrich commented on #646
@szarnekow  ping. what do you think. looks like it is intentsion and we should close it as wontfix

[2018-04-22 11:43] kthoms opened #708 "[J10] Resolve illegal reflective access in MergeableManifest"
The following warnings are reported when running an Xtext generator with Java 10:
[code]

[2018-04-22 12:04] cdietrich commented on #708
There is a dupe for that somewhere in the bunch

[2018-04-22 12:30] cdietrich commented on #708
see https://github.com/eclipse/xtext-core/issues/506

[2018-04-23 06:17] cdietrich commented on #705
TODO: find a cleaner way to manage this. at lease at a comment to the versions.gradle to update this place too.

[2018-04-23 07:42] ArneDeutsch opened #709 "Refactor FileSystemAccessQueue to synchronize read/write of IO operations"
This ticket is a result out of the following review: https://github.com/eclipse/xtext-core/pull/696#pullrequestreview-113965707

Currently the FileSystemAccessQueue has a mathod to wait for the requestQueue to be empty. Such the read operations can wait until all write operations are ready. It would be desirable to wait only for the write operations that are affecting folders/files the read operat

[2018-04-23 07:50] sigiesec opened #710 "Exception during Xtend formatting"
Formatting several longer Xtend source code files doesn't work. I have not been able to isolate a source code fragment that causes the problem, but maybe the exception in the workspace log already suffices to identify the cause.

The exception in the workspace log is:
[code]

The Eclipse version is `eclipse.buildId=4.7.3.M20180301-0715`

The Xtext and Xtend UI plugin versions are
[code]

[2018-04-23 08:34] ArneDeutsch commented on #710
I think the stack trace alone is not sufficient. Maybe you can post the affected file? Maybe a bit annonymoized if neccessary. Then one could probably reproduce the issue.

[2018-04-23 08:54] sigiesec commented on #710
Ok, I can understand that. I will try to reduce a source code file where formatting fails.

[2018-04-23 09:08] sigiesec commented on #710
The following file leads to a similar exception:
[code]

Stacktrace here is:
[code]

[2018-04-23 09:16] ArneDeutsch commented on #710
I can reproduce, this bug is present in latext Xtext 2.14, too.

[2018-04-23 11:00] ArneDeutsch commented on #710
The issue is inside `RichStringFormatter#format`. The calculation `val length = line.indentLength - impl.model.rootIndentLenght` leads to negative numbers if the count of blanks is less then the indention level. This results in a negative replacement `length` what is illigal. As I do not understand the algorithm yet I'm not able to fix.

[2018-04-23 11:32] ArneDeutsch commented on #710
The example can be simplified to the following and the exception still occures:
[code]
It is interesting that the issue does NOT appear for the following code:
[code]

[2018-04-23 12:46] JanKoehnlein opened #712 "[lsp] WorkspaceManager must be adapted to latest changes in LSP"
In the latest lsp4j, `VersionedTextDocumentIdentifier.version`changed from `int` to `Integer`. Some methods in `WorkspaceManager` still pass the version as `int`, so they have to be adapted.

[2018-04-23 13:10] miklossy commented on #710
I have just also encountered this issue while trying to execute the 'Remove unnecessary modifiers' Xtend Quickfix.

[2018-04-23 13:15] miklossy commented on #710
I have just created a Pull Request
https://github.com/eclipse/xtext-xtend/pull/430
into the Xtend repository where I defined an Xtend Quickfix test case reproducing the issue. The test case is currently ignored.

[2018-04-23 13:26] kthoms opened #714 "Update lsp4j to 0.4.0 Final"
xtext-core currently depends on lsp4j version 0.4.0-SNAPSHOT. The final Xtext 2.14 release must use the release version of lsp4j 0.4.0.

[2018-04-23 13:28] cdietrich commented on #714
see https://github.com/eclipse/xtext-core/issues/705

[2018-04-23 22:03] kthoms opened #715 "XtextVersionTests#getCurrent fails for non-snapshot version on Gradle"
The test case fails when the project's version is a non-snapshot version and the build is executed with Gradle. In Eclipse the test performs. Project version was set to `2.14.0.RC1`.

[2018-04-24 04:27] cdietrich commented on #715
Do you have an error message or trace?

[2018-04-24 05:03] cdietrich commented on #715
@kthoms so the versions in manifest are not adoped?

[2018-04-24 13:35] ArneDeutsch commented on #710
I was not able to fix this bug because I am not able to understand all the details in Xtend formatter. My comit is a workaround such that instead of the exception the formatting for the problematic item is skipped. In result at least the rest of the file is formatted correctly.

I suggest to merge my workaround (there is not really a risk because the exception is more harmfull then the skip of a s

[2018-04-24 13:49] ArneDeutsch commented on #710
One additional note: The original exception seems to be different from the one reproduced from the example snippets. It is possible and quite likely that they are two different bugs.

[2018-04-24 13:50] ArneDeutsch commented on #710
@meysholdt Maybe you could have a look about the Xtend formatter and especially this bug?

[2018-04-25 06:01] JanKoehnlein commented on #712
Nope.

[2018-04-25 06:01] #712 closed

[2018-04-25 07:26] #124 closed

[2018-04-25 07:54] sigiesec commented on #710
That's true, the original problem was probably a different one, which masked the second problem that occurred after I reduced the source code file. I will try to reproduce the original problem with a minimal example.

[2018-04-25 07:59] cdietrich commented on #124
replaced by https://github.com/eclipse/xtext-eclipse/issues/649

[2018-04-25 08:34] spoenemann commented on #124
These are separate issues: eclipse/xtext-core#124 is about quick fixes, eclipse/xtext-eclipse#649 is about hovers.

[2018-04-25 08:36] cdietrich commented on #124
why did you close this then?

[2018-04-25 08:58] spoenemann commented on #124
Because it was fixed long time ago in eclipse/xtext-eclipse#167.

[2018-04-25 09:27] RealTYPICAL opened #716 "[LSP] Problems for a deleted file are shown after deletion"
Steps to reproduce:

1. Create a file with some errors in it.
2. Delete the file.
3. Check the errors produced.

Behaviour:

The errors for that file still exist even though the file doesn't.

Expected:

The errors for that file should be cleared.

https://github.com/RealTYPICAL/MyDSL_Imports

A small DSL example exists here but the behaviour should still work on any language.

If you need anymore

[2018-04-25 09:29] cdietrich commented on #716
what do you exactly mean by "The errors for that file still exist"

[2018-04-25 10:49] RealTYPICAL commented on #716
After deleting the file, the server still gives errors as if the file still exists/hadn't been deleted.

[2018-04-25 10:58] cdietrich commented on #716
which client do you use?

i am not sure how the protocol is for this usecase.
at least in my debugging i did not see any new messages regarding issues sent after deletion so i am not sure what should happen in this case

[2018-04-25 11:02] RealTYPICAL commented on #716
VSCode

[2018-04-25 11:03] cdietrich commented on #716
created https://github.com/Microsoft/language-server-protocol/issues/463

[2018-04-25 11:54] cdietrich commented on #716
prepared a pr but still wont to wait until the protocol issue is cleared

[2018-04-26 07:53] cdietrich commented on #714
Fixed in 2.14

[2018-04-26 07:53] #714 closed

[2018-04-27 07:43] knutwannheden opened #721 "Allow NodeModelBuilder to replace subtree"
I have the following use case: I have a DSL "A" in which some terminal tokens are parsed by the parser of another DSL "B". I cannot easily have A.xtext extend B.xtext since they have conflicting terminal rules, so what I do instead is to have a value converter for A which invokes the parser of B. To be able to leverage Xtext as much as possible I don't only want to populate the AST but also merge

[2018-04-27 08:28] RealTYPICAL commented on #716
Works on my side.

[2018-04-27 12:11] LorenzoBettini opened #722 "Wrong ConfigurableIssueCodesProvider generated for Xbase languages"
The ValidatorFragment2 now generates a DSL ConfigurableIssueCodesProvider and the corresponding Guice binding, but it always generate it as a subclass of ConfigurableIssueCodesProvider; this breaks Xbase languages: in this case XbaseConfigurableIssueCodes should be used as the superclass.

For example, if you regenerate the domain model example, some validation tests fail (the one related to impor

[2018-04-27 12:12] cdietrich commented on #722
@holgerschill could you please have a look

[2018-04-27 12:13] cdietrich commented on #722
@LorenzoBettini is a bug in the fragment imho

[2018-04-27 12:15] LorenzoBettini commented on #722
For sure it's a bug, but I was wondering how to fix this... I can take care of that, in case.

For the domain model it's either redefine the binding so that it uses the Xbase one

[code]

or redefine the binding and point to a custom implementation, based on the generated one, but with the right superclass and the right call to super method:

[code]

[2018-04-28 06:14] holgerschill commented on #722
Hi Lorenzo, thanks for your help. Will care next week. It‘s a bug for sure. Just forgot that case with Xbase. Cheers, Holger

[2018-04-30 09:46] LorenzoBettini commented on #722
in general, Xbase language should not need such a binding, if I understand correctly...

[2018-05-02 12:26] holgerschill commented on #722
Fix and tests are in PR: https://github.com/eclipse/xtext-core/pull/723

[2018-05-02 12:33] #664 closed

[2018-05-02 13:25] #722 closed

[2018-05-02 21:50] szarnekow commented on #721
Could you please submit a patch?

[2018-05-02 21:56] szarnekow commented on #715
+1

[2018-05-03 04:37] cdietrich opened #724 "Compile Error in maven with Validation Preference Page"
[ERROR] Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:1.2.0-SNAPSHOT:compile (default-compile) on project org.xtext.example.mydsl3.ui: Compilation failure: Compilation failure:
[ERROR] /home/dietrich/xtext-master/ws/org.xtext.example.mydsl3.parent/org.xtext.example.mydsl3.ui/src-gen/org/xtext/example/mydsl3/validation/MyDslValidatorConfigurationBlock.java:[22]
[ERROR] 	super.fillS

[2018-05-03 04:37] cdietrich commented on #724
@holgerschill is this related to your changes?

[2018-05-03 04:38] cdietrich commented on #724
i am not sure why this deprecation stuff is generated at all if not used

[2018-05-03 05:13] cdietrich commented on #724
Fixed in 2.14

[2018-05-03 05:13] holgerschill commented on #724
Fixed

[2018-05-03 05:13] #724 closed

[2018-05-03 21:04] knutwannheden commented on #721
Yes, I will look into it. Eventually it would be nice to support this kind of language mixins even better; i.e. so that more of Xtext's features work right out of the box. Currently this requires some "hacking".

[2018-05-07 08:52] szarnekow commented on #706
@meysholdt do you have plans to work on this?

[2018-05-07 08:54] meysholdt commented on #706
for now: no, as the problem I was hunting had another cause.

[2018-05-07 08:57] szarnekow commented on #706
Ok, thanks for the quick update.

[2018-05-08 13:32] kthoms opened #732 "[wizard] Missing JUnit 5 in created target platform"
Create project with setting:
- Java 1.8
- Eclipse Plug-in
- Testing JUnit 5
- Build System Maven

Perform mvn install on parent POM.

[code]

[2018-05-08 13:40] kthoms commented on #732
Actually it is the Xtext update site that should contain the JUnit 5 bundles from Orbit

[2018-05-08 13:50] cdietrich commented on #732
does that automatically trigger an installation? i am not sure if it is a god idea to install junit5 on luna

[2018-05-08 14:09] kthoms commented on #732
I'm pretty sure it won't cause an installation. But to be sure we have to put it on nightly and install Xtext on Luna. Can do this tomorrow.

[2018-05-08 14:47] kthoms commented on #732
Sounds good. There are already other orbit bundles in the category.xml, this should make that obsolete.

[2018-05-08 14:59] cdietrich commented on #732
@dhuebner we already did that in the past (include orbit stuff)

[2018-05-08 15:00] cdietrich commented on #732
so you npropose to dadapt the xtext composite?

[2018-05-08 15:32] dhuebner commented on #732
@cdietrich We did it in the past and got a lot of problems.
First what comes in my mind are re-signed orbit bundles problem. Second, we loosed a  control over available Update sites ->  bundles  during a tycho build: conflicting guava versions etc.

[2018-05-08 21:09] kthoms commented on #732
Agree with @dhuebner , better idea to add an orbit entry to the target def

[2018-05-08 22:09] #732 closed

[2018-05-09 13:02] kthoms commented on #597
@meysholdt Moving to 2.15. If you see a chance to fix it for 2.14 then retarget it again. Otherwise please work on it for 2.15.

[2018-05-09 13:03] kthoms commented on #450
@cdietrich I think we have to retarget it to 2.15. That's not prio enough for now.

[2018-05-16 15:46] kthoms commented on #666
The test projects do not need direct dependencies on the JUnit engine bundles. Tycho is smart enough to use these dependencies at runtime. It even harms, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=534587 for that.

Instead, the test projects only need dependencies on the JUnit API. When using the JUnit library container in the project configuration the required bundles are automatically ins

[2018-05-16 20:59] cdietrich commented on #666
Junit 5 tests are not executed in pure maven projects

[2018-05-16 21:03] cdietrich commented on #666
Junit5 test are NOT executed in pure gradle projects

[2018-05-16 21:11] cdietrich commented on #666
for gradle the following seems to work

[code]

[2018-05-16 21:17] kthoms commented on #666
maven is similar, PR will come

[2018-05-16 21:54] cdietrich commented on #666
@kthoms maven fix does not seem to work in maven layout (code goes to runtime)

[2018-05-16 22:07] kthoms commented on #666
That problem already exists on master. Therefore different issue?

[2018-05-16 22:07] cdietrich commented on #666
i dont get. with junit 4 no issue

[2018-05-16 22:08] cdietrich commented on #666
there is something like
``«IF testProject.isInlined»``` in runtimedescriotor

[2018-05-16 22:12] kthoms commented on #666
IMHO it is correct to have the tests in a plain Maven project with Maven source layout to be in `src/test/java`.
But the surefire config has to be in the runtime project's pom.

[2018-05-16 22:13] cdietrich commented on #666
yes but exactly that is missing for your maven and gradle fixes

[2018-05-16 22:13] kthoms commented on #666
did not consider that, sorry. good catch.

[2018-05-16 22:14] cdietrich commented on #666
yes generate surefire and gradle test customization only for plain layout

[2018-05-16 22:15] cdietrich commented on #666
if you do prs for that will review when awake again

[2018-05-16 22:16] kthoms commented on #666
for Maven I'd better put this into the pluginManagement of the parent POM. Then it should work for bith cases.

[2018-05-17 05:29] cdietrich commented on #666
retested pure maven stuff. looks good

[2018-05-17 07:27] cdietrich commented on #666
i wonder if we should enhance the classpathcontainer thingy to support

[code]

unfortunately the support for that only works if we fix it for the source folders too.
=> should we do that with a separate issue in 2.15?

[2018-05-17 08:37] kthoms commented on #666
I already created an issue for test source folders:
https://github.com/eclipse/xtext-eclipse/issues/677

Might be worth to mention that in the issue. IMHO too late for 2.14 since we have to check that on Oxygen also and could cause trouble.

[2018-05-17 08:49] kthoms commented on #666
For the Inlined Maven case the JUnit containers are not configured. It is expected that there would be a "Junit 5" entry in the package explorer.

![screenshot 113](https://user-images.githubusercontent.com/265597/40166807-c37bcb4c-59bf-11e8-8dec-40fdcbf31594.png)

[2018-05-17 09:04] cdietrich commented on #666
see https://github.com/eclipse/xtext-core/issues/666#issuecomment-389749054

[2018-05-17 13:04] meysholdt opened #739 "Potential NPE during ChangeSerialization"
[code]

[2018-05-17 15:04] kthoms opened #741 "[wizard] Improve tycho-surefire-plugin plugin management"
The test project created by the wizard configures the tycho-surefire-plugin. With #623 the tycho-surefire-plugin has been added to the parent pom's pluginManagement section.

This makes it unnecessary to configure the version in the test project again. A warning is raised currently:

![screenshot 118](https://user-images.githubusercontent.com/265597/40185964-3f09931e-59f4-11e8-829a-eaf5444e4b7a.pn

[2018-05-17 15:45] kthoms opened #742 "[JUnit5] Relax dependencies to 5.0.0"
On Oxygen only JUnit 5.0.0 is available by default. When someone uses Oxygen with Xtext 2.14 and "Running Platform" as target, then the requirement `org.junit.jupiter.api` can't be fulfilled.

Also the `org.eclipse.xtext.testing` bundle requires this bundle in version 5.1.0, but optionally.

Actually there are no technical restrictions to require at least 5.1, everything does work with 5.0 also. T

[2018-05-17 16:10] cdietrich commented on #742
i am not sure what bad side effects this has. e.g. the lauch whatever stuff

[2018-05-17 16:41] kthoms commented on #742
I think it is just wrong currently. There is no limitation to use 5.0. Actually the feature was initially developed for it.

[2018-05-17 16:56] cdietrich commented on #742
I just want to make sure this is tried before done

[2018-05-17 20:25] kthoms commented on #742
Fixed via https://github.com/eclipse/xtext-core/commit/1b8d74a8a768226e39f0b6b4a5dd11d80df6cf71

[2018-05-18 10:04] tjallingran opened #745 "ITransientValueService is non-API; documentation indicates the wrong ITransientValueService"
If a user wishes to customize the decision whether or not a value is considered [transient](https://www.eclipse.org/Xtext/documentation/303_runtime_concepts.html#transient-values) by the Xtext serializer, they can bind a custom ITransientValueService.

However, there are two different interfaces called ITransientValueService:

1. [`org.eclipse.xtext.serializer.sequencer.ITransientValueService`](ht

[2018-05-18 14:38] ArneDeutsch opened #746 "UI tests not detected"
Create a new Xtext project with the new project wizard. Use eclipse photon (probably not of relevance) and JUnit 4. Delect maven as build engine. Use plain source folder layout and generate test projects.

After generting the projects create a UI test. You can for example use this code:

[code]
Build with maven (install). You can observe that the eclipse workbench opens for a UI test. But the test

[2018-05-18 14:42] cdietrich commented on #746
That looks bad. Can you compare config with domain model example

[2018-05-18 14:42] cdietrich commented on #746
I will try myself when at home

[2018-05-18 14:43] cdietrich commented on #746
Is it possible that is the import package bs require bundle thing. That do we have now

[2018-05-18 14:43] szarnekow commented on #746
Isn’t it the case that mvb builds scan tests for name patterns, eg suffic Test or PluginTest?

[2018-05-18 14:45] cdietrich commented on #746
Yes please try this too

[2018-05-18 15:29] ArneDeutsch commented on #746
Yes, my fault. It was the naming issue (I like maven each day less ;) ).

[2018-05-18 15:29] #746 closed

[2018-05-18 15:42] #742 closed

[2018-05-22 08:19] cdietrich commented on #489
Moved to 2.15

[2018-05-22 08:20] cdietrich commented on #666
@kthoms anything left that we want to fix with 2.14?

[2018-05-22 16:25] kthoms commented on #741
Fixed for 2.14 via https://github.com/eclipse/xtext-core/commit/0d895884126e0405f4f2ba22835e6df5a07148bc

[2018-05-22 16:26] kthoms commented on #666
With fixing of #741 I close this for 2.14 now.

[2018-05-22 16:26] #666 closed

[2018-05-22 18:44] cdietrich commented on #741
is this done or not?

[2018-05-22 21:44] kthoms opened #748 "ParentProjectDescriptor: Remove workaround comment for Tycho version"
2.14 produces a comment when Java 10 or JUnit 5 are selected, since Tycho 1.2 was not released yet. This can be removed for 2.15.

[2018-05-23 08:07] ArneDeutsch commented on #517
Hi Christian. I checked the code you referenced. For me it seems you have enhanced the solution as far as possible. Doing it better then with the enum seems not possible to me. Even some configuration file with constants for new java versions would need some update. On the other hand the values can not be reliable be computed as the format has been changed in the past and probably will change in t

[2018-05-23 08:16] kthoms commented on #741
It is done.

[2018-05-23 08:58] cdietrich commented on #517
this ticket is to think about a non enum based solution or a enum based solution that works with feature patches

[2018-05-23 10:08] #741 closed

[2018-05-28 06:57] cdietrich opened #756 "Bad Behaviour of IChangeSerializer regarding unassigned keyword"
given the grammar

[code]

and Validation

[code]

and Quickfix

[code]

applied to this model

[code]

results in

[code]

as you can see the semicolons keep dangling at the end (new literals are introduced at the beginning, and removed from the place they where without removing the `;`

if i make the semicolon required

[code]

the result is

[code]

@meysholdt any hints?

[2018-05-29 06:36] cdietrich commented on #745
we should cleanup documentation and javadoc. unfortunately the api design here is really messy

[2018-05-29 06:52] cdietrich commented on #715
how shall we proceed?

[2018-05-29 06:53] cdietrich commented on #705
@kthoms do you have any ideas?

[2018-05-29 07:02] kthoms commented on #715
+1 delete the test, I will provide the PR

[2018-05-29 07:17] kthoms commented on #705
I would like to script such updates, also for Tycho and others. It is error-prone and time consuming nowadays to do any update. We should be able to manage versions and URLs at a central place and modify sources automatically.

As a first step, we should document the list of files that are affected by certain updates.

[2018-05-29 07:19] cdietrich commented on #705
for this particular  dependency there should be already a comment

https://github.com/eclipse/xtext-core/blob/24ce555b09204a1ca71e27ed48ac89a57629e73a/gradle/versions.gradle#L12

[2018-05-29 08:28] spoenemann commented on #705
We could move such versions to a properties file? That's very easy to update with a Gradle build task and very easy to read from Java.

[2018-05-31 11:01] cdietrich opened #758 "[Wizard] Switch to Tycho 1.2.0 once it is released"
- in the wizard we should switch to use tycho 1.2.0 in all branches once it is released
- comment regarding junit 5 and java 10 should be removed

[2018-06-04 09:05] JanKoehnlein opened #759 "[releng] Xcore broken"
Just installed Xtext and Xcore from the Xtext releases repository. Xcore does not work:

[code]

[2018-06-04 09:09] cdietrich commented on #759
i am not aware of this issue @merks are you?

[2018-06-04 09:10] cdietrich commented on #759
but i am also not aware of any changes in that place. and there is a binding in DefaultXbaseUiModule.

[2018-06-04 09:11] cdietrich commented on #759
@JanKoehnlein which xcore version did you install from where

[2018-06-04 09:14] cdietrich commented on #759
i am not sure which emf version is bundled in your composite. it might be really old.

[2018-06-04 09:17] cdietrich commented on #759
the newest xcore stuff on the composite http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/ is from 2015 which is hopelessly outdated

[2018-06-04 09:18] cdietrich commented on #759
http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/compositeContent.xml
includes http://download.eclipse.org/modeling/emf/emf/updates/2.10.x/

[2018-06-04 09:18] JanKoehnlein commented on #759
Yes, I can confirm that. Now using Xcore from Photon.

[2018-06-04 09:20] cdietrich commented on #759
=> i propose to either remove emf from the composite or use the new emf release composite
or additionally add it

[2018-06-04 09:21] JanKoehnlein commented on #759
Agreed. @dhuebner what do you think?

[2018-06-04 09:28] cdietrich commented on #759
new releases update site is  http://download.eclipse.org/modeling/emf/emf/builds/release
cc @kthoms

[2018-06-04 15:35] merks commented on #759
Note that the update sites are documented here:

http://download.eclipse.org/modeling/emf/emf/builds/index.html

The Photon version is of course the latest milestone currently.  The latest release is what was released for Oxygen and will become the Photon version later this month.

[2018-06-05 09:00] cdietrich commented on #715
@kthoms don't forget to PR

[2018-06-05 09:43] cdietrich commented on #756
similar to https://github.com/eclipse/xtext-core/issues/510

[2018-06-05 11:14] cdietrich commented on #715
Fixed in 2.15. thx @kthoms

[2018-06-05 11:14] #715 closed

[2018-06-05 15:59] cdietrich commented on #758
Fixed in 2.15 via https://github.com/eclipse/xtext-core/commit/75835e52956fc06c8298cf36d689cf920eb2978b

[2018-06-05 15:59] #758 closed

[2018-06-08 07:46] cdietrich commented on #748
Fixed via 75835e52956fc06c8298cf36d689cf920eb2978b

[2018-06-08 07:46] #748 closed

[2018-06-08 09:09] kthoms commented on #759
If we would include the EMF composite release site, accessing our composite release site with p2 would slow down again and be PITA. So including a concrete EMF release (or 2) would be better IMHO. We can use the new sites.
Just tell me what exactly has to be done and I can arrange this then.

[2018-06-08 09:14] cdietrich commented on #759
well i am not sure. if we did a take all in the past we should do it in the future.
otherwise we should complete remove emf from the xtext update site

[2018-06-08 09:19] kthoms commented on #759
We would have to test if Xtext installs fine with just using the Composite without EMF then, also for some older Xtext versions and on older platforms.

[2018-06-08 09:20] cdietrich commented on #759
arggg of course it wont install if you do not have another update site that has emf .
the question was why this was not assumed before.

[2018-06-08 09:20] cdietrich commented on #759
and if you ask for old versions then we have to add the new emf composite anyway ....

[2018-06-08 09:21] cdietrich commented on #759
and if people care about performance they should not use the xtext composite anyway.
but the specific emf, xtext, mwe and xpand sites.
=> i dont see the problem with using the composite emf

[2018-06-08 09:22] kthoms commented on #759
You usually have the Eclipse Release update site enabled, which contains EMF.

[2018-06-08 09:40] JanKoehnlein commented on #759
My issue was that I was trying to install Xtext 2.14 and there was no compatible Xcore anywhere.
I use the Xtext repo mainly to install Xtext versions that are not on the release train.

[2018-06-08 09:45] cdietrich commented on #759
wasnt the issue that you used the xtext update site to install xcore?

[2018-06-08 09:51] JanKoehnlein commented on #759
Yes, because I expected the compatible version to be there as well.
It was extremely outdated instead.

[2018-06-08 10:07] kthoms commented on #759
FYI: On a plain vanilla Photon IDE Xtext 2.9 and 2.14 are installable without problems. No EMF repo involved (just using releases/photon)

![screenshot 163](https://user-images.githubusercontent.com/265597/41152575-580ac4ce-6b14-11e8-8036-654e862d9208.png)
![screenshot 164](https://user-images.githubusercontent.com/265597/41152576-58222c36-6b14-11e8-84f3-e40dcc3fb602.png)

[2018-06-08 10:14] cdietrich commented on #759
that was clear. but it wont help if you select stuff from the xtext composite site

[2018-06-08 11:21] dhuebner commented on #759
We should think about removing EMF from the composite Update site

[2018-06-08 11:23] cdietrich commented on #759
Am not sure which clients (target platforms) this may break

[2018-06-08 11:46] dhuebner commented on #759
Almost all TP I saw, use eclipse update site as well. So I think only some will break
Also the most people figured out that the xtext composite update site is very slow and switched to plain release sites.

[2018-06-08 16:53] merks commented on #759
If you're going to point to an EMF update site (that includes Xcore) from your composite please use http://download.eclipse.org/modeling/emf/emf/builds/release or http://download.eclipse.org/modeling/emf/emf/builds/milestone

[2018-06-16 16:45] karypid opened #769 "Formatter indentation seems broken"
From forum post: [Formatting multiple parser rules within curly brackets](https://www.eclipse.org/forums/index.php/m/1786093/)

Model:

[code]

Formatter code:
[code]

Test Input:

[code]

Expected output after Ctrl-Shift-F

[code]

Actual output after Ctrl-Shift-F

[code]

Indentation is in fact applied on the first greeting, but the other 2 greetings of the selected region seems to remain unmodi

[2018-06-16 16:57] cdietrich commented on #769
i consider that bad side effect of missing formattings for the content itself
(you dont format the ws/newlines between the  `{` `}`)
and thus more as a user error with bad feedback

=>

[code]

[2018-06-16 17:10] karypid commented on #769
This does indeed fix it

[2018-06-16 17:10] #769 closed

[2018-06-22 09:10] LorenzoBettini opened #771 "ValidatorFragment2 generates an overridden version of addComboBox for Xbase languages"
Xbase already defines this method

[code]

but the configuration block generated for Xbase languages overrides this method, just like for any other languages (indeed there's a warning in the generated configuration block, though src-gen is usually configured to exclude additional warnings).

Is this the intended behavior? Shouldn't Xbase languages reuse the one from XbaseValidationConfigurationBlo

[2018-06-22 09:42] cdietrich commented on #771
for me this looks like a oversight.

[2018-06-23 09:33] cdietrich commented on #527
@meysholdt am not sure if org.eclipse.xtext.formatting2.internal.FormattableDocument.createReplacements(ITextReplacerContext)
should create a copy of the complete iterator before iterating or if we want to be able to lazy add stuff to the replacers list

[2018-06-23 10:04] cdietrich commented on #527
for me it looks like the problem is in
[code]
in XbaseFormatter, instead of the parameter format i think the closueparmeter
doc == the subdocument should be used.

[2018-06-24 10:56] karypid opened #773 "Parsing in reconciler failed issue when feature is not assigned"
From [this forum thread](https://www.eclipse.org/forums/index.php/t/1093873/):

When the entry rule references another rule without assignment, unstable behaviour can occur. The parser will fail if the first expression is missing with exception:

[code]
To reproduce use grammar:

[code]

and create test file:

[code]

Then modify grammar to require the commented-out top portion of the test file:

[2018-06-24 10:58] cdietrich commented on #773
@szarnekow is this a missing validation on the grammar and a error in the parser generation

(note that the first rulecall in the entry rule to `Day` is not assigned)

[2018-06-25 12:04] ArneDeutsch commented on #773
I've stprit down the example a bit. The exact same exception can be reproduced with the following grammar:
[code]

Use the following example file to test the grammar:
`greeting A`

[2018-06-25 12:10] ArneDeutsch commented on #773
I would think that this is a missing validation indeed. The following rule creates an error marker "An unassigned rule call is not allowed, when the 'current' was already created.":
[code]
Hence in my opinion the rule
[code]
should create an error marker "An assignement is not allowed after an unassigned rule call." at the `greeting` token.

[2018-06-25 14:55] szarnekow commented on #773
This is actually not true. Xtext.xtext contains this pattern:
[code]

Subsequent assignments will simply manipulate the `current` instance which was returned by the unassigned rule call.

Not sure why this is not handled correctly on the root node.

[2018-06-27 18:23] cdietrich opened #778 "Bogus Validation in MaxLineWidthDocument"
[code]

https://bugs.eclipse.org/bugs/show_bug.cgi?id=474468

[2018-06-28 05:05] cdietrich commented on #527
Fixed in 2.15

[2018-06-28 05:05] #527 closed

[2018-06-28 05:07] cdietrich commented on #778
Fixed in 2.15

[2018-06-28 05:07] #778 closed

[2018-07-04 16:14] cdietrich opened #782 "Inserting and Serializing elements deletes comments"
with domain model  example
the following code shows that under some circumstances
the inserting of elements into a list leads to deletion of comments

[code]

the problem is in the hidden token sequencer
=> if i work around that it works for me

[code]

[2018-07-04 16:14] cdietrich commented on #782
@szarnekow @meysholdt do you have any hints for me?

[2018-07-04 16:47] miklossy commented on #782
Thi could be related to https://github.com/eclipse/xtext-xtend/issues/415
@cdietrich what do you think?

[2018-07-04 16:53] cdietrich commented on #782
I think it is not directly related

[2018-07-06 07:57] sigiesec opened #783 "InMemoryFileSystemAccess creates weird paths"
When I call
[code]
the resulting path in fsa.textFiles is "DEFAULT_OUTPUTfoo", which looks pretty weird. I think it would be better to insert a separator after the output configuration name, i.e. "DEFAULT_OUTPUT/foo".

In addition, I found that there is a class org.eclipse.xtext.junit4.util.InMemoryURIConverter, but it is unrelated to InMemoryFileSystemAccess. I created one for my tests as follows

[2018-07-06 07:58] cdietrich commented on #783
i am not sure how many clients would break by such a change

[2018-07-06 08:45] sigiesec commented on #783
I wasn't sure if the current behaviour is intentional or if it is a bug.

[2018-07-06 08:47] cdietrich commented on #783
the code was changed to the current one from

[code]

in 2014

@szarnekow  i assume you dont remember why

[2018-07-06 09:13] szarnekow commented on #783
Looks like
https://github.com/eclipse/xtext-core/commit/beb372270c91de64c709a50018e3d0c1b555ba73#diff-d1afcb7d9b8b5e017b3b2cc294eb81dc

introduce getFileName which returned a URI syntax (?) and the following commit restored the broken behavior from before:

https://github.com/eclipse/xtext-core/commit/7d957a18f5f20f5c2b9d6688287fe0b8cfa7122c

Since the filename is merely a string and it would inde

[2018-07-06 09:15] cdietrich commented on #783
but that would break all clients right that dont explicitely opt-in into the compat mode?

[2018-07-06 09:42] szarnekow commented on #783
This would depend on the default ;)

[2018-07-09 07:14] cdietrich commented on #783
well if the default is the current state then it would be basically the same to create a InMemoryFileSystemAccess2 e.g. as a subclass with changed behaviour

[2018-07-09 07:42] szarnekow commented on #783
I've no preference about this.

[2018-07-09 12:13] enikao opened #785 "NPE in ResourceSetGlobalScopeProvider if no ResourceDescription for a Resource"
I'm working with a ResourceSet that may contain non-Xtext resources.

ResourceSetGlobalScopeProvider.createScopeWithQualifiedNames() cannot handle that (NPE in line 71):

[code]

Proposed fix: Add a nonNull filter to the `resourceDescriptions` iterator:
[code]

And when we're at it, converting the anonymous `ISelectable` within createScopeWithQualifiedNames() into a real class would support subcla

[2018-07-09 12:54] cdietrich commented on #785
@enikao is it intended that you dont have a resource service provider for your non xtext resources?
@szarnekow do you remember why it is done as it currently done?

[2018-07-09 13:19] szarnekow commented on #785
Looks like an oversight to me. Though I’m not sure if an exception would be the better solution rather than missing resources during scoping - potentially by accident.

[2018-07-09 15:11] enikao commented on #785
I get the ResourceSet from somewhere else, with no direct control over its contents. So there might be any kind of Resource. I could only think of a NOP resource service provider.

[2018-07-13 11:08] cdietrich opened #789 "ISE in Content Assist Parser"
Given the grammar

[code]

and the sample model

[code]

with  `<|>` beeing the cursor content assist gives

[code]

[2018-07-13 17:14] cdietrich commented on #789
potential workaround

[code]

[2018-07-18 08:39] cdietrich opened #790 "Cache Annotation/Checkmode in MethodWrapper"
```org.eclipse.xtext.validation.AbstractDeclarativeValidator.MethodWrapper.invoke(State)```
should cache the annotation instead of recomputing it each time.

the callers of createMethodWrapper should have it anyway

[2018-07-18 16:42] cdietrich commented on #790
@szarnekow how "api" is that code?

[2018-07-18 21:39] szarnekow commented on #790
What's your plan? It's certainly not on the obvious API surface.

[2018-07-18 21:40] cdietrich commented on #790
See pull request. I initiale planend to pass the annotation to the constructor but that is not needed

[2018-07-19 06:21] cdietrich opened #793 "Update to LSP4J 0.5.0"
Lsp4j will participate with 0.5.0 in 2018-09.
We should thus update the version we consume once it is available

@spoenemann can you give some hints on your time schedule?

Tasks
- Update Dependency
- Update IdePluginDescriptor and Tests
- Update Impl (e.g. codeAction)

[2018-07-19 12:10] spoenemann commented on #793
https://projects.eclipse.org/projects/technology.lsp4j

[2018-07-19 12:34] cdietrich commented on #793
do you have plans to publish snapshots so that we can consume a range or make the consumable dependent of xtext release or nightly beeing used

https://oss.sonatype.org/content/repositories/snapshots/org/eclipse/lsp4j/org.eclipse.lsp4j/

[2018-07-19 15:01] spoenemann commented on #793
We could shift the release date of one of the two projects, or simply make the build artifacts of LSP4J 0.5.0 available a few days earlier.

[2018-07-19 15:09] cdietrich commented on #793
the main problem is that producing xtext releases is still far from beeing a 1 hour task but rather a 1+ days task so i'd prefer it to have lsp4j before

[2018-07-20 08:20] #790 closed

[2018-07-24 08:44] kthoms opened #795 "[junit5] InjectionExtension not working with `@BeforeEach`"
The InjectionExtension implements `BeforeTestExecutionCallback`and `AfterTestExecutionCallback`. These lifecycle methods are called _after_ any user method. This does not work when a user defines a `@BeforeEach` method and expects that fields are injected before.

Instead, InjectionExtension has to implement `Before/AfterEachCallback`.

The following test will fail:
[code]

[2018-07-24 08:49] cdietrich commented on #795
did you test that with junit4?

[2018-07-24 09:14] kthoms commented on #795
Why JU4? BeforeEach and InjectionExtension is JU5 only.

[2018-07-24 09:31] cdietrich commented on #795
I just what both to be aligned

[2018-07-24 09:58] kittaakos opened #797 "The source mapping between the Xtend and the generated Java files are messed up"
I have experienced broken source mappings mainly in the LS related source when I was using xtext-core in Eclipse.

I am using `org.eclipse.xtext.ide_2.14.0.v20180424-1540.jar`.

Opening a type opens up the generated files instead of the Xtend file. It is not true for all types, but for a few. For instance, `TopologicalSorter` and `Document` are broken, but it is OK when opening the `DocumentExtens

[2018-07-24 09:59] cdietrich commented on #797
A PR fixing this would be welcome

[2018-07-24 10:14] kittaakos opened #798 "[ls] Convenient support for custom `InternalStatefulIncrementalBuilder` bindings"
Currently, I need to do something like this if I would like to have a custom binding for my LS.
[code]

The `InternalStatefulIncrementalBuilder` class is a protected static class of the `IncrementalBuilder`. Please make it `public`, or I can provide a PR too.

[2018-07-24 10:17] cdietrich commented on #797
@kittaakos btw your timestamp looks wired. are you sure you dont have a old nightly? that source and code versions match?

[2018-07-24 10:21] cdietrich commented on #797
problem can be reproduced with

[code]
and org.eclipse.xtext.ide.server.Document

[2018-07-24 10:35] cdietrich commented on #797
place to debug: org.eclipse.xtext.common.types.ui.trace.ClassFileBasedOpenerContributor.collectSourceFileOpeners(IEditorPart, IAcceptor<FileOpener>)

[2018-07-24 10:38] cdietrich commented on #797
hmmm there are cases where it does not work at all

[2018-07-24 11:06] szarnekow commented on #797
This is a known limitation of the eclipse APIs. Within the code that allows to override the editor for a given IJavaElement, we only get the simple name of the type. TopologicalSorter and Document do appear more often thus we do not find the real thing. In conclusion: We do not find the trace file. So we cannot navigate to the Xtend file.

[2018-07-24 11:11] cdietrich commented on #797
But it’s not working for other files too. Still don’t know where the right place to debug is

[2018-07-24 11:12] szarnekow commented on #795
Indeed a Junit4 test with `@Before` and `@After` would be great. The registry should still have the "test"-state in the after method and injected stuff should be available in the before method.

[2018-07-24 11:30] kittaakos opened #799 "[ls] The incremental builder occasionally deletes generated files"
It does not happen with the clustering builder state in Eclipse.

https://github.com/eclipse/xtext-core/blob/efa0ddbde33a67fb9d685ffc1cb5359d35bc6982/org.eclipse.xtext/src/org/eclipse/xtext/build/IncrementalBuilder.xtend#L175-L179

For the language I am currently working, there is some black magic that out of nothing generates a file inside the gen folder. Now, this is cleaned up by the incrementa

[2018-07-24 11:32] kittaakos opened #800 "[ls] Diagnostics generated during the LS initialization can never arrive to the client"
Because it is not yet ready, we are just initializing the LS. A related discussion is here: https://github.com/theia-ide/theia/issues/2422

[2018-07-24 11:41] cdietrich commented on #800
have never experienced this with vscode.

[2018-07-24 11:41] kittaakos opened #801 "[ls] LS cannot receive DidChangeWatchedFilesNotification during its initialization"
I am not sure whether this is a bug or not, but in some rare situations, it can break the incremental builder and requires client adjustments for the Xtext LS.

**Iff** a language generates model files during the build, the client receives the new file events and tries to send a `DidChangeWatchedFilesNotification` to the server. But it cannot, it is still initializing, and the build phase is in pr

[2018-07-24 13:38] cdietrich commented on #799
can you give more details on what the problem is. that files are created and deleted by the builder happens in eclipse too

[2018-07-24 13:39] cdietrich commented on #801
do you generate files of one dsl files from another dsl file or is the files unrelated?

[2018-07-24 13:56] kthoms commented on #795
I'm not sure if there is something to align here. The InjectionExtension's equivalent is XtextRunner. I don't think something has to change there.

[2018-07-24 14:00] kthoms commented on #795
Ah, did not see @szarnekow 's comment before. I could have a look at XtextRunnerTest to align it.

[2018-07-24 14:16] kthoms commented on #795
Added `@Before` test to XtextRunnerTest.

[2018-07-24 14:30] kittaakos commented on #799
The use-case is somewhat related to #801. Multiple files are created on the fly **before** even hitting the generate phase. Perhaps that is the problem. Can you please point me to the code in the Eclipse builder where we delete **stale** generated files? Thanks!

My concern is that the LS incremental builder is trying to be smarter than it should be.

[2018-07-24 14:31] cdietrich commented on #799
see org.eclipse.xtext.builder.BuilderParticipant.cleanDerivedResources(Delta, Set<IFile>, IBuildContext, EclipseResourceFileSystemAccess2, IProgressMonitor)

[2018-07-24 14:33] kittaakos commented on #801
It works. The Eclipse builder immediately kicks in with the new files. At least, that was my experience so far.

That is my local workaround so far.

Not yet. I am sure we get back to these issues soon and I will update this thread.

[2018-07-24 14:34] cdietrich commented on #799
@kittaakos is it possible you have a n:1 generation scheme: 1 target file gets generated from multiple source file?

[2018-07-24 14:40] kittaakos commented on #799
No. That is not the case. A model file might end up in multiple generated files.

[2018-07-24 14:42] cdietrich commented on #799
but if the condtions (the may) change then it is correct to delete the stale files

[2018-07-24 14:44] cdietrich commented on #801
then you have a second builder that touches the first files. a eclipse builder never sees the files it created itself.

[2018-07-24 14:52] kittaakos commented on #801
Exactly. This second thingy is missing in case of the LS because it cannot receive the notifications about the watched files changes.

[2018-07-26 14:42] cdietrich opened #804 "Case insensitive grammar + "/EOF" grammar"
The following grammar fails with `ignorecase=true`

[code]

workaround

[code]

[2018-07-26 16:10] cdietrich commented on #804
Fixed in 2.14

[2018-07-26 16:11] #804 closed

[2018-07-27 06:56] #795 closed

[2018-07-29 15:46] svenefftinge commented on #798
I don't remember. Sounds good to me to expose it.

[2018-07-29 16:17] kittaakos commented on #798
Great, thanks for checking. There is another thing I would like to modify within this PR:

https://github.com/eclipse/xtext-core/blob/909bf238d109ddb8ea1faceb1d18fe6c4500aeac/org.eclipse.xtext/src/org/eclipse/xtext/build/IncrementalBuilder.xtend#L53-L54

These two fields have their generated `protected` setters, but they're not used because of the assignments

https://github.com/eclipse/xtext-core

[2018-07-30 07:56] #798 closed

[2018-07-30 07:56] cdietrich commented on #798
Fixed in 2.15

[2018-07-30 11:51] cdietrich commented on #773
see also https://bugs.eclipse.org/bugs/show_bug.cgi?id=508518

[2018-07-30 11:52] cdietrich commented on #771
@holgerschill  any news on this issue?

[2018-07-31 14:24] cdietrich commented on #789
@szarnekow i remembered what the problem with the inlining of the list to the group was

given the grammar

[code]

and model

[code]

you dont get a proposal for "a" at the cursor

nor for "a" and "b" here

[code]

[2018-08-03 08:18] cdietrich commented on #799
@kittaakos any feedback on the issue?

[2018-08-03 08:32] kittaakos commented on #799
What kind of feedback are you looking for? You need the promised use case, right? (Unfortunately, I won't have time to make it this week.) Or is it still unclear when and how does this happen?

[2018-08-06 08:05] #221 closed

[2018-08-07 12:08] newlo14 opened #811 "unknown comparison failure with formatter"
I'm customizing the xtext formatter of my dsl and whist testing I get a weird comparison failure I don't understand.
Here's the relevant part of my grammar :

[code]
Here's the test:
[code]
And the comparison failure I get, I assume, has something to do with a problem regarding a terminal rule, since I am not doing anything extraorinary in the formatter.

The bug even occurs if I comment out my co

[2018-08-07 12:09] cdietrich commented on #811
workaround

[code]

[2018-08-08 07:12] kittaakos opened #812 "[ls] Support the semantic highlighting with the Xtext LS"
There is a proposed LSP extension for the semantic highlighting here: https://github.com/Microsoft/vscode-languageserver-node/pull/367.

I would like to start working on the Xtext LS part.

[2018-08-14 07:45] kittaakos opened #813 "[ls] Cannot build xtext-core with LSP4J 0.5.0 dependency"
There was a [Code Action related API](https://github.com/eclipse/lsp4j/commit/378e4e49b3e78e75623fab313b27c5c17c846388) change. I will take care of it.

[2018-08-14 07:46] kittaakos commented on #812
Depends on https://github.com/eclipse/xtext-core/issues/813.

[2018-08-14 07:46] cdietrich commented on #813
this looks like a duplicate of https://github.com/eclipse/xtext-core/issues/793

[2018-08-14 07:50] kittaakos commented on #813
It is, sorry for the noise.

[2018-08-14 07:50] #813 closed

[2018-08-14 08:47] cdietrich commented on #759
we decided to use the new emf composite update site.
analogous http://download.eclipse.org/modeling/tmf/xtext/updates/composite/nightly/compositeContent.xml should use http://download.eclipse.org/modeling/emf/emf/builds/nightly/latest

[2018-08-14 10:48] Rajsmit commented on #800
I am also experiencing this issue and as per analysis the client is not ready to receive message until server sends back the initializeResult with capability.
The initial build shoud be started once we receive the Initialized even, then client can get all the diagnostic that is reported during initial build.

[2018-08-16 11:34] spoenemann commented on #793
I'll try to create a milestone version of LSP4J next week so Xtext can be tested with that. We'll create the release build for LSP4J on August 3rd so it can be consumed by the Xtext release.

[2018-08-16 15:20] kthoms opened #816 "Project/File Wizard: plugin.xml contribution"
Unlike other contributions, the project wizard creates spaces instead of tabs. This should be harmonized.

Further, the template provider's class should be prefixed with the extension factory.

Same issue for the file wizard.

![screenshot 285](https://user-images.githubusercontent.com/265597/44217854-b46d2780-a178-11e8-8c9d-48e5b9edcfa6.png)

[2018-08-16 16:44] cdietrich commented on #816
@kthoms @ArneDeutsch do you kknow why we dont use executable extension factory?

[2018-08-16 20:01] cdietrich commented on #69
@ArneDeutsch can this be closed?

[2018-08-17 06:40] kthoms commented on #816
I think it was forgotten. We stumbled over this when we wanted to used `@Inject` in a template provider in a customer project.

[2018-08-17 14:39] ArneDeutsch commented on #69
We have found a working fix but it is actually quite ugly because the error message need to be inspected to get all cases green. https://github.com/eclipse/xtext-core/commit/35582ebd66efca10a718ce878f455bedcff910a9

Because of this we have reverted the fix for now. https://github.com/eclipse/xtext-core/commit/deb6ad62fe5595810d6e91ece7fecea0da36c103

Furthermore we have disabled the added test cas

[2018-08-17 15:02] cdietrich commented on #816
Fixed in 2.15

[2018-08-17 15:02] #816 closed

[2018-08-21 09:02] cdietrich opened #821 "[LS] Support for new/changed features in lsp4j 0.5"
we should investigate if/how we want to support new/changed features in lsp4j 0.5

- Command / Action
- Outline / Document Symbol https://github.com/eclipse/xtext-core/issues/858
- Folding

(check for others)

[2018-08-21 19:48] cdietrich opened #822 "[Wizard] Use 2018-09 in Target Platform"

[2018-08-22 07:42] cdietrich opened #824 "[Wizard] why do we still create a dependency to Xpand/Xtend(1) in the generated target file"
[code]
why is this still there, is it needed?

(see domain model example too)

[2018-08-22 09:01] ArneDeutsch opened #825 "ConfigurableIssueCodesProvider generated even when no grammar annotations are used"
Found in the nigthly of Xtext 2.15.0. I have a customer project where I define my own `ConfigurableIssueCodesProvider` for the language CFG. But building the language l end up with two classes `CFGConfigurableIssueCodesProvider` and two tries to bind them.
I would propose two changes:
1. Generate a less dangerous name ... e.g. `CFGDeclarativeIssueCodesProvider`.
2. (not sure if best solution) ...

[2018-08-22 09:03] cdietrich commented on #825
maybe default false and "on" with wizard?

[2018-08-22 09:04] holgerschill commented on #825
Or looking for usage of the annotations and only then generate the stuff.

[2018-08-22 09:04] holgerschill commented on #825
Current default is true.

[2018-08-22 09:09] holgerschill commented on #825
maybe default false and "on" with wizard? -> sounds good. Should I do that @cdietrich ?

[2018-08-22 13:34] szarnekow commented on #825
👍

[2018-08-23 07:29] kutschkem opened #827 "[2.14.0][Standalone] ResourceDescriptions are not bound in ResourceDescriptionsProvider"
I have issues with cross-referencing between two grammars. In an eclipse context, everything works as expected, but in Standalone mode, the cross-references fail to be resolved.

Here is how I create ResourceSets in the eclipse context:

	@Inject
	IResourceSetProvider rsp;

	@Override
	protected XtextResourceSet getResourceSet(URI uri) {
		return (XtextResourceSet) rsp.get(getProject(uri));
	}

	/

[2018-08-23 07:40] cdietrich commented on #827
How do you create the injector.
Iproject is not a stand-alone thing

[2018-08-23 07:55] kutschkem commented on #827
Injector globalStateInjector = Guice.createInjector(
          new IniConfigModule(iniConfig),
          new LoggingModule(LoggingBindings.CL, null)
          );

      ProtobufStandaloneSetup.doSetup(globalStateInjector);    //Setup language 1
      globalStateInjector = YaafStandaloneSetup.doSetup(globalStateInjector);  //Setup language 2

[2018-08-23 07:57] cdietrich commented on #827
is that the project where createChildInjector is used all over the place in some internals? dont use createChildinjectors. create injectos only on top level.

[2018-08-23 08:02] kutschkem commented on #827
Yes that is right.

[2018-08-23 08:50] kutschkem commented on #827
Removing the childinjector from the StandaloneSetup helped, for some reason. The modules that end up in the injector are the IniConfigModule, LoggingModule, which both just bind a handful of inctances, and the YaafRuntimeModule.

This was then used for further childInjector creation, which did in fact in the past cause problems with JIT-bindings, but I worked around that by providing an explicit b

[2018-08-23 09:06] cdietrich commented on #827
that is what i meant: no child injectors at all

[2018-08-23 09:06] #827 closed

[2018-08-23 09:54] cdietrich commented on #825
@holgerschill is this fixed now?

[2018-08-23 09:56] holgerschill commented on #825
Yes

[2018-08-23 09:56] #825 closed

[2018-08-23 09:56] holgerschill commented on #825
Fixed in 2.15

[2018-08-23 13:55] cdietrich opened #828 "[Wizard] Update xtext-gradle-plugin to 2.0.1 (or later)"
[Wizard] Update xtext-gradle-plugin to 2.0.1 (or later)

- update wizard and tests
- test the new wizard with gradle szenarios

[2018-08-23 13:56] cdietrich opened #829 "[Wizard] Update Gradle to 4.9 (or later)"
[Wizard] Update Gradle to 4.9 (or later)

- update wizard and tests
- test the new wizard with gradle szenarios

[2018-08-23 19:00] cdietrich commented on #829
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=17352

[2018-08-24 07:53] szarnekow commented on #824
Sounds to me like an oversight.

[2018-08-24 08:21] cdietrich opened #834 "Generate Testlanguages Fails"
./gradlew clean generateTestLanguages -PuseJenkinsSnapshots=true

[code]

[2018-08-24 09:03] cdietrich commented on #834
Fixed in 2.15

[2018-08-24 09:03] #834 closed

[2018-08-24 10:41] cdietrich commented on #771
ping @holgerschill

[2018-08-24 11:49] cdietrich commented on #824
Fixed in 2.15

[2018-08-24 11:49] #824 closed

[2018-08-24 13:25] cdietrich commented on #828
Fixed in 2.15

[2018-08-24 13:25] #828 closed

[2018-08-27 14:12] cdietrich commented on #829
Fixed in 2.15

[2018-08-27 14:12] #829 closed

[2018-08-28 12:31] holgerschill commented on #771
Fixed in 2.15

[2018-08-28 12:31] #771 closed

[2018-08-28 15:04] cdietrich opened #841 "Broken Combination Maven Tycho + Gradle + JUnit5"
if you choose Combination Maven Tycho + Gralde + JUnit5 in the wizard then the resulting build will fail cause junit5 cannot handle the engine detection properly

[2018-08-28 15:05] holgerschill commented on #841
jupiter.engine must not be a P2 dependency.

[2018-08-28 15:20] holgerschill commented on #841
Fixed in 2.15

[2018-08-28 15:20] #841 closed

[2018-08-29 09:48] dhuebner commented on #821
@cdietrich Are there already concrete plans to extend the  ICodeActionService to support `CodeAction` ?

[2018-08-29 09:48] cdietrich commented on #821
unless you or @kittaakos dont provide anything: no

[2018-08-29 10:12] dhuebner commented on #821
@cdietrich
The changes around the CodeAction will simplify the implementation a lot. We will figure out who and when can do it

[2018-08-29 10:14] dhuebner commented on #821
Link to the corresponding documentation:
https://microsoft.github.io/language-server-protocol/specification#textDocument_codeAction

[2018-08-29 11:00] dhuebner commented on #793
FYI: The Lsp4J 0.5.0M1 is contributed to the Photon 2018-09 staging repository

[2018-08-29 11:06] kthoms commented on #821
It would be sufficient to provide separate PRs and reference this issue. The issue will be resolved when all LSP 0.5 features are supported.

[2018-08-29 11:38] cdietrich opened #844 "Integrate Performance optimization for cyclic linking detection"
the cyclic linking detection for `org.eclipse.xtext.linking.lazy.LazyLinkingResource.getEObject(String, Triple<EObject, EReference, INode>)` is not optimal due hashset add/remove. the optimization we have in place in some projects should be generalizable so that we should include it in the default implementation

[2018-08-29 13:27] dhuebner commented on #821
Regarding the CodeAction, the fix that @kittaakos  did in https://github.com/eclipse/xtext-core/pull/815/files#diff-b63a430ae1f0796570037b39d1f135a3R24 would already work for me.

[2018-08-29 13:30] cdietrich commented on #821
@dhuebner this is not about beeing compilable but to actually use the new api

[2018-08-29 14:34] ArneDeutsch opened #845 "Task creation is slow and adds pressure to GC"
The creation of TODO markers need to touch every comment and creates an ArrayList and a HashMap for each and every comment. For projects with a lot of comments (e.g. because single line comments are used for large blocks of comments) this adds up considerable. Avoid needless creation of collections.

[2018-08-29 15:23] #812 closed

[2018-08-29 15:43] cdietrich commented on #812
thx @kittaakos for your contribution

[2018-08-29 16:56] cdietrich commented on #525
Fixed in 2.15

[2018-08-29 16:56] #525 closed

[2018-08-29 16:57] cdietrich commented on #845
Fixed in 2.15

[2018-08-29 16:57] #845 closed

[2018-08-29 19:26] kthoms opened #849 "Make CliProjectsCreator executable"
To make the CliProjectsCreator usable as CLI tool to create Xtext projects, it could become a main class with appropriate command line interface and main method.

This will help to scaffold projects with a simple interface.

[2018-08-30 12:02] cdietrich commented on #849
for args4j https://dev.eclipse.org/ipzilla/show_bug.cgi?id=17418

[2018-08-30 12:03] NDuemmel opened #851 "Library issues with New MyDSL Project Wizard in 2.14"
Hello,

creating a new MyDSL Project using the New Project Wizard that came with 2.14 leads to issues with resolving library contents offered by MyDSL. The contents cannot be resolved even after adding the dependency in the manifest.

My DSL Plugin has these line in mwe2 file:

[code]

When I create my Project via New -> MyDSL Project, it lacks the dependency to MyDSL Plugin after creation and its

[2018-08-30 12:15] ArneDeutsch commented on #851
Fixed the default project template. In the meantime until the release you can adapt the generated `MyDslProjectTemplateProvider` and add the builder `org.eclipse.xtext.builder.impl.XtextBuilder.BUILDER_ID` there. You will have to adapt the template anyway.

[2018-08-30 12:19] NDuemmel commented on #851
Thank you, it works now.

[2018-08-30 13:56] cdietrich commented on #851
Fixed in 2.15

[2018-08-30 13:56] #851 closed

[2018-08-31 18:38] cdietrich commented on #822
Fixed in 2.15

[2018-08-31 18:38] #822 closed

[2018-09-03 12:30] spoenemann commented on #793
LSP4J 0.5.0 is now available, so Xtext 2.15.0 can be built with it.

The Maven artifacts are already published, but the p2 repository is not yet copied to the Eclipse downloads section. Until that is done, the following URL can be used:

https://ci.eclipse.org/lsp4j/job/lsp4j-release/20/artifact/build-result/p2.repository/

[2018-09-03 12:32] cdietrich commented on #793
ill give it a try

[2018-09-03 12:35] cdietrich commented on #793
artifacts are not mirrored to jcenter yet

[2018-09-03 13:35] cdietrich commented on #793
Fixed in 2.15. thx @spoenemann @kittaakos

[2018-09-03 13:35] #793 closed

[2018-09-04 08:11] cdietrich commented on #844
TODO: investigate if we need to detect overriding of handlingCyclicLinkException

[2018-09-04 08:30] cdietrich commented on #849
@kthoms this is fixed and delivered with 2.15 correct?

[2018-09-04 08:56] cdietrich commented on #69
@ArneDeutsch will you come up with a PR for the validation as discussed with @szarnekow

[2018-09-04 08:56] kittaakos commented on #821
I would like to make some contribution to support the hierarchical document symbols in the Xtext LS. That feature does not have its own GH ticket, and I would like to avoid stepping on somebody's toes and the do the work twice. Do I have the green light for that?

 - https://microsoft.github.io/language-server-protocol/specification#textDocument_documentSymbol
 - "_The client support hierarchical

[2018-09-04 09:05] cdietrich commented on #821
@kittaakos can you create a second issue for that. then i can link it above.
currently nobody from itemis side is working on this so unless you dont step on dennis toes we are fine

[2018-09-04 09:08] kittaakos opened #858 "[LS] Support the hierarchical document symbols"
Part of the issue description was copied from [here](
https://github.com/eclipse/xtext-core/issues/821#issuecomment-418292716).

 - https://microsoft.github.io/language-server-protocol/specification#textDocument_documentSymbol
 - "_The client support hierarchical document symbols._"
 - "_[...] Document symbols can be hierarchical and they have two ranges [...]_"
 - `TextDocumentClientCapabilities.

[2018-09-04 09:15] cdietrich commented on #858
it would be nice if the api could be designed in a way that is independent from lsp so that the same implementation can be used in eclipse and lsp via adapters

[2018-09-04 09:27] cdietrich commented on #489
Moved to 2.16

[2018-09-05 05:03] cdietrich opened #859 "Consider to bump xbase.lib in RuntimeProjectConfig"

[2018-09-05 19:28] kthoms commented on #849
Correct, added with 2.15.

[2018-09-05 19:28] #849 closed

[2018-09-06 08:16] knutwannheden opened #860 "Pass on load options to ResourceStorage* classes"
I think that `StorageAwareResource#load(Map<?, ?>)` should pass on the load options Map to the `ResourceStorageFacade` and `ResourceStorageLoadable`. This for example allows implementations to implement conditional loading.

My use case is to implement on-demand loading of the node model and also completely suppress loading of the node model. The reason being that the node model typically requires

[2018-09-06 12:02] sailingKieler opened #861 "ContentAssist incomplete for grammars requiring prediction multiple times"
I spotted a firm bug in the error detection of the content assist that prevents the creation of valid CA proposals. The grammar need to cause Antlr to `predict()` twice during the `FollowElement` computation. Here's an exemplary grammar
[code]

The first unbounded look ahead is required for distinguishing the applicability of `FieldDecl` vs. `MethodDecl` because of the * cardinality of the call of

[2018-09-11 08:27] cdietrich opened #864 "Find a replacement for MergableManifest that works fine with java 9+"
- Find a replacement for MergableManifest that works fine with java 9+
- Mark the old one as deprecated

[2018-09-11 08:28] cdietrich commented on #864
cc  @ArneDeutsch

[2018-09-12 11:23] kthoms opened #867 "[JUnit] Check against JUnit 5.3.1 for Eclipse 2018-12"
We have to make sure to use the new JUnit version when available in Orbit.

---------- Forwarded message ----------
From: Noopur Gupta <noopur_gupta@in.ibm.com>
Date: 2018-09-12 12:25 GMT+02:00
Subject: [orbit-dev] Replace JUnit 5.1 with JUnit 5.3.1
To: orbit-dev@eclipse.org

Hello,

The JDT project is planning to add JUnit 5.3.1 into Orbit and remove
the older JUnit 5.1 in master branch for Eclip

[2018-09-13 14:30] sailingKieler commented on #861
@szarnekow could you elaborate a bit on the intention of this customization? https://github.com/eclipse/xtext-core/blob/4270986cba1dc9d811dad148f93e11bbc7193fa2/org.eclipse.xtext.ide/src/org/eclipse/xtext/ide/editor/contentassist/antlr/internal/DFA.java#L45

The subsequent line seems to suggest a relation to predicated grammar rule parts. However, I couldn't find any other evidence. Wrt. the erron

[2018-09-13 16:27] szarnekow commented on #861
@sailingKieler I don't recall from the top of my head. When in doubt, remove the specialization and run all the content assist test. I suspect there will be test failures afterwards. Debugging from there may help to understand it.

I don't understand your remark about logging purposes. Find references reveals many usages none of which I can spot are related to mere logging. What are you referring

[2018-09-25 12:13] #858 closed

[2018-09-26 11:59] kittaakos opened #882 "DocumentSymbolRangeProvider incorrectly handles `range` and `selectionRange`"
I have messed it up, will create a patch soon.

From the [specification](https://microsoft.github.io/language-server-protocol/specification#textDocument_documentSymbol):

 - `DocumentSymbol#range`: _The range enclosing this symbol not including leading/trailing whitespace but everything else like comments. This information is typically used to determine if the clients cursor is inside the symbol t

[2018-09-27 18:36] knutwannheden commented on #860
Since no interfaces are involved, we could add an overloaded method. The question is just which method would delegate to which one in the implementation. The new method could delegate to the original one and implementations which wish to use the options would have to override.

But I also wonder if this should really be considered API. None of the methods except the constructor are public, which i

[2018-09-30 20:28] colameo opened #884 "Xtext 2.15.0 generates projects with old 2.14.0 dependencies:"
**With Xtext 2.15.0 generated project:**

![_org_eclipse_xtend_lib_and_ws_-_org_xtext_example_mydsl1_meta-inf_manifest_mf_-__users_serano_development_eclipse_4_8_eclipse-jhipster_ws_-_eclipse_ide](https://user-images.githubusercontent.com/629760/46262283-63827a00-c4ff-11e8-8878-ae1a87d28622.jpg)

[2018-09-30 20:36] cdietrich commented on #884
Duplicates https://github.com/eclipse/xtext-core/issues/859

[2018-10-01 06:53] kaikreuzer opened #885 "Make LSP server shutdown configurable"
We (that is the Eclipse SmartHome project) recently upgraded to Xtext 2.14 and now ran into the issue that [our server is silently shutting down](https://github.com/eclipse/smarthome/issues/6291), if VS Code is disconnecting after having used LSP.
We tracked that down to https://github.com/eclipse/xtext-core/pull/474 and being a "feature" of an LSP server. While I see that this is a part of the sp

[2018-10-01 07:17] kthoms commented on #885
I understand your concern, but as you already found out it is a feature. Your requirement is to shut down the OSGi container then, and a listener could be a way to do so. However, the Xtext core bundles are not aware of OSGi and don't have a dependency on that. And I do not think that one should be introduced. This means it must be somehow added from outside.

I could imagine to delegate the behav

[2018-10-01 07:32] kaikreuzer commented on #885
No, not at all - at most, the LSP server bundles should stop their services and must not impact any other code running on the OSGi container. Btw, just for my understanding, what is the background of this "feature"? If the server is stopped upon closing the editor, how is it started when opening the editor again?

Well, the concept of registering listeners (`addExitNotificationListener` method) is

[2018-10-01 07:37] cdietrich commented on #885
@svenefftinge please comment what you think regarding this issue. Adding a new listener is bad since it breaks api. What about a new callback that defaults to calling system.exit

[2018-10-01 09:27] kaikreuzer commented on #885
FTR, the server might be in some limbo state if the security manager prevented the system exit as the LSP server might remain in "being shut down" state. (I couldn't clearly reproduce this, see [this comment](https://github.com/eclipse/smarthome/issues/6291#issuecomment-425843106).)

[2018-10-01 11:29] svenefftinge commented on #885
I agree with kai in that we should not call System.exit down in a library. Instead we should provide a onExit callback that is provided from the starter code.

[2018-10-02 07:37] svenefftinge opened #888 "[LSP] Ignore didChangeWatchedFiles for open documents"
The language server should ignore file change events for documents that are opened in an editor.

[2018-10-02 17:54] #882 closed

[2018-10-06 16:38] cdietrich commented on #74
since platform will no longer support 32 bit in 4.10 (2018-12) and later we will close this as wontfix
https://bugs.eclipse.org/bugs/show_bug.cgi?id=536766

[2018-10-06 16:38] #74 closed

[2018-10-07 07:41] svenefftinge commented on #888
Yes, it should be ignored as well.

[2018-10-07 09:28] cdietrich commented on #888
Sure? What do clients send on delete? Just make sure the server recognizes deletes

[2018-10-08 09:53] svenefftinge commented on #888
When a document is open it overlays the file version. Only when it gets closed the language server should update with the contents from the file system again.

[2018-10-08 10:31] cdietrich opened #893 "[LSP] Update to LSP4J 0.6.0"

[2018-10-08 10:48] kthoms commented on #893
I'd prefer that the LSP4J 0.6 support would be prepared on a separate branch until the release version is available. In other words: Do not have a snapshot dependency on master.

[2018-10-08 15:01] cdietrich commented on #800
@dhuebner is this fixed now?

[2018-10-08 19:42] #800 closed

[2018-10-09 11:33] cdietrich commented on #888
@dhuebner is this fixed now?

[2018-10-09 11:38] dhuebner commented on #888
@cdietrich Yes

[2018-10-09 11:38] #888 closed

[2018-10-09 11:39] cdietrich commented on #888
thx @dhuebner

[2018-10-09 13:11] cdietrich commented on #860
@szarnekow what do you think?

[2018-10-09 13:57] cdietrich opened #897 "[LSP] Implement Folding"
- Implement Service
  - Would be nice if the actual impl would be free of LSP4J classes and similar to the eclipse api
  - so that it can be adapted in both eclipse and lsp4j
- Test Service (implement folding in lsp test lang & write a test for it, maybe adapt AbstractLanguageServerTest)

[2018-10-09 14:00] cdietrich commented on #821
created https://github.com/eclipse/xtext-core/issues/897 for folding
@kittaakos has provided an impl for outline

[2018-10-09 14:00] #821 closed

[2018-10-09 15:42] #859 closed

[2018-10-09 15:47] cdietrich commented on #705
could be unsolveable this way once we have a bom

[2018-10-10 16:19] szarnekow commented on #860
Adjust as needed and than we can assess the impact.

[2018-10-11 09:07] cdietrich commented on #867
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=17855

[2018-10-11 17:30] cdietrich opened #903 "[Wizard] build agains 2018-12"
[Wizard] build agains 2018-12 once M1 is out

adapt domain model example as well

[2018-10-12 11:35] ckulla opened #906 "ConcurrentModificationException in AllRulesCache.findInEmfObject()"
I see from time to time a `ConcurrentModificationException` while parsing files with Xtext 2.14.0.

[code]

This happens in a multithreaded application, where files are parsed concurrently on differnet threads.
The application is a kind of background daemon for code generation in a C++ build system.
It happens only sporadically.

The EMF adapters list of the grammar object seems to get modified on

[2018-10-12 11:38] tivervac commented on #906
AFAIK, EMF is not threadsafe so trouble is to be expected

[2018-10-12 11:42] ckulla commented on #906
Yep, still I think my use case should be supported. The application works on different resource sets per thread.

[2018-10-12 11:44] cdietrich commented on #906
@ckulla can you please provide a PR

[2018-10-12 11:57] ckulla commented on #906
@cdietrich I don't have a solution yet. Any pointers?

[2018-10-12 11:58] cdietrich commented on #906
call createParser on a lock?

[2018-10-12 11:59] cdietrich commented on #906
@szarnekow  any idea?

[2018-10-12 12:40] szarnekow commented on #906
I would try to avoid a synchronized createParser. We could add a boolean value to the `@EmfAdaptable` whether the adapter is to be found in a concurrent env. In that case, we could change the lookup / store logic to be synchronized.

We could even think about installing the given adapter already when the Grammar instance is produced.

[2018-10-12 12:44] ckulla commented on #906
@szarnekow  Thanks for the quick answer. I'm still wondering what kind of modification are causing the exception. Are there other places where objects/adapters are added to the grammar object?

[2018-10-12 12:51] cdietrich commented on #906
do you use multithreaded resource loading?

[2018-10-12 12:58] ckulla commented on #906
@cdietrich  Yes. The application is a headless application (a jetty based http server), where clients send http requests for code generation. Each request leads to resource loading in a separate resource set. The application prevents starting a JVM for each code generation request in our C++ build system. The application receives requests in parallel and processes them in separate threads.

[2018-10-12 13:03] cdietrich commented on #906
=> you use a single resourceset in multiple threads?

[2018-10-12 13:05] cdietrich commented on #906
=> what about triggering AllRulesCache.findInEmfObject(grammar); directly after creating the standalonesetup.

e.g. injector.get(MyDslGrammarAccess)
AllRulesCache.findInEmfObject(ga.getGrammar)
// pseudo code

[2018-10-12 13:06] ckulla commented on #906
Seems the be already the case:

https://github.com/eclipse/xtext-core/blob/5aa53f830144436d05b32fbf5abd4a9e5beb13fa/org.eclipse.xtext/src/org/eclipse/xtext/service/GrammarProvider.java#L74

[2018-10-12 13:07] ckulla commented on #906
No

[2018-10-12 13:09] cdietrich commented on #906
=> can you try to use a Listener to find out who changes the adapters?

[2018-10-12 13:12] ckulla commented on #906
Looks like the AllRulesCache was introduced with 2.14. This matches with my experience, the problem is present since upgrading to 2.14

[2018-10-12 13:13] cdietrich commented on #906
still the question: what other adapters are added to the grammar and who does it.

[2018-10-12 13:14] cdietrich commented on #906
e.g. do you use serializer?

[2018-10-12 13:15] cdietrich commented on #906
@szarnekow do you remember what you had to make threadsafe there in your project?

[2018-10-12 13:15] ckulla commented on #906
Yes

[2018-10-12 13:16] cdietrich commented on #906
=> maybe some other caches are added to the grammar in parallel to the read/creation of the parser

[2018-10-12 14:15] szarnekow commented on #906
I suspect the following:

Thread 1: (a) check grammar == null -> (b) go into the sync block -> (c) set this.grammar -> (d) install adapter
Thread 2: starts between (c) and (d) -> grammar is no longer null -> use the object while another thread is still modifying it.

[2018-10-12 14:18] szarnekow commented on #906
Potential solution: set this.grammar as the last step in the synchronized block. E.g. extract a method private Grammar doGetGrammar() {..} and use synchronized(this) { if (grammar == null) grammar = doGetGrammar() }

[2018-10-12 15:06] ckulla commented on #906
thx a lot, will check this on Monday and provide a PR.

[2018-10-16 08:31] cdietrich commented on #884
since we cannot control if we use new features that were introduce with 2.15 (or 2.16) we should bump this version to 2.16 (or at best read the version programmatically as we do it at other places)

[2018-10-16 08:43] cdietrich commented on #867
@kthoms do you think we should increase minimal versions in gradle and manifests as well?

[2018-10-16 08:47] cdietrich commented on #860
@knutwannheden could you please provide a pull request

[2018-10-16 21:06] kthoms commented on #867
I don't think so, since it would disallow to use that on Oxygen. We do not rely on a specific JUnit 5 version with the extension.

[2018-10-17 04:48] cdietrich commented on #867
We ship junit with our Update sure don’t we

[2018-10-17 06:40] cdietrich commented on #867
but which version should we use in gradle/maven?

[2018-10-17 06:40] cdietrich commented on #867
(and in the target platform)

[2018-10-17 07:18] kthoms commented on #867
Maven/Gradle is fine with 5.3.1, also for latest target def. But Oxygen/Photon targets stay as is.

[2018-10-17 09:55] tivervac opened #912 "Error when implementing IDE SemanticHighlighting"
While trying to implement SemanticHighlighting using the new ide API we're stumbling accross the following error.
`Access restriction: The type ISemanticHighlightingStyleToTokenMapper is not accessible due to restriction on required project com.sigasi.hdt.shared.ide`
My guess is that this would be resolved by adding `org.eclipse.xtext.ide.server.semanticHighlight` to the exported-package section i

[2018-10-17 09:56] cdietrich commented on #912
Is it not exported or exported as internal?

[2018-10-17 09:58] cdietrich commented on #912
If not it should be exported as internal to make clear it’s not API yet

[2018-10-17 10:00] tivervac commented on #912
Not exported at all

[2018-10-17 11:17] ckulla commented on #906
We need to reopen the issue. The issue still occurs.

The grammar object has the following three adapters attached:

[code]

There seems to be a modification on the adapter list on another thread while looking up the `AllRulesCache` instance in `AbstractInternalAntlrParser.createAllRules()`. The `GrammarElementDeclarationOrder` and `RuleNames$Adapter` are probably added later and interfere then wi

[2018-10-17 11:18] cdietrich commented on #906
as i said: the problem is that they may be other adapters attached (lazy) to the grammar.
these should be attached eager before starting multithreading

[2018-10-17 12:19] ckulla commented on #906
Eager attaching would mean that the `GrammarProvider` needs to know about the adapters of several other classes. This would increases coupling of the classes. We see this already with the AllRulesCache approach.

Another approach would be to protect lookup and manipulation of the grammar adapters from concurrent read and write. Either with synchronized code blocks or a `ReadWriteLock`.

[2018-10-17 13:38] szarnekow commented on #906
I would even prefer a single adapter that maintains a concurrency aware list / map of adapters ... something like a composite adapter. But that would be very involving. I'm with @cdietrich here: Would it be an option for you to init the necessary adapters before you start parsing?

[2018-10-17 13:39] szarnekow commented on #906
Yes, this is a valid usecase and happens regularly in other projects, too.

[2018-10-17 13:50] ckulla commented on #906
Unfortunately the type `org.eclipse.xtext.xtext.RuleNames.Adapter` is not visible.

[2018-10-17 14:05] cdietrich commented on #906
but you can call e.g. org.eclipse.xtext.xtext.RuleNames.getRuleNames(Grammar, boolean) ?

[2018-10-17 14:05] cdietrich commented on #906
the main problem: api changes. @szarnekow i dont see how we can fix this without breaking clients

[2018-10-17 14:34] ckulla commented on #906
`new RuleNames(grammar,true)` should do the trick. Will try...

[2018-10-18 05:58] ckulla commented on #906
This is what I have now (part of a custom GrammarProvider):

[code]

Both adapter installation calls are restricted as they are not part of the API. Seems to work so far.
I would prefer @szarnekow's suggestion to have a concurrency aware list / map of adapters.

[2018-10-18 10:24] dhuebner opened #916 "[LSP] Improve re-name target matching in RenameService"
[code]

Having cursor at position `<|>` (e.g. in VSCode wenn double clicking `cancelIndicator`) will trigger rename for the function and not the parameter `cancelIndicator`

[2018-10-18 11:22] dhuebner opened #917 "[LSP] Use object definition services when renaming a cross reference to an other language"
Currently RenameService uses the the services for the language that triggers the rename refactoring.

Language A
[code]

Language B
[code]
When triggering re-name MyType at `MyType t` the Language A should be used do the refactoring.

[2018-10-18 13:13] cdietrich commented on #885
Fixed in 2.16

[2018-10-18 13:13] #885 closed

[2018-10-19 06:01] ArneDeutsch commented on #864
New implementation with high test code ceoverage is in place.

[2018-10-19 06:01] #864 closed

[2018-10-19 08:34] ArneDeutsch opened #918 "Exception when executing MWE2 on Homeautomation Example in MergeableManifest2"
The replacement of MergeableManifest developed in #864 does not yet work flawless. Creating the Homeautomation Example and executing the MWE2 workflow produces an exception.

[2018-10-19 14:05] cdietrich commented on #918
@ArneDeutsch is this fixed now?

[2018-10-19 14:16] ArneDeutsch commented on #918
Right now jenkins has test failure. Most probably because of line ending issue. Should be fixed with latest comit.

[2018-10-21 08:14] cdietrich opened #922 "Bad Positions for Diagnostics at end of line when including newline"
from the spec

sample model

[code]

currently sent message
[code]

according to the spec:

[code]

[2018-10-21 08:15] cdietrich commented on #922
when using in [Intellij](https://github.com/gtache/intellij-lsp) this leads to

[code]

Atom and VSCode survive the bogus notifications

[2018-10-21 08:17] cdietrich commented on #922
@kittaakos how is this usecase treated in theia?

[2018-10-21 09:05] cdietrich commented on #922
am not sure if something like this would be feasable

[code]

[2018-10-22 06:09] cdietrich commented on #918
same problem with domainmodel example

[2018-10-22 13:14] ArneDeutsch commented on #918
Fixed.

[2018-10-22 13:14] #918 closed

[2018-10-26 07:58] cdietrich opened #923 "[LSP] API of ICodeActionService has no access to WorkspaceManager"
the current API work ICodeActionService looks like

`def List<Either<Command, CodeAction>> getCodeActions(Document document, XtextResource resource, CodeActionParams params, CancelIndicator indicator)`

as you can see the implementer of code actions has no access to the `WorkspaceManager`

lets compare it with the `IRenameService` API

`def WorkspaceEdit rename(WorkspaceManager workspaceManager, R

[2018-10-26 07:58] cdietrich commented on #923
[MyDslCodeActionService.xtend.txt](https://github.com/eclipse/xtext-core/files/2518283/MyDslCodeActionService.xtend.txt)

[2018-10-26 08:29] cdietrich commented on #799
@kittaakos any news on this?

[2018-10-26 08:45] cdietrich commented on #903
Done

[2018-10-26 08:45] #903 closed

[2018-10-26 09:54] cdietrich commented on #923
org.eclipse.xtext.ide.tests.testlanguage.ide.server.CodeActionService.recordWorkspaceEdit(Document, XtextResource, IModification<Resource>) tricks around that by not using manager at all (and e.g. ignoring dirty state)

[2018-10-26 13:29] cdietrich commented on #897
cc @lievenlemiengre

[2018-10-26 15:21] tjallingran commented on #41
TL;DR: Is there a way to get this to work for genmodels other than Ecore.genmodel?

The fix given by @spoenemann above seems to not work for our situation. (That said, @spoenemann: thanks for providing such a well-fleshed-out fix description and explanation of the problem.)

We're running into this issue with xtext 2.12.0, but with another genmodel than the Ecore one. We're using an externally pro

[2018-10-26 15:43] tjallingran commented on #41
We do indeed use `referencedResource="platform:/resource/com.example.a/model/A.genmodel"`. However, during the execution of the workflow, we get the following output:

1406 [main] INFO  clipse.emf.mwe.utils.GenModelHelper  - Registered GenModel 'http://com.example.a/A' from 'platform:/resource/com.example.a/model/A.genmodel'
1409 [main] ERROR xt.generator.XtextGeneratorLanguage  - Error loading 'p

[2018-10-29 08:35] kittaakos commented on #799
Unfortunately, there are no updates. Did you hit the same issue, @cdietrich?

[2018-10-29 08:37] cdietrich commented on #799
no. this is why i am asking.

[2018-10-29 08:41] kittaakos commented on #799
As I [wrote earlier](
https://github.com/eclipse/xtext-core/issues/799#issuecomment-407427475), if files are created outside of the generator (and generation phase), those files will be removed by the incremental builder. This does not happen with the builder in Eclipse.

[2018-10-29 08:55] cdietrich commented on #799
yes but i wonder why these files are in previous. eclipse builder does the same
=> there must be a difference how these files end up in previous

[2018-10-29 08:56] dhuebner commented on #923
@cdietrich Adding access to the resources did make sense at least from the point we added CodeAction as return type. I'm not quite sure that it should be the `WorkspaceManager` class because the only method being called is `doRead(URI uri, (Document, XtextResource)=>T work)` For me it  looks more like a kind of `IResourceAccess` is needed. However I would prefer an extension interface.

[2018-10-29 08:57] cdietrich commented on #923
hmm the workspace manager is already part of the change serializer api

[2018-10-29 12:53] kittaakos opened #924 "Default SemanticHighlightingTokens implementation throws IAE"
Originally from here: https://github.com/eclipse/lsp4j/issues/278

No updates are required when we use the default binding. In other words, we need to return here:
https://github.com/eclipse/xtext-core/blob/6c918d6fedb66b579f98fd58a9c7385841a408fb/org.eclipse.xtext.ide/src/org/eclipse/xtext/ide/server/semanticHighlight/SemanticHighlightingRegistry.xtend#L152-L154

[2018-10-29 13:16] svenefftinge commented on #923
We also have `ILanguageServerAccess` which also provides the underlying Document.
Maybe we should add an `ILspDocumentAccess` that only has the `doRead` method and have ILanguageServerAccess extend it.

[2018-10-29 13:17] svenefftinge commented on #923
The `WorkspaceManager` should not be exposed into APIs as it is now. I.e. the usage in the change serializer should indeed be replaced with something that only has the doRead method.

[2018-10-29 13:49] #924 closed

[2018-10-29 15:31] tjallingran commented on #41
Update: our issue appears to be fixed by changing the dependency on _A.genmodel_ in _B.genmodel_ from a platform plugin URI (which it should be) to a platform resource URI. That is, we went from
[code]
to
[code]

With this change the mwe2 workflow executes successfully, both in Eclipse and in our Maven/Tycho build.

[2018-10-29 15:39] cdietrich commented on #41
i still wonder if adding a uri mapping would have done the same

[2018-10-30 10:01] cdietrich commented on #922
@svenefftinge @kittaakos any thoughts?

[2018-11-01 10:55] cdietrich commented on #893
@spoenemann @kittaakos is there already a release timeline for that. we plan to release Xtext on Dec. 4th

[2018-11-01 11:05] kittaakos commented on #893
2018-11-30 is the planned date release for `0.6.0.`.

See: https://projects.eclipse.org/projects/technology.lsp4j.

[2018-11-05 14:29] cdietrich commented on #860
@knutwannheden any news on this?

[2018-11-06 12:19] fumakotaro opened #933 ""The code for the static initializer is exceeding the 65535 bytes limit" because of huge DFA string arrays"
The parser generator generates the InternalXXXParser class with DFA arrays with more than 9000 entries leading to the error "The code for the static initializer is exceeding the 65535 bytes limit".

Class splitting does not help.

[2018-11-06 12:20] cdietrich commented on #933
https://www.eclipse.org/forums/index.php/t/1096020/

[2018-11-06 14:10] cdietrich opened #935 "[Wizard] Consider workaround for: Surefire manifest jar classloading broken on latest Debian/Ubuntu Java8"
https://issues.apache.org/jira/browse/SUREFIRE-1588

[code]

[2018-11-06 18:29] cdietrich commented on #935
Todo remove workaround when new surefire plugin is our

[2018-11-06 18:43] cdietrich opened #937 "Remove javax.annotation workaround"
if there is a clean solution for  https://bugs.eclipse.org/bugs/show_bug.cgi?id=539038

remove workaround introduced with https://github.com/eclipse/xtext-core/pull/934

[2018-11-07 13:01] fumakotaro commented on #933
I attached a grammar to reproduce the issue to the forum post:
https://www.eclipse.org/forums/index.php?t=msg&th=1096020&goto=1797788&#msg_1797788

[2018-11-07 13:53] cdietrich opened #946 "PartialClassExtractor.SIGNATURE misses enum rules"
PartialClassExtractor.SIGNATURE misses enum rules

[code]

[2018-11-07 14:43] #844 closed

[2018-11-08 04:52] cdietrich commented on #946
Fixed

[2018-11-08 04:52] #946 closed

[2018-11-09 15:37] szarnekow opened #950 "Regression in Strings.convertFromJavaString"
Green with 2.14, red with 2.15
[code]

[2018-11-09 21:08] #950 closed

[2018-11-12 11:48] szarnekow opened #953 "Regression in MergableManifest2"
This test fails with the rewritten manifest impl:
[code]

The `reexport` is dropped.

[2018-11-13 15:31] cdietrich commented on #705
i think we should close this as wontfix

[2018-11-14 03:35] kthoms opened #959 "NPE in XtextValidator.hasAnnotation"
Argument `rule` can be `null`

[code]

[2018-11-14 04:52] #867 closed

[2018-11-14 07:59] cdietrich commented on #959
@kthoms is this fixed now?

[2018-11-14 08:20] kthoms commented on #959
Yes, fixed

[2018-11-14 08:20] #959 closed